// SweetAlert 2
$swal2-success: $success !default;
$swal2-error: $danger !default;
$swal2-warning: $warning !default;
$swal2-info: $info !default;
$swal2-question: $info !default;
@import "../../../lib/sweetalert/src/sweetalert2.scss";

.swal2-footer {
    text-align:center;
}
