.swal2-popup.swal2-toast {
    padding: $grid-gutter-width;

    .swal2-content {
        justify-content: flex-start;
        font-size: .9rem;
        font-weight: $font-weight-normal;
        max-width: 400px;
        text-align: left;
        padding-left: $grid-gutter-width / 2;
        padding-right: $grid-gutter-width / 2;
    }

    .swal2-actions {
        width:auto;
    }    
}
