@model ConfirmRequiredModel
@{
    ViewData["Title"] = "Confirm Email Required";
}
<div class="header">
    <h2>One more thing...</h2>
    @if (Model.SaveMessage.IsSet())
    {
        <alert type="@Model.MessageType">@Model.SaveMessage</alert>
    }
    <p>We just need to confirm your email address.</p>
    <p>Check your email now and click the link inside to complete your account registration and log in, to resend the email click <a asp-action="ResendConfirm">here</a>.</p>
    <p>Once you have validated your email click below to log into your account.</p>
    <div class="d-grid gap-2">
        <a class="btn btn-outline-dark" asp-action="Login">Log in</a>
    </div>
</div>
