@model ConnectAccountModel
@{
    ViewData["Title"] = "Finish connecting your account";
}
<div class="header">
    <h2>@ViewData["Title"]</h2>
    <div class="d-flex align-items-center my-4">
        <div>
            <fixedImage src="@Model.RemotePicture" class="img-sm ms-3 rounded" />
        </div>
        <div class="flex-fill">
            <i class="fa fa-arrow-right fa-2x mx-3"></i>
        </div>
        <div>
            <fixedImage src="@Model.LocalPicture" class="img-sm me-3 rounded" />
        </div>
    </div>
    <p>
        There is already an account using this verified email address, would you like to link this new sign in method to the account? We will need to confirm you are the owner of the original account first.
    </p>
    <form asp-action="ConnectAccountLink" method="post" class="d-grid gap-2">
        <button class="btn btn-success" type="submit">Connect</button>
    </form>
</div>
