@{
    ViewData["Title"] = "Finish connecting your account";

}
<div class="header">
    <h2>@ViewData["Title"]</h2>
    <p>
        Looks like this email address already exists, would you like to connect this new account to the existing local account?
    </p>
</div>
