@model DisconnectAccountModel
@{
    ViewData["Title"] = "Account disconnected";
}
<div class="header">
    <h2>@ViewData["Title"]</h2>
    <p>
        The account is now disconnected, click below to return to your account management.
    </p>
    <div class="d-grid gap-2">
        <a class="btn btn-outline-dark" asp-action="Index" asp-controller="Account">Manage Account</a>
    </div>
</div>
