@model ForgotPasswordViewModel
@{

    ViewData["Title"] = "Forgotten your password?";
}
<div class="header">
    <h2>@ViewData["Title"]</h2>
    <p>Enter your email address and we will email you a link to reset your password.</p>
</div>
<form asp-controller="Account" asp-action="ForgotPassword" method="post" role="form">
    <div class="d-grid gap-2">
        <div asp-validation-summary="All" class="validation-summary"></div>
        <div class="form-floating">
            <input asp-for="Email" class="form-control" placeholder="Email address" autocomplete="email" />
            <label asp-for="Email"></label>
            <span asp-validation-for="Email"></span>
        </div>
        <button type="submit" class="btn btn-block btn-success">Find my account...</button>
    </div>
</form>
