@{
    ViewData["Title"] = "Sign in failed";
}
<div class="header">
    <h2>Sign in could not be completed</h2>
    <p>@ViewData["Reason"]</p>
    <div class="d-grid gap-2">
        @if (ViewData.ContainsKey("allow-relog"))
        {
            <p>Please try again.</p>
            <a class="btn btn-success" asp-action="Login">Re-try Sign in</a>
            <div>or</div>
        }
        <a class="btn btn-outline-dark" asp-action="Index" asp-controller="Home">Back to @Engine.Settings.Basic.FullTitle</a>
    </div>
</div>
