@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Password link sent";
}
<div class="header">
    <h2>@ViewData["Title"]</h2> 
    @if (Model.SaveMessage.IsSet())
    {
        <alert type="@Model.MessageType" size="Medium">@Model.SaveMessage</alert>
    }   
    <p>
        A change password link has been sent to your email. Click it to update your password. Click below to return to account management.
    </p>
    <div class="d-grid gap-2">
        <a class="btn btn-outline-dark" asp-action="Index" asp-controller="Manage">Manage Account</a>
    </div>
</div>
