@inject IConfiguration _config
@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <title>CMS Setup Incomplete</title>
    @{ await Html.RenderPartialAsync("_LoginStyles"); }
</head>
<body class="install">
    <div class="container">
        <div class="login-block">
            <div class="hood-title">
                <img src="~/hood/images/hood-logo.svg" alt="Hood - Digital Architecture - Your Digital Account" />
            </div>
            <div class="login-block-header">
                <h2>Install</h2>
                <p>The CMS Setup is currently incomplete. Please correct the errors below before restarting the service, once you have done this the application will start up correctly.</p>
                <p><strong>Note: Once you have updated the settings, you MUST restart the web application for them to take effect.</strong></p>
                @if (_config.IsDatabaseConfigured())
                {
                    if (ViewData["Restarting"] == null)
                    {
                        <form asp-action="Restart" asp-controller="Install" method="post" class="" role="form">
                            <button class="btn btn-block btn-warning"><i class="fa fa-warning"></i>&nbsp;Restart App</button>
                        </form>
                    }
                    else
                    {
                        <a class="btn btn-block btn-success" href="/"><i class="fa fa-refresh m-r-xs"></i>&nbsp;Reload App</a>
                        <p><strong>Warning: Don't refresh the page, the app will restart again.</strong></p>
                    }
                }
            </div>
            @if (_config.IsDatabaseConfigured())
            {
                <div class="alert alert-success">
                    <h3 class="no-margin">Database Setup</h3>
                    <p>A database has been set up and configured for this site.</p>
                </div>
            }
            else
            {
                <div class="alert alert-danger">
                    <h3 class="no-margin">Database Setup</h3>
                    <p>No database setup has been detected. Please ensure you have set set the database connecion string inside your appsettings.json file, or your ConnectionStrings in your environment variables.</p>
                    <p>If you are using Azure, please follow this guide to add a database connection string to your Web App slot. <a href="https://docs.microsoft.com/en-us/azure/app-service-web/web-sites-configure">https://docs.microsoft.com/en-us/azure/app-service-web/web-sites-configure</a></p>
                </div>
            }
            <p class="text-center"><small><a href="http://hooddigital.com/">HoodCMS v@Engine.Version by Hood Digital</a></small></p>
        </div>
    </div>
    @{ await Html.RenderPartialAsync("_LoginScripts"); }
</body>
</html>
