@model MediaDirectory
@inject IDirectoryManager _directoryManager
@{
    Layout = null;
}
<div class="modal fade" id="@string.Format("media-object-{0}", Model.Id)" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form id="content-directories-edit-form" asp-action="CreateDirectory" asp-antiforgery="true" autocomplete="off" class="modal-content">
            <div class="modal-header">
                <div>
                    <h5 class="modal-title">
                        <i class="fa fa-folder text-success me-2"></i> Create a directory
                    </h5>
                    <p class="m-0 text-muted">
                        Add a new directory to store media files.
                    </p>
                </div>
                <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
             </div>
            <div class="modal-body">
                <div class="form-floating mb-3">
                    <input class="form-control" asp-for="DisplayName">
                    <label asp-for="DisplayName"></label>
                    <small asp-for="DisplayName"></small>
                </div>
                <div class="form-floating">
                    <select asp-for="ParentId" class="form-select">
                        @_directoryManager.SelectOptions(Model.TopLevelDirectories, Model.ParentId)
                    </select>
                    <label asp-for="ParentId" class="control-label"></label>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" aria-label="Close"><i class="fa fa-ban"></i> Cancel</button>
                <button type="button" id="content-directories-edit-submit" class="btn btn-success"><i class="fa fa-save"></i> Add</button>
            </div>
        </form>
    </div>
</div>
