@model MediaDirectory
@inject IDirectoryManager _directoryManager
@{
    Layout = null;
}
<div class="modal fade modal-right media-blade" id="@string.Format("media-object-{0}", Model.Id)" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-blade" role="document">
        <form id="content-directories-edit-form" asp-action="CreateDirectory" asp-antiforgery="true" autocomplete="off" class="modal-content">
            <div class="modal-header bg-dark text-white">
                <div>
                    <h5 class="modal-title">
                        Create a directory
                    </h5>
                    <p class="m-0 text-muted">
                        <i class="fa fa-file mr-2"></i> Add a new directory to store media files.
                    </p>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group floating-label">
                    <input class="form-control" asp-for="DisplayName">
                    <label asp-for="DisplayName"></label>
                    <small asp-for="DisplayName"></small>
                </div>
                <div class="form-group floating-label">
                    <select asp-for="ParentId" class="form-control">
                        @_directoryManager.SelectOptions(Model.TopLevelDirectories, Model.ParentId)
                    </select>
                    <label asp-for="ParentId" class="control-label"></label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="content-directories-edit-submit" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal" aria-label="Close"><i class="fa fa-ban"></i> Cancel</button>
            </div>
        </form>
    </div>
</div>
