@model MediaListModel
@inject IDirectoryManager _directoryManager
@{
    ViewBag.Title = "Website Media";
}
@section buttons {
}
<form class="inline" data-target="#media-list">
    <partial name="_Media_Uploader" />
    <div id="media-list" class="query" data-url="@Url.Action("List")"></div>
</form>
