@inject ISiteConfiguration _site
@inject IContentRepository _content
@{
    BasicSettings _info = _site.GetBasicSettings();
    IntegrationSettings _plugins = _site.GetIntegrationSettings();
    SeoSettings _meta = _site.GetSeo();
}
<hr />
@if (_plugins.EnableMailchimp)
{
    await Html.RenderPartialAsync("_MailchimpForm", new MailchimpFormModel());
    <hr />
}
<footer class="footer pb-60">
    <div class="container">
        <p class="address no-margin">
            @if (_info.Address != null)
            {
                <span><i class="fa fa-map-pin m-sm"></i>@_info.Address.ToFormat(AddressFormat.SingleLine)</span>
            }
            <span><i class="fa fa-phone m-sm"></i>@_info.Phone</span>
        </p>
        <p class="copyright">
            <span><i class="fa fa-copyright m-sm"></i>@DateTime.Now.Year.ToString() @_info.CompanyName - All Rights Reserved.</span>
            <span><i class="fa fa-paint-brush m-sm"></i><a href="http://hooddigital.com/">Website designed and built by Hood's Digital Architects</a></span>
        </p>
    </div>
</footer>
