@inject ISiteConfiguration _site
@{
    IntegrationSettings _info = _site.GetIntegrationSettings();
}
<div id="preloader">
    <div id="loader"><img src="~/lib/hood/images/loading.svg" /></div>
</div>
