@{
    Layout = null;
    bool fullwidth = true;
    bool.TryParse(Context.Request.Query["fullwidth"], out fullwidth);
    var container = "container";
    if (fullwidth)
    {
        container = "";
    }
    var align = Context.Request.Query["align"];
    var cssClass = Context.Request.Query["class"];
}
<div class="hood-block">
    <div class="main-content features @cssClass">
        <div class="@container">
            <div class="row row-center">
                <div class="@(align == "left" ? "col-xs-12 col-md-4" : "col-xs-12 col-md-4 col-md-push-8")">
                    <figure class="img img-full img-square hood-image-switch m-b-lg" style="background-image:url(/lib/hood/images/no-image.jpg);">
                        <img src="~/lib/hood/images/no-image.jpg" alt="Generic placeholder image" />
                    </figure>
                </div>
                <div class="@(align == "left" ? "col-xs-12 col-md-7 col-md-offset-1" : "col-xs-12 col-md-7 col-md-pull-4")">
                    <div class="tinymce-free">
                        Enter your content here...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
