@{
    Layout = null;
    bool fullwidth = true;
    bool.TryParse(Context.Request.Query["fullwidth"], out fullwidth);
    var container = "container";
    if (fullwidth)
    {
        container = "";
    }
    var align = Context.Request.Query["align"];
    var cssClass = Context.Request.Query["class"];
}
<div class="hood-block">
    <div class="image-section @cssClass @align">
        <div class="@container">
            <div class="col-image">
                <figure class="img img-md img-circle hood-image-switch" style="background-image:url(/lib/hood/images/no-image.jpg);">
                    <img src="~/lib/hood/images/no-image.jpg" alt="Generic placeholder image" width="140" height="140" />
                </figure>
            </div>
            <div class="col-left">
                <div class="tinymce-free">
                    Enter your content here...
                </div>
            </div>
        </div>
    </div>
</div>
