<div class="row">
    <div class="col-sm-3">
        <div class="right-column m-b-sm">
            <input class="form-control media-change" type="hidden" name="media-directory" id="media-directory" />
            <div class="hood-inline refresh directories" data-url="@Url.Action("Directories")">
                @{ await Html.RenderPartialAsync("Directories"); }
            </div>
            <button class="create-directory btn btn-success btn-block m-t-md" type="button"><i class="fa fa-plus"></i> Create new directory...</button>
        </div>
    </div>
    <div class="col-sm-9">
        <div id="media-actions" class="row">
            <div class="col-xs-12">
                <span class="btn btn-success" id="media-add">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Add files...</span>
                </span>
                <a class="btn btn-danger delete-directory">
                    <i class="fa fa-trash"></i>
                    <span>Delete Directory</span>
                </a>
            </div>
            <div class="col-xs-12">
                <div class="m-t-sm">
                    <div id="media-total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" style="opacity: 0;">
                        <div class="progress-bar progress-bar-dark" style="width:0%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="media-upload" class="media-upload text-center">
        </div>
        <div id="media-list" class="border-box-sizing media-list"
             data-url="/admin/media/get"
             data-template="#media-template"
             data-pagers=".media-pager"
             data-filters="$.hood.Media.Manage.Filter()"
             data-onclick=".media-click"
             data-onchange=".media-change"></div>
        <div class="media-pager m-lg text-center"></div>
    </div>
</div>
