@model ISaveableModel
@{
    ViewData["Title"] = "Delete Account";
    ViewData["SubTitle"] = "Completely remove your account and data from this site.";
    ViewData.AddActivePage(ManageNavPages.DeleteAccount);
}
@section alerts {
    <alert type="@Model.MessageType">@Model.SaveMessage</alert>
}
<p>
    <strong>If you delete your account you will no longer be able to access some of our services.</strong>
</p>
<p>
    Are you sure you want to delete your account?
</p>
<div>
    <form asp-action="ConfirmDelete" method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Delete Account</button>
    </form>
</div>