@model AccountSettings
@{
    ViewData["Title"] = "Account Settings";
    Layout = "_Layout_Settings";
}
@section buttons {
    @if (User.IsAdminOrBetter())
    {
        <a asp-action="ResetAccount" class="btn btn-danger warning-alert" data-warning="This will completely reset these settings to their default state, are you sure!?"><i class="fa fa-refresh"></i> Reset to Default</a>
    }
}
<div class="card">
    <div class="card-header">
        <div class="row align-items-center">
            <ul class="nav nav-tabs card-header-tabs" role="tablist" id="page-tabs" data-hood-tabs="@($"tabs-settings-account")">
                <li class="nav-item">
                    <a class="nav-link active" id="registration-tab" data-bs-toggle="tab" href="#registration" role="tab" aria-controls="registration" aria-selected="false">
                        Registration
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="welcome-email-tab" data-bs-toggle="tab" href="#welcome-email" role="tab" aria-controls="welcome-email" aria-selected="false">
                        Welcome Email
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="tab-content">
            <div id="registration" class="tab-pane active" role="tabpanel" aria-labelledby="registration-tab">
                <div class="mb-3">
                    <div class="form-check form-switch">
                        <input asp-for="EnableRegistration" class="form-check-input">
                        <label asp-for="EnableRegistration" class="form-check-label d-block"></label>
                        <small asp-for="EnableRegistration"></small>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-check form-switch">
                        <input asp-for="RequireEmailConfirmation" class="form-check-input">
                        <label asp-for="RequireEmailConfirmation" class="form-check-label d-block"></label>
                        <small asp-for="RequireEmailConfirmation"></small>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-check form-switch">
                        <input asp-for="MagicLinkLogin" class="form-check-input">
                        <label asp-for="MagicLinkLogin" class="form-check-label d-block"></label>
                        <small asp-for="MagicLinkLogin"></small>
                    </div>
                </div>
            </div>
            <div id="welcome-email" class="tab-pane" role="tabpanel" aria-labelledby="welcome-email-tab">
                <div class="mb-3">
                    <div class="form-check form-switch">
                        <input asp-for="EnableWelcome" class="form-check-input">
                        <label asp-for="EnableWelcome" class="form-check-label d-block"></label>
                        <small asp-for="EnableWelcome"></small>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-check form-switch">
                        <input asp-for="NotifyNewAccount" class="form-check-input">
                        <label asp-for="NotifyNewAccount" class="form-check-label d-block"></label>
                        <small asp-for="NotifyNewAccount"></small>
                    </div>
                </div>
                <hr class="mt-4 mb-4" />
                <div class="form-floating mb-3">
                    <input asp-for="WelcomeTitle" class="form-control">
                    <label asp-for="WelcomeTitle"></label>
                    <small asp-for="WelcomeTitle"></small>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="WelcomeSubject" class="form-control">
                    <label asp-for="WelcomeSubject"></label>
                    <small asp-for="WelcomeSubject"></small>
                </div>
                <div class="mb-3">
                    <label asp-for="WelcomeMessage"></label>
                    <textarea asp-for="WelcomeMessage" class="form-control tinymce-simple"></textarea>
                    <small asp-for="WelcomeMessage"></small>
                </div>
                <alert size="Medium" type="Info">
                    <h4>Placeholders</h4>
                    <p>When using email or communication templates you can use the following placeholders to automatically insert the names of users, or site information:</p>
                    <h5>Site Placeholders</h5>
                    <p>These are taken from your site settings.</p>
                    <p>
                        <strong>
                            {Site.Title} {Site.CompanyName} {Site.Phone} {Site.Logo} {Site.LogoLight} {Site.Address} {Site.Owner.Name} {Site.Owner.Phone} {Site.Owner.Email}
                        </strong>
                    </p>
                    <h5>User Placeholders</h5>
                    <p>These are taken from the user you are sending the email or message to.</p>
                    <p>
                        <strong>
                            {User.Username} {User.Email} {User.PhoneNumber} {User.Facebook} {User.LinkedIn} {User.Twitter} {User.Instagram} {User.WebsiteUrl} {User.FullName} {User.FirstName} {User.LastName}
                        </strong>
                    </p>
                </alert>
            </div>
        </div>
    </div>
</div>
