@import "../../lib/bootstrap/scss/bootstrap.scss";
@import "../../lib/fontawesome/scss/fontawesome.scss";

body {
    background: #444;

    .login-block {
        max-width: 380px;
        width: 100%;
        padding: 20px;
        margin: 60px auto;
        background: white;
        border-top: solid 3px #fcc20d;
        border-radius: 4px;
        box-shadow: 0 0 75px rgba(0,0,0,.7);

        header {
            img {
                width: 50%;
                max-height: 60px;
                margin: 25px auto;
                display: block;
            }
        }

        .header {
            text-align:center;

            h2 {
                font-size:1.5rem;
                margin-bottom:1em;
            }
        }

        footer {
            text-align:center;

            small {
                a {
                    font-weight: normal;
                    text-decoration: none;
                    color: #939393;
                }
            }
        }
    }

    body.install {
        .login-block {
            width: 70%;
            padding: 20px;
            margin: 60px auto;
        }
    }
}
