.img-xxs {
    width: 48px;
    height: 48px;
}

.img-xs {
    width: 64px;
    height: 64px;
}

.img-sm {
    width: 128px;
    height: 128px;
}

.img-md {
    width: 250px;
    height: 250px;
}

.img-lg {
    width: 450px;
    height: 450px;
}

.img-xl {
    width: 800px;
    height: 800px;
}

.img-full {
    width: 100%;
}
