# Project Ignores
/Properties/PublishProfiles
/Temporary
/Temporary/*
/Admin/Views
/Views
/Migrations
/wwwroot/lib
/wwwroot/css
/wwwroot/js/**/*.min.js
/wwwroot/js/**/*.packaged.js

# Ignore the lib directory, for bower_components
/lib/*

# Include the hood dir in the lib folder, but still exclude the dist folder and the gulp created css.
!/lib/hood
!/lib/hood/*
/lib/hood/dist/*
/lib/hood/src/css/*

/js/site.packaged.js
/js/site.min.js
/css
