# Project Ignores
package-lock.json
/Properties/PublishProfiles
/Feed
/Temporary

# Ignore Libraries
/wwwroot/lib

# Ignore Site Compiled Client Files
/wwwroot/dist
/wwwroot/src

/wwwroot/bundles
/wwwroot/js/**/*.min.js
/wwwroot/js/**/*.packaged.js

# Ignore Theme Libraries & Compiled Client Files
/wwwroot/themes/**/css
/wwwroot/themes/**/*.min.js
/wwwroot/themes/**/*.packaged.js
/wwwroot/themes/**/lib

# Ignore local settings files, apart from the base settings
appsettings.*.json