.git
.vs
.vscode
/bin
/obj
/Properties
/wwwroot
/Areas
/Controllers
/Migrations
/Models
/Themes
/Views
/app.config
/appsettings.json
/azure-pipelines.yml
/gulpfile.js
/libman.json
/.config
/rollup.config.js
/tsconfig.json
/tsconfig.production.json
/tsconfig.rollup.json
/.stylelintignore
/.stylelintrc

*.cs
*.csproj
*.csproj.user

!src/ts/**/*
