@model SaveableModel
@{
    Layout = "_Layout";
}
@section buttons {
    @RenderSection("buttons", required: false)
    <a href="javascript:document.getElementById('settings-form').submit()" class="btn btn-success">
        <i class="fa fa-save"></i> Save
    </a>
}
<form method="post" id="settings-form" class="container ml-md-0 p-0">
    @Html.BootstrapAlert(Model.SaveMessage, Model.MessageType)
    @RenderSection("alerts", required: false)
    @RenderBody()
</form>
