@model ContentModel
@inject ContentCategoryCache _categories
@{
    var categories = _categories.TopLevel(Model.ContentType.Type);
}
@if (Model.ContentType.ShowCategories)
{
    <div class="card mb-4">
        <div class="card-header">
            <h6 class="m-0">Categories</h6>
        </div>
        <div class="card-body">
            @if (categories.Count() > 0)
            {
                @_categories.ContentCategoryTree(categories, Model.ContentType.Slug);
            }
            <ul class="list-unstyled mb-0">
                <li><a href="/@Model.ContentType.Slug">Show All</a></li>
            </ul>
        </div>
    </div>
}
