@model MediaListModel
@inject IDirectoryManager _directoryManager
@{
    Layout = null;
}
<div class="list-group list-group-flush">
    <div class="list-group-item list-group-item-action p-0">
        <div class="d-flex align-items-center">
            <div class="col-auto p-2">
                <small><i class='fa fa-square p-1'></i></small>
            </div>
            <div class="col p-0">
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input refresh-on-change" id="Directory-all" name="dir" type="radio" value="" @(!Model.DirectoryId.HasValue ? "checked" : "") />
                    <label class="custom-control-label" for="Directory-all">
                        All Directories
                    </label>
                </div>
            </div>
        </div>
    </div>
    @_directoryManager.DirectoryTree(Model.TopLevelDirectories, Model.DirectoryId)
</div>