@model MediaListModel
@inject IDirectoryManager _directoryManager
@{
    Layout = null;
}
<div class="modal fade modal-right" id="media-select-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <div>
                    <h5 class="modal-title">
                        Choose image...
                    </h5>
                    <p class="m-0 text-primary">
                        <i class="fa fa-file mr-2"></i> You can either select from existing site media, previously set versions, or upload a new file.
                    </p>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="inline" data-target="#media-list">
                    <div class="row">
                        <div class="col-sm">
                            <partial name="_Media_Uploader" />
                            <div id="media-list" class="hood-inline-list" data-url="@Url.Action("List", new { doAction = Model.Action.ToString(), dir = Model.DirectoryId, restrict = Model.Restrict, tag = Model.Tag, id = Model.Id, entity = Model.Entity, field = Model.Field, media = Model.MediaId, root = Model.RootId })" data-complete="$.hood.Media.Loaded">
                                <partial name="_List_Media" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <partial name="_Media_Actions" />
            </div>
        </div>
    </div>
</div>
