@model MediaListModel
@inject IDirectoryManager _directoryManager
@{
    ViewBag.Title = "Website Media";
}
@section buttons {
}
    <div id="media-list" class="query" data-url="@Url.Action("List")"></div>
