# Project Ignores
package-lock.json
/Properties/PublishProfiles
/Temporary
/Temporary/*

/Areas/Admin/Views
/Views
/Migrations

# Ignore Libraries
/wwwroot/lib

# Ignore Hood Compiled Client Files
/wwwroot/hood/css
/wwwroot/hood/**/*.min.js
/wwwroot/hood/**/*.packaged.js

# Ignore Site Compiled Client Files
/wwwroot/css
/wwwroot/js/**/*.min.js
/wwwroot/js/**/*.packaged.js
