# Project Ignores
package-lock.json
/Properties/PublishProfiles
/Feed
/Temporary

# Ignore Theme Libraries & Compiled Client Files
/wwwroot/themes/**/css
/wwwroot/themes/**/*.min.js

# Ignore local settings files, apart from the base settings
appsettings.*.json