@model ForumModel
@inject ForumCategoryCache _categories
@{
    ViewBag.Title = "Manage Forums";
}
@section buttons {
    <a class="btn btn-success hood-modal" asp-action="Create" data-complete="$.hood.Forums.Create">
        <i class="fa fa-plus-circle mr-2"></i>Create New
    </a>
    <button type="button" class="btn btn-outline-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-ellipsis-h"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" asp-action="Index" asp-controller="Forum" asp-area="" target="_blank">
            <i class="fa fa-desktop"></i>
            Preview
        </a>
    </div>
}    
@if (Model.SaveMessage.IsSet())
{
    <alert type="@Model.MessageType" size="Medium">@Model.SaveMessage</alert>
}
<form class="inline" data-target="#forum-list">
    <div class="row">
        <div class="col-lg-8 mb-3">
            <div id="forum-list" class="hood-inline-list refresh query" data-url="@Url.Action("List")" data-complete="$.hood.Forums.Lists.Forums.Loaded">
                <partial name="_List_Forums" />
            </div>
        </div>
        <div class="col-lg-4">
            <partial name="_Filters" />
        </div>
    </div>
</form>
