@model TopicModel
<form method="post">
    <div class="form-group">
        <label>Title</label>
        <input asp-for="Topic.Title" type="text" class="form-control" placeholder="Enter the title of the topic..." />
        <span asp-validation-for="Topic.Title"></span>
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea asp-for="Topic.Description" type="text" class="form-control" placeholder="Enter a description of the topic..."></textarea>
        <span asp-validation-for="Topic.Description"></span>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary"><span>Create Topic</span></button>
    </div>
</form>