@model SendCodeViewModel
@{
    ViewData["Title"] = "Send Verification Code";
}
<div class="header">
    <h2>@ViewData["Title"]</h2>
</div>
<form asp-controller="Account" asp-action="SendCode" asp-route-returnurl="@Model.ReturnUrl" method="post" role="form">
    <input asp-for="RememberMe" type="hidden" />
    <div class="form-group">
        <div class="floating-label">
            <select asp-for="SelectedProvider" asp-items="Model.Providers"></select>
            <label asp-for="SelectedProvider">
                Select Two-Factor Authentication Provider:
            </label>
        </div>
    </div>
    <p>
        <button type="submit" class="btn btn-success btn-block">Submit</button>
    </p>
</form>
