@model PropertyListing
@inject IContentRepository _data
@{
    PropertySettings _propertySettings = _settings.GetPropertySettings();
    PropertyListingApi papi = _settings.ToPropertyListingApi(Model);
}
@{ await Html.RenderPartialAsync("_Editor_Hidden", papi); }
<div class="tabs-container m-b-lg">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#info" aria-expanded="true"> Property Info</a></li>
        <li class=""><a data-toggle="tab" href="#details" aria-expanded="false"> Details</a></li>
        <li class=""><a data-toggle="tab" href="#descriptions" aria-expanded="false"> Descriptions</a></li>
        <li class=""><a data-toggle="tab" href="#price" aria-expanded="false"> Prices</a></li>
        <li class=""><a data-toggle="tab" href="#media" aria-expanded="false"> Media</a></li>
        <li class=""><a data-toggle="tab" href="#features" aria-expanded="false"> Features</a></li>
        <li class=""><a data-toggle="tab" href="#meta" aria-expanded="false"> Other Information</a></li>
    </ul>
    <div class="tab-content">
        @{ await Html.RenderPartialAsync("_Editor_Info"); }
        @{ await Html.RenderPartialAsync("_Editor_Details"); }
        @{ await Html.RenderPartialAsync("_Editor_Descriptions"); }
        @{ await Html.RenderPartialAsync("_Editor_Prices"); }
        @{ await Html.RenderPartialAsync("_Editor_Media"); }
        @{ await Html.RenderPartialAsync("_Editor_Features"); }
        @{ await Html.RenderPartialAsync("_Editor_Metadata"); }
    </div>
</div>
