@model ContentListModel
;
@{
    ViewBag.Title = "Manage Properties";
    PropertySettings _propertySettings = _settings.GetPropertySettings();
}
@section scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlnzmbeo7JEMMxHUrZOJz6zWnHbQBmGng&libraries=places"></script>
}
@section buttons {
    @if (User.IsInRole("Admin"))
    {
        <a class="btn btn-sm btn-danger warning-alert" asp-action="DeleteAll" data-warning="Are you sure?! This will delete ALL properties from the site!"><i class="fa fa-trash m-r-sm"></i>Delete All</a>
    }
    @if (_propertySettings.ShowList)
    {
        <a class="btn btn-sm btn-default" href="/@_propertySettings.Slug" target="_blank"><i class="fa fa-search m-r-sm"></i>Preview</a>
    }
    <button class="btn btn-sm btn-primary create-property"><i class="fa fa-thumb-tack m-r-sm"></i>Create New</button>
}
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="ibox">
                <div class="ibox-title">
                    <form>
                        <div class="row m-b-sm m-t-sm">
                            <div class="col-md-3">
                                <h4>Sort</h4>
                                <select class="form-control manage-property-change" name="manage-property-sort" id="manage-property-sort" data-selected="date+desc">
                                    <optgroup label="Property">
                                        <option value="name">Name (A-Z)</option>
                                        <option value="name+desc">Name (Z-A)</option>
                                        <option value="date+desc">Added Date (Newest)</option>
                                        <option value="date">Added Date (Oldest)</option>
                                        <option value="area">Area (A-Z)</option>
                                        <option value="area+desc">Area (Z-A)</option>
                                    </optgroup>
                                    <optgroup label="Price">
                                        <option value="rent+desc">Rent (£££-£)</option>
                                        <option value="rent">Rent (£-£££)</option>
                                        <option value="premium+desc">Premium (£££-£)</option>
                                        <option value="premium">Premium (£-£££)</option>
                                    </optgroup>
                                    <optgroup label="Listings">
                                        <option value="planning">Planning (A-Z)</option>
                                        <option value="planning+desc">Planning (Z-A)</option>
                                        <option value="type">Listing Type (A-Z)</option>
                                        <option value="type+desc">Listing Type (Z-A)</option>
                                    </optgroup>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <h4>Type</h4>
                                <select id="manage-property-type" class="form-control manage-property-change" asp-items="_propertySettings.GetListingTypes().Select(c => new SelectListItem() { Value = c, Text = c })">
                                    <option value="">Show All</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <h4>Planning</h4>
                                <select id="manage-property-planning" class="form-control manage-property-change" asp-items="_propertySettings.GetPlanningTypes().Select(c => new SelectListItem() { Value = c.Key, Text = c.Value })">
                                    <option value="">Show All</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <h4>Search</h4>
                                <div class="input-group">
                                    <input name="manage-property-search" id="manage-property-search" type="text" placeholder="Search" class="form-control">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-primary manage-property-click"> Search!</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        @if (User.IsInRole("Admin"))
                        {
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="no-margin" />
                                    <div class="checkbox checkbox-primary">
                                        <input id="manage-property-showall" type="checkbox" class="manage-property-change" checked="">
                                        <label for="manage-property-showall">
                                            Show all agent's properties.
                                        </label>
                                    </div>
                                </div>
                            </div>
                        }
                    </form>
                </div>
                <div class="ibox-content">
                    <div id="manage-property-list" class="border-box-sizing"></div>
                    <div class="manage-property-pager text-center m-lg"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@{ await Html.RenderPartialAsync("_ListTemplate"); }
