@model MailObject
@{ 
    Layout = null;
}
@if (Model.PreHeader.IsSet())
{ <span class="preheader" style="color: transparent; display: none; height: 0; max-height: 0; max-width: 0; opacity: 0; overflow: hidden; mso-hide: all; visibility: hidden; width: 0;">@Model.PreHeader</span> }
