.form-group {
    label {
        font-weight: $font-weight-bold;
    }

    &.image-editor {
        figure {
            margin: 0;
            border: 3px solid white;
            box-shadow: 0 0 3px rgba($black, .5);
        }
    }

    .color-picker {
        position: relative;

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path fill="white" d="M1,0H2V1H1V0ZM0,1H1V2H0V1Z"/><path fill="gray" d="M0,0H1V1H0V0ZM1,1H2V2H1V1Z"/></svg>');
            background-size: .5em;
            border-radius: .15em;
            z-index: 0;
        }
    }
}
