.validation-summary {
    @include alert-variant($light, $dark, $dark);
    position: relative;
    padding: $alert-padding-y $alert-padding-x;
    margin-bottom: $alert-margin-bottom;
    border: $alert-border-width solid transparent;
    @include border-radius($alert-border-radius);
    font-size: small;
    font-weight: bold;

    &.validation-summary-valid {
        @include alert-variant(theme-color-level("success", $alert-bg-level), $success, $success);
        display: none;
    }

    &.validation-summary-errors {
        @include alert-variant(theme-color-level("danger", $alert-bg-level), $danger, $danger);
    }

    ul {
        padding: 0;
        margin: 0;

        li {
            padding: 3px;
            margin: 0;
            list-style-type: none;
            text-align: center;
        }
    }
}
