@{
    Layout = "_Layout_Basic";
    ViewData["Title"] = $"Account: {ViewBag.Title}";
    ViewData["SubTitle"] = ViewData["SubTitle"];
}
<div class="container m-b-lg">
    @RenderSection("alerts", false)
    <div class="row">
        <div class="col-md-3">
            <div class="text-center m-b-lg">
                <fixedImage src="@Engine.Account.Avatar?.SmallUrl" class="img img-sm"></fixedImage>
            </div>
            @await Html.PartialAsync("_Nav_Manage")
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>
