@model PropertyListing
<div id="media" class="tab-pane">
    <h5 class="mt-2 mb-0">Images &amp; Media</h5>
    <p>You can add images or PDFs to this, images will appear in a floorplan view in the template, or can be templated to appear however you want.</p>
    <div id="property-gallery-list" class="hood-inline refresh m-b-md" data-url="@Url.Action("Gallery", new { id = Model.Id })">
        <partial name="_List_PropertyMedia" />
    </div>
    <a class="btn btn-success text-white" id="property-gallery-add">
        <i class="fa fa-plus-circle mr-2"></i>
        <span>Add files...</span>
    </a>
    <div id="property-gallery-upload" class="media-upload text-center" data-url="@Url.Action("UploadToGallery", new { id = Model.Id })"></div>
    <div id="property-gallery-total-progress" class="progress progress-striped active mt-3" style="height:2rem;display:none;" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
        <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" style="width:0%;"><span>Uploading: <strong class="percentage">0%</strong></span></div>
    </div>
</div>
