@model AddressListModel
@{
    ViewData["Title"] = "Your Addresses";
    ViewData["SubTitle"] = "Manage your addresses. Create, edit or update them here.";
    ViewData.AddActivePage(ManageNavPages.Address);
}
@if (Model.SaveMessage.IsSet())
{
    <alert type="@Model.MessageType" size="Medium" icon="fa-save">@Model.SaveMessage</alert>
}
<div id="address-list" class="hood-inline-list refresh query" data-url="@Url.Action("List")" data-complete="$.hood.Addresses.Lists.Address.Loaded">
    <partial name="_List_Addresses" />
</div>
<a class="btn btn-success hood-modal" asp-action="Create" data-complete="$.hood.Addresses.CreateOrEdit">Add new address</a>
