@{
    ViewData["Title"] = "Confirm email";

}
<div class="header">
    <h2>@ViewData["Title"]</h2>
    <p>
        Thank you for confirming your email.
    </p>
    <alert icon="fa-info" size="Epic">
        <p>
            You can now log into your account. 
        </p>
        <a asp-action="Login" asp-route-returnUrl="/" class="btn btn-block btn-outline-success">Sign In</a>
    </alert>
</div>