@model PaymentMethodsModel
@{
    Layout = null;
}
@if (Model.PaymentMethods != null)
{
    @foreach (var itm in Model.PaymentMethods)
    {
        switch (itm.Type)
        {
            case Stripe.SourceType.Card:

                <div class="form-group">
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input buy-plan-method" id="buy-plan-method-@itm.Id" name="buy-plan-method" value="@itm.Id" @(itm.Id == Model.Customer.InvoiceSettings.DefaultPaymentMethodId ? "checked" : "") />
                        <label for="buy-plan-method-@itm.Id" class="custom-control-label">
                            <img class="mr-2" src="@string.Format("/hood/images/cards/{0}.png", itm.Card.Brand.StripSpaces())" style="width:30px;" />
                            <span>Card ending in <strong>@itm.Card.Last4</strong></span>
                        </label>
                    </div>
                </div>
                break;
        }
    }
}
else
{
    <div class="alert alert-danger">
        <p><i class="fa fa-exclamation-triangle m-r-xs"></i>You do not have any saved cards.</p>
    </div>
}
