@model PaymentMethodsModel
@{
    Layout = null;
}
@if (Model.PaymentMethods != null || Model.PaymentMethods.Count == 0)
{
    <div class="accordion">
        @foreach (var itm in Model.PaymentMethods)
        {
            switch (itm.Type)
            {
                case Stripe.SourceType.Card:
                    <partial name="_Card" model="itm" />
                    break;
            }
        }
    </div>
}
else
{
    <alert icon="fa fa-exclamation-triangle" type="Warning">
        You do not have any saved cards.
    </alert>
}
