@{
    Layout = null;
    bool fullwidth = true;
    bool.TryParse(Context.Request.Query["fullwidth"], out fullwidth);
    var container = "container";
    if (fullwidth)
    {
        container = "";
    }
    bool icons = true;
    bool.TryParse(Context.Request.Query["icons"], out icons);
    bool buttons = true;
    bool.TryParse(Context.Request.Query["buttons"], out buttons);
    int rows = 1;
    int.TryParse(Context.Request.Query["rows"], out rows);
    int cols = 3;
    int.TryParse(Context.Request.Query["cols"], out cols);
    var align = Context.Request.Query["align"];
    var cssClass = Context.Request.Query["class"];
}
<div class="hood-block @cssClass">
    <div class="@container">
        @for (int i = 0; i < rows; i++)
        {
            <div class="row @align">
                @for (int j = 0; j < cols; j++)
                {
                    var colWidth = Math.Round((double)12 / (double)cols);
                    if (colWidth < 0) { colWidth = 0; }
                    if (colWidth > 12) { colWidth = 12; }
                    string colWidthLg = "col-md-" + colWidth;

                    string colWidthSm = "col-sm-6";
                    if (colWidth > 6) { colWidthSm = "col-sm-12"; }

                    string colWidthXs = "col-xs-12";

                    <div class="@colWidthXs @colWidthSm @colWidthLg">
                        @if (icons)
                        {
                            <figure class="img img-md img-circle hood-image-switch" style="background-image:url(/lib/hood/images/no-image.jpg);">
                                <img src="~/lib/hood/images/no-image.jpg" alt="Generic placeholder image" width="140" height="140" />
                            </figure>
                        }
                        <div class="tinymce-simple">
                            <h3>Column title</h3>
                            <p>And here goes your content text...</p>
                        </div>
                        @if (buttons)
                        {
                            <div class="tinymce-buttons"><a class="btn btn-default" href="#" role="button">View details &raquo;</a></div>
                        }
                    </div>
                }
            </div>
        }
    </div>
</div>
