@model ContentListModel
@if (Model.Posts.Count == 0)
{
    await Html.RenderPartialAsync("_NoResults");
}
else
{
    <div class="row">
        @foreach (ContentApi content in Model.Posts.Select(c => new ContentApi(c)))
        {
            <div class="col-md-offset-2 col-md-8 mb-30">
                <div class="testimonial">
                    <blockquote>@content.Excerpt</blockquote>
                    <p class="testimonial-author">@content.Title</p>
                    <p class="testimonial-company">@content.GetMetaValue("CompanyName")</p>
                </div>
            </div>
        }
    </div>
    await Html.RenderPartialAsync("_Pagination");
}
