<div id="media-actions" class="row m-b-sm">
    <div class="col-xs-6">
        <span class="btn btn-success btn-sm" id="media-add">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Add files...</span>
        </span>
        <a class="btn btn-danger btn-sm delete-directory">
            <i class="fa fa-trash"></i>
            <span>Delete Directory</span>
        </a>
    </div>
    <div class="col-xs-6">
        <div class="media-pager text-right"></div>
    </div>
</div>
