@model ManageMediaModel
@{
    ViewBag.Title = "Website Media";
}
<div class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Website Media</h5>
        </div>
        <div>
            <div class="ibox-content">
                <div class="panel-body">
                    <strong>Website Media</strong>
                    <p>
                        This shows all media uploaded to the site, organised by directory on the left. You can upload new media by selecting the "Upload" tab above...
                    </p>
                </div>
                <div class="panel-body">
                    @{ await Html.RenderPartialAsync("_Filters"); }
                </div>
                <div class="panel-body">
                    @{ await Html.RenderPartialAsync("_List"); }
                </div>
            </div>
        </div>
    </div>
</div>
<script id="media-template" class="kendo-template" type="text/template">
    <div class="forum-item data-item">
        <div class="row">
            <div class="col-md-6">
                <div class="media">
                    <div class="media-left media-middle">
                        <figure class="img-xs media-${ Id } hood-image" style="background-image:url(${ Icon });">
                            <img src="${ Icon }" alt="">
                        </figure>
                    </div>
                    <div class="media-body">
                        <a class="blade forum-item-title" href="/admin/media/blade/${ Id }">${ Filename }</a>
                        <small>Uploaded to <strong>${ Directory }</strong> on <i class="fa fa-clock-o"></i> #= kendo.toString(new Date(CreatedOn), "d, MMM yy") # at <i class="fa fa-clock-o"></i> #= kendo.toString(new Date(CreatedOn), "hh:mm tt") #</small>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-2">
                <span class="small font-bold">${ FormattedSize } file.</span>
                <div class="tag-list">
                    <span class="tag-item">${ FileSize } bytes.</span>
                </div>
            </div>
            <div class="col-xs-6 col-md-2">
                <span class="small font-bold">${ GeneralFileType } file.</span>
                <div class="tag-list">
                    <span class="tag-item">${ FileType }</span>
                </div>
            </div>
            <div class="col-md-2 action-buttons">
                <a class="btn-danger btn btn-sm action-button delete-media" data-id="${ Id }"><i class="fa fa-trash-o"></i><span>&nbsp;Delete</span></a>           
            </div>
        </div>
    </div>
</script>

@section scripts {

}
