@{
    Layout = null;
}
<div class="modal fade inmodal hood-modal" id="attach-media-modal" tabindex="-1" role="dialog" aria-labelledby="attach-media-title">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="attach-media-title">Insert Image</h4>
                <small class="font-bold">You can either select from existing site media, previously set versions, or upload a new file.</small>
            </div>
            <div class="modal-body tab-content">
                <div class="panel-body">
                    @{ await Html.RenderPartialAsync("_Filters"); }
                </div>
                <div class="panel-body">
                    @{ await Html.RenderPartialAsync("_List"); }
                </div>
            </div>
        </div>
    </div>
    <div id="media-template" class="kendo-template">
        <div class="col-xs-6 col-sm-4 col-lg-3">
            <div class="thumbnail text-center">
                <fixedImage src="${ LargeUrl }" class="img-full m-b-sm m-b-sm media-select" data-tag="@Model.Tag" data-url="${ LargeUrl }" />
                <p class="no-margin">
                    <a class="media-insert action-button btn btn-xs btn-default" data-tag="@Model.Tag" data-url="${ SmallUrl }">
                        Small
                    </a>
                    <a class="media-insert action-button btn btn-xs btn-default" data-tag="@Model.Tag" data-url="${ MediumUrl }">
                        Med
                    </a>
                    <a class="media-insert action-button btn btn-xs btn-default" data-tag="@Model.Tag" data-url="${ LargeUrl }">
                        Large
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
