@model PaymentMethodsModel
@{
    Layout = null;
}
@if (Model.PaymentMethods != null)
{
    <div class="accordion">
    @foreach (var itm in Model.PaymentMethods)
    {
        switch (itm.Type)
        {
            case Stripe.SourceType.Card:
                await Html.RenderPartialAsync("_Card", itm);
                break;
        }
    }
    </div>
}
else
{
    <div class="alert alert-danger">
        <p><i class="fa fa-exclamation-triangle m-r-xs"></i>You do not have any saved cards.</p>
    </div>
}
