@{
    var _basicSettings = Engine.Settings.Basic;
    var _integrations = Engine.Settings.Integrations;
    var _seoSettings = Engine.Settings.Seo;
    string description = _basicSettings.Address.ToFormat(AddressFormat.SingleLine);
    string title = "Access Site with Token - " +  _basicSettings.FullTitle;
    if (_seoSettings.Home != null)
    {
        description = _seoSettings.Home.Description.IsSet() ? _seoSettings.Home.Description : _seoSettings.Description.IsSet() ? _seoSettings.Description : "Home - " + _basicSettings.Address.ToFormat(AddressFormat.SingleLine);
        title = _seoSettings.Home.Title.IsSet() ? _seoSettings.Home.Title : _seoSettings.Title.IsSet() ? _seoSettings.Title : "Home - " + _basicSettings.CompanyName;
    }
    ViewData["Title"] = title;
    ViewData["SubTitle"] = "You can access the site during lockout mode using an access token, enter it below to access the site.";
}
<form method="post">
    <input type="hidden" name="returnUrl" value="@ViewData["returnUrl"]" />
    <div class="form-group">
        <label class="control-label" for="token"></label>
        <div>
            <input name="token" id="token" class="form-control" type="text" value="@ViewData["token"]" />€
        </div>
    </div>
    <p>@ViewData["error"]</p>
    <p>
        <button type="submit" class="btn btn-primary">
            Enter
        </button>
    </p>
</form>
