@{
    AccountInfo account = Context.GetAccountInfo();
}
<div class="dropdown profile-element">
    <div class="p-md text-center">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">
            <span>
                <fixedImage src="@account.User?.Avatar?.SmallUrl" class="img-xs img-circle sidebar-avatar @account.User.Id" />
            </span>
            <span class="clear">
                <span class="block m-t-xs">
                    Logged in as<br />
                    <strong class="font-bold">@account.User.UserName</strong>
                    <i class="fa fa-caret-down"></i>
                </span>
            </span>
        </a>
        <ul class="dropdown-menu m-l-md">
            <li>
                <a asp-action="Index" asp-controller="Manage">
                    <i class="fa fa-cogs m-r-xs"></i>Manage Account
                </a>
            </li>
            <li>
                <a asp-action="ChangePassword" asp-controller="Manage">
                    <i class="fa fa-lock m-r-xs"></i>Change Password
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">
                    <i class="fa fa-sign-out m-r-xs"></i>Log out
                </a>
            </li>
        </ul>
    </div>

</div>
