@model FloorArea
@{
    Layout = null;
}
<div class="modal fade modal-right media-blade" id="add-floor-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-blade" role="document">
        <form class="modal-content" asp-action="CreateFloorArea" id="property-floorArea-create-form">
            <div class="modal-header bg-dark text-white">
                <div>
                    <h5 class="modal-title">
                        Add a floor area
                    </h5>
                    <p class="m-0 text-muted">
                        <i class="fa fa-plus-circle mr-2"></i> List a new floor area for the property in square metres or square feet.
                    </p>
                </div>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
             <input asp-for="PropertyId" type="hidden" />
               <div class="form-group floating-label">
                    <input asp-for="Name" type="text" class="form-control" />
                    <label asp-for="Name"></label>
                    <small asp-for="Name"></small>
                </div>
                <div class="form-group floating-label">
                    <input asp-for="Number" step="1" class="form-control" />
                    <label asp-for="Number"></label>
                    <small asp-for="Number"></small>
                </div>
                <div class="form-group floating-label">
                    <input asp-for="SquareMetres" type="number" class="form-control recalc-floor" value="0" />
                    <label asp-for="SquareMetres"></label>
                    <small asp-for="SquareMetres"></small>
                </div>
                <div class="form-group floating-label">
                    <input asp-for="SquareFeet" type="number" class="form-control recalc-floor" value="0" />
                    <label asp-for="SquareFeet"></label>
                    <small asp-for="SquareFeet"></small>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a class="add-floor btn btn-primary" href="javascript:void(0);" id="property-floorArea-create-submit">Add Floor</a>
            </div>
        </form>
    </div>
</div>
