@model BillingSettings
@{
    ViewData["Title"] = "Billing Settings";
    Layout = "_Layout_Settings";
}
@section buttons {
    @if (User.IsAdminOrBetter())
    {
        <a asp-action="ResetBilling" class="btn btn-danger warning-alert" data-warning="This will completely reset these settings to their default state, are you sure!?"><i class="fa fa-refresh"></i> Reset to Default</a>
    }
}
<div class="card">
    <div class="card-header">
        <div class="row align-items-center">
            <ul class="nav nav-tabs card-header-tabs" role="tablist" id="page-tabs">
                <li class="nav-item">
                    <a class="nav-link active" id="stripe-tab" data-toggle="tab" href="#stripe" role="tab" aria-controls="stripe" aria-selected="false">
                        Stripe
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="paypal-tab" data-toggle="tab" href="#paypal" role="tab" aria-controls="paypal" aria-selected="false">
                        PayPal
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="sagepay-tab" data-toggle="tab" href="#sagepay" role="tab" aria-controls="sagepay" aria-selected="false">
                        SagePay
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="subscriptions-tab" data-toggle="tab" href="#subscriptions" role="tab" aria-controls="subscriptions" aria-selected="false">
                        Subscriptions
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="tab-content">
            <div id="stripe" class="tab-pane active" role="tabpanel" aria-labelledby="stripe-tab">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input asp-for="EnableStripe" class="custom-control-input">
                            <label asp-for="EnableStripe" class="custom-control-label"></label>
                        </div>
                        <small asp-for="EnableStripe"></small>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input asp-for="EnableStripeTestMode" class="custom-control-input">
                            <label asp-for="EnableStripeTestMode" class="custom-control-label"></label>
                        </div>
                        <small asp-for="EnableStripeTestMode"></small>
                    </div>
                    <hr class="mt-4 mb-4" />
                    <div class="form-horizontal">
                        <div class="form-group floating-label">
                            <label asp-for="StripeLiveKey"></label>
                            <input asp-for="StripeLiveKey" class="form-control" />
                            <small asp-for="StripeLiveKey"></small>
                        </div>
                        <div class="form-group floating-label">
                            <label asp-for="StripeLivePublicKey"></label>
                            <input asp-for="StripeLivePublicKey" class="form-control" />
                            <small asp-for="StripeLivePublicKey"></small>
                        </div>
                        <div class="form-group floating-label">
                            <label asp-for="StripeTestKey"></label>
                            <input asp-for="StripeTestKey" class="form-control" />
                            <small asp-for="StripeTestKey"></small>
                        </div>
                        <div class="form-group floating-label">
                            <label asp-for="StripeTestPublicKey"></label>
                            <input asp-for="StripeTestPublicKey" class="form-control" />
                            <small asp-for="StripeTestPublicKey"></small>
                        </div>
                        <div class="form-group floating-label">
                            <label asp-for="StripeWebhookSecret"></label>
                            <input asp-for="StripeWebhookSecret" class="form-control" />
                            <small asp-for="StripeWebhookSecret"></small>
                        </div>
                        <div class="form-group floating-label">
                            <select asp-for="StripeCurrency" class="form-control">
                                <option value="gbp">Pound Sterling (GBP)</option>
                                <option value="usd">United States Dollar (USD)</option>
                                <option value="eur">Euro (EUR)</option>
                            </select>
                            <label asp-for="StripeCurrency" class="control-label"></label>
                            <small asp-for="StripeCurrency"></small>
                        </div>
                        <div class="form-group floating-label">
                            <label asp-for="SubscriptionWebhookLogs"></label>
                            <select asp-for="SubscriptionWebhookLogs" class="form-control">
                                <option value="email">Send via email</option>
                                <option value="email-failures">Send only failures via email</option>
                                <option value="none">Do not log webhooks</option>
                            </select>
                            <small asp-for="SubscriptionWebhookLogs"></small>
                        </div>
                    </div>
                </div>
            </div>
            <div id="paypal" class="tab-pane" role="tabpanel" aria-labelledby="paypal-tab">
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input asp-for="EnablePayPal" class="custom-control-input">
                        <label asp-for="EnablePayPal" class="custom-control-label"></label>
                    </div>
                    <small asp-for="EnablePayPal"></small>
                </div>
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input asp-for="PayPalSandboxMode" class="custom-control-input">
                        <label asp-for="PayPalSandboxMode" class="custom-control-label"></label>
                    </div>
                    <small asp-for="PayPalSandboxMode"></small>
                </div>
                <hr class="mt-4 mb-4" />
                <div class="form-group floating-label">
                    <label asp-for="PayPalClientId"></label>
                    <input asp-for="PayPalClientId" class="form-control" />
                    <small asp-for="PayPalClientId"></small>
                </div>
                <div class="form-group floating-label">
                    <label asp-for="PayPalSecret"></label>
                    <input asp-for="PayPalSecret" class="form-control" />
                    <small asp-for="PayPalSecret"></small>
                </div>
            </div>
            <div id="sagepay" class="tab-pane" role="tabpanel" aria-labelledby="sagepay-tab">
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input asp-for="EnableSagePay" class="custom-control-input">
                        <label asp-for="EnableSagePay" class="custom-control-label"></label>
                    </div>
                    <small asp-for="EnableSagePay"></small>
                </div>
                <hr class="mt-4 mb-4" />
                <div class="form-group">
                    <label asp-for="SagePayMode"></label>
                    <select asp-for="SagePayMode" class="form-control">
                        <option value="Sandbox">Sandbox Mode</option>
                        <option value="Testing">Testing Mode</option>
                        <option value="Live">Live Mode</option>
                    </select>
                    <small asp-for="SagePayMode"></small>
                </div>
                <hr class="mt-4 mb-4" />
                <div class="form-group">
                    <label asp-for="SagePayEndpoint"></label>
                    <input asp-for="SagePayEndpoint" class="form-control" />
                    <small asp-for="SagePayEndpoint"></small>
                </div>
                <div class="form-group">
                    <label asp-for="SagePayKey"></label>
                    <input asp-for="SagePayKey" class="form-control" />
                    <small asp-for="SagePayKey"></small>
                </div>
                <div class="form-group">
                    <label asp-for="SagePayPassword"></label>
                    <input asp-for="SagePayPassword" class="form-control" />
                    <small asp-for="SagePayPassword"></small>
                </div>
                <div class="form-group">
                    <label asp-for="SagePayVendorName"></label>
                    <input asp-for="SagePayVendorName" class="form-control" />
                    <small asp-for="SagePayVendorName"></small>
                </div>
                <hr class="mt-4 mb-4" />
                <div class="form-group">
                    <label asp-for="SagePayTestingEndpoint"></label>
                    <input asp-for="SagePayTestingEndpoint" class="form-control" />
                    <small asp-for="SagePayTestingEndpoint"></small>
                </div>
                <div class="form-group">
                    <label asp-for="SagePayTestingKey"></label>
                    <input asp-for="SagePayTestingKey" class="form-control" />
                    <small asp-for="SagePayTestingKey"></small>
                </div>
                <div class="form-group">
                    <label asp-for="SagePayTestingPassword"></label>
                    <input asp-for="SagePayTestingPassword" class="form-control" />
                    <small asp-for="SagePayTestingPassword"></small>
                </div>
                <div class="form-group">
                    <label asp-for="SagePayTestingVendorName"></label>
                    <input asp-for="SagePayTestingVendorName" class="form-control" />
                    <small asp-for="SagePayTestingVendorName"></small>
                </div>
            </div>
            <div id="subscriptions" class="tab-pane" role="tabpanel" aria-labelledby="subscriptions-tab">
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input asp-for="EnableSubscriptions" class="custom-control-input">
                        <label asp-for="EnableSubscriptions" class="custom-control-label"></label>
                        <small asp-for="EnableSubscriptions"></small>
                    </div>
                </div>
                <hr class="mt-4 mb-4" />
                <div class="form-group floating-label">
                    <label asp-for="SubscriptionCreatePage"></label>
                    <input asp-for="SubscriptionCreatePage" class="form-control" />
                    <small asp-for="SubscriptionCreatePage"></small>
                </div>
                <div class="form-group floating-label">
                    <label asp-for="SubscriptionUpgradePage"></label>
                    <input asp-for="SubscriptionUpgradePage" class="form-control" />
                    <small asp-for="SubscriptionUpgradePage"></small>
                </div>
                <div class="form-group floating-label">
                    <label asp-for="SubscriptionAddonPage"></label>
                    <input asp-for="SubscriptionAddonPage" class="form-control" />
                    <small asp-for="SubscriptionAddonPage"></small>
                </div>
            </div>
            <div id="cart" class="tab-pane" role="tabpanel" aria-labelledby="cart-tab">
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input asp-for="EnableCart" class="custom-control-input">
                        <label asp-for="EnableCart" class="custom-control-label"></label>
                    </div>
                    <small asp-for="EnableCart"></small>
                </div>
            </div>
        </div>
    </div>
</div>
