@model SeoSettings
@{
    ViewData["Title"] = "SEO Settings";
    Layout = "_Layout_Settings";
}
@section buttons {
    @if (User.IsAdminOrBetter())
    {
        <a asp-action="ResetSEO" class="btn btn-danger warning-alert" data-warning="This will completely reset these settings to their default state, are you sure!?"><i class="fa fa-refresh"></i> Reset to Default</a>
    }
}
<div class="card">
    <div class="card-header">
        <div class="row align-items-center">
            <ul class="nav nav-tabs card-header-tabs" role="tablist" id="page-tabs">
                <li class="nav-item">
                    <a class="nav-link active" id="basics-tab" data-toggle="tab" href="#basics" role="tab" aria-controls="basics" aria-selected="true">
                        Basics
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="standard-tab" data-toggle="tab" href="#standard" role="tab" aria-controls="standard" aria-selected="false">
                        Page Defaults
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="socials-tab" data-toggle="tab" href="#socials" role="tab" aria-controls="socials" aria-selected="false">
                        Social Media
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="opengraph-tab" data-toggle="tab" href="#opengraph" role="tab" aria-controls="opengraph" aria-selected="false">
                        OG Tags
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="twitter-tab" data-toggle="tab" href="#twitter" role="tab" aria-controls="twitter" aria-selected="false">
                        Twitter Card
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="tab-content">
            <div id="basics" class="tab-pane active" role="tabpanel" aria-labelledby="basics-tab">
                <alert type="Info" size="Medium" icon="fa-info-circle">
                    <p class="font-weight-bold">
                        General Titles, Keywords and Metadata
                    </p>
                    <ul class="m-0">
                        <li>
                            Meta tags are used to add hidden content to your site, that is picked up by search engines and other internet crawlers.
                        </li>
                        <li>You can set titles and descriptions that will show up on search engine results, and add keywords and images to increase your potential traffic.</li>
                        <li>Setting the following will create fallbacks for your site to use if you do not set individual page titles and descriptions.</li>
                    </ul>
                </alert>
                <hr class="mt-4 mb-4" />
                <mediaSelect asp-for="SiteIconUrl"></mediaSelect>
                <div class="form-group floating-label">
                    <label asp-for="GoogleAnalytics"></label>
                    <textarea asp-for="GoogleAnalytics" class="form-control" rows="4"></textarea>
                    <small asp-for="GoogleAnalytics"></small>
                </div>
                <hr class="mt-4 mb-4" />
                <h6 class="mb-3">Custom HTML tags</h6>
                <div class="form-group floating-label">
                    <label asp-for="HeadTags"></label>
                    <textarea asp-for="HeadTags" class="form-control" rows="4"></textarea>
                    <small asp-for="HeadTags"></small>
                </div>
                <div class="form-group floating-label">
                    <label asp-for="BodyTags"></label>
                    <textarea asp-for="BodyTags" class="form-control" rows="4"></textarea>
                    <small asp-for="BodyTags"></small>
                </div>
                <hr class="mt-4 mb-4" />
                <h6 class="mb-3">SEO Page Fallbacks</h6>
                <div class="form-group floating-label">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="form-control" />
                    <small asp-for="Title"></small>
                </div>
                <div class="form-group floating-label">
                    <label asp-for="Description"></label>
                    <input asp-for="Description" class="form-control" />
                    <small asp-for="Description"></small>
                </div>
                <div class="form-group floating-label">
                    <label asp-for="Keywords"></label>
                    <input asp-for="Keywords" class="form-control" />
                    <small asp-for="Keywords"></small>
                </div>
                <div class="form-group floating-label">
                    <label asp-for="CanonicalUrl"></label>
                    <input asp-for="CanonicalUrl" class="form-control" />
                    <small asp-for="CanonicalUrl"></small>
                </div>
                <hr class="mt-4 mb-4" />
                <h6 class="mb-3">Other General Metas</h6>
                <div class="form-group floating-label">
                    <label asp-for="Publisher"></label>
                    <input asp-for="Publisher" class="form-control" />
                    <small asp-for="Publisher"></small>
                </div>
                <div class="form-group floating-label">
                    <label asp-for="FacebookAppId"></label>
                    <input asp-for="FacebookAppId" class="form-control" />
                    <small asp-for="FacebookAppId"></small>
                </div>
            </div>
            <div id="standard" class="tab-pane" role="tabpanel" aria-labelledby="standard-tab">
                <alert type="Info" size="Medium" icon="fa-info-circle">
                    <p class="font-weight-bold">
                        Settings for default pages
                    </p>
                    <ul class="m-0">
                        <li>
                            Setting the following will add meta titles and descriptions for the standard pages of the site.
                        </li>
                    </ul>
                </alert>
                <hr class="mt-4 mb-4" />
                <h6 class="mb-3">Home Page</h6>
                <div class="form-group floating-label">
                    <label asp-for="Home.Title"></label>
                    <input asp-for="Home.Title" class="form-control" />
                    <small asp-for="Home.Title"></small>
                </div>
                <div class="form-group floating-label">
                    <label asp-for="Home.Description"></label>
                    <input asp-for="Home.Description" class="form-control" />
                    <small asp-for="Home.Description"></small>
                </div>
                <div class="form-group floating-label">
                    <label asp-for="Home.Keywords"></label>
                    <input asp-for="Home.Keywords" class="form-control" />
                    <small asp-for="Home.Keywords"></small>
                </div>
                <div class="form-group floating-label">
                    <label asp-for="Home.CanonicalUrl"></label>
                    <input asp-for="Home.CanonicalUrl" class="form-control" />
                    <small asp-for="Home.CanonicalUrl"></small>
                </div>
                <hr class="mt-4 mb-4" />
                <h6 class="mb-3">Contact Page</h6>
                <div class="form-group floating-label">
                    <label asp-for="Contact.Title"></label>
                    <input asp-for="Contact.Title" class="form-control" />
                    <small asp-for="Contact.Title"></small>
                </div>
                <div class="form-group floating-label">
                    <label asp-for="Contact.Description"></label>
                    <input asp-for="Contact.Description" class="form-control" />
                    <small asp-for="Contact.Description"></small>
                </div>
                <div class="form-group floating-label">
                    <label asp-for="Contact.Keywords"></label>
                    <input asp-for="Contact.Keywords" class="form-control" />
                    <small asp-for="Contact.Keywords"></small>
                </div>
                <div class="form-group floating-label">
                    <label asp-for="Contact.CanonicalUrl"></label>
                    <input asp-for="Contact.CanonicalUrl" class="form-control" />
                    <small asp-for="Contact.CanonicalUrl"></small>
                </div>
            </div>
            <div id="socials" class="tab-pane" role="tabpanel" aria-labelledby="socials-tab">
                <alert type="Info" size="Medium" icon="fa-info-circle">
                    <p class="font-weight-bold">
                        Social Media
                    </p>
                    <ul class="m-0">
                        <li>
                            Here you can set what Social Media networks are linked and displayed on your site. Remember linking more of these will provide you with direct links to these services.
                        </li>
                    </ul>
                </alert>
                <hr class="mt-4 mb-4" />
                <div class="form-group floating-label">
                    <label asp-for="Twitter"></label>
                    <input asp-for="Twitter" class="form-control" />
                    <small asp-for="Twitter"></small>
                </div>
                <div class="form-group floating-label">
                    <label asp-for="TwitterHandle"></label>
                    <input asp-for="TwitterHandle" class="form-control" />
                    <small asp-for="TwitterHandle"></small>
                </div>
                <div class="form-group floating-label">
                    <label asp-for="Facebook"></label>
                    <input asp-for="Facebook" class="form-control" />
                    <small asp-for="Facebook"></small>
                </div>
                <div class="form-group floating-label">
                    <label asp-for="LinkedIn"></label>
                    <input asp-for="LinkedIn" class="form-control" />
                    <small asp-for="LinkedIn"></small>
                </div>
                <div class="form-group floating-label">
                    <label asp-for="TripAdvisor"></label>
                    <input asp-for="TripAdvisor" class="form-control" />
                    <small asp-for="TripAdvisor"></small>
                </div>
                <div class="form-group floating-label">
                    <label asp-for="Instagram"></label>
                    <input asp-for="Instagram" class="form-control" />
                    <small asp-for="Instagram"></small>
                </div>
                <div class="form-group floating-label">
                    <label asp-for="Pinterest"></label>
                    <input asp-for="Pinterest" class="form-control" />
                    <small asp-for="Pinterest"></small>
                </div>
                <div class="form-group floating-label">
                    <label asp-for="GitHub"></label>
                    <input asp-for="GitHub" class="form-control" />
                    <small asp-for="GitHub"></small>
                </div>
            </div>
            <div id="opengraph" class="tab-pane" role="tabpanel" aria-labelledby="opengraph-tab">
                <alert type="Info" size="Medium" icon="fa-info-circle">
                    <p class="font-weight-bold">
                        Open Graph Settings
                    </p>
                    <ul class="m-0">
                        <li>
                            The Open Graph protocol, allows you to add images and rich content to your pages, that will help them to show up in the facebook or other social feeds correctly. For Twitter - see Twitter Cards.
                        </li>
                    </ul>
                </alert>
                <hr class="mt-4 mb-4" />
                <div class="form-group floating-label">
                    <label asp-for="OgTitle"></label>
                    <input asp-for="OgTitle" class="form-control" />
                    <small asp-for="OgTitle"></small>
                </div>
                <div class="form-group floating-label">
                    <label asp-for="OgDescription"></label>
                    <input asp-for="OgDescription" class="form-control" />
                    <small asp-for="OgDescription"></small>
                </div>
                <div class="form-group floating-label">
                    <label asp-for="OgAuthor"></label>
                    <input asp-for="OgAuthor" class="form-control" />
                    <small asp-for="OgAuthor"></small>
                </div>
                <mediaSelect asp-for="OgImageUrl"></mediaSelect>
                <mediaSelect asp-for="OgSecureImageUrl"></mediaSelect>
                <div class="form-group floating-label">
                    <label asp-for="OgLocale"></label>
                    <input asp-for="OgLocale" class="form-control" />
                    <small asp-for="OgLocale"></small>
                </div>
                <input type="hidden" asp-for="OgUrl" class="form-control">
            </div>
            <div id="twitter" class="tab-pane" role="tabpanel" aria-labelledby="twitter-tab">
                <alert type="Info" size="Medium" icon="fa-info-circle">
                    <p class="font-weight-bold">
                        Twitter Cards
                    </p>
                    <ul class="m-0">
                        <li>
                            With Twitter Cards, you can attach rich photos, videos and media experience to Tweets that drive traffic to your website.
                        </li>
                        <li>
                            Simply add a few lines of HTML to your webpage, and users who Tweet links to your content will have a “Card” added to the Tweet that’s visible to all of their followers.
                        </li>
                    </ul>
                </alert>
                <div class="form-group floating-label">
                    <label asp-for="TwitterCardTitle"></label>
                    <input asp-for="TwitterCardTitle" class="form-control" />
                    <small asp-for="TwitterCardTitle"></small>
                </div>
                <div class="form-group floating-label">
                    <label asp-for="TwitterCardDescription"></label>
                    <input asp-for="TwitterCardDescription" class="form-control" />
                    <small asp-for="TwitterCardDescription"></small>
                </div>
                <div class="form-group floating-label">
                    <label asp-for="TwitterCardCreator"></label>
                    <input asp-for="TwitterCardCreator" class="form-control" />
                    <small asp-for="TwitterCardCreator"></small>
                </div>
                <mediaSelect asp-for="TwitterCardImageUrl"></mediaSelect>
                <div class="form-group floating-label">
                    <label asp-for="TwitterCardSite"></label>
                    <input asp-for="TwitterCardSite" class="form-control" />
                    <small asp-for="TwitterCardSite"></small>
                </div>
            </div>
        </div>
    </div>
</div>