footer.footer {
    position: relative;
    padding-top: math.div($grid-gutter-width, 2);
    margin-top: math.div($grid-gutter-width, 2);
    border: 0;
    border-top: 1px solid $gray-200;
    @media (min-width: 768px) {
        padding-top: $grid-gutter-width;
        margin-top: $grid-gutter-width;
    }
}