footer.footer {
    border: 0;
    border-top: 1px solid $gray-200;
    position: relative;
    margin-top: $grid-gutter-width / 2;
    padding-top: $grid-gutter-width / 2;

    @media (min-width:768px) {
        margin-top: $grid-gutter-width;
        padding-top: $grid-gutter-width;
    }
}
