@model PropertyListing
@inject IContentRepository _data
@{
    var _integrationSettings = Engine.Settings.Integrations;
}
<div id="info" class="tab-pane active">
    <h5 class="mt-2 mb-0">Property Listing, Title and Description</h5>
    <p>Set titles, descriptions and enter the main body of the property. You can adjust what editors you see here in the <a asp-action="Property" asp-controller="Settings">content settings</a> area.</p>
    <div class="form-floating mb-3">
        <input asp-for="Title" type="text" class="form-control" />
        <label asp-for="Title"></label>
        <small asp-for="Title"></small>
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label fw-bold"></label>
        <textarea asp-for="Description" class="tinymce-full-content"
                  data-hood-media-list="@Url.Action("Action", "Media", new { doAction = MediaWindowAction.Insert })"></textarea>
        <small asp-for="Description"></small>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Reference" type="text" class="form-control" />
        <label asp-for="Reference"></label>
        <small asp-for="Reference"></small>
    </div>
    <partial name="_Editor_Images" />
    <h5 class="mt-4 mb-0">Property Address</h5>
    <p>Address and location information for this property listing.</p>
    @if (_integrationSettings.EnableGoogleGeocoding && _integrationSettings.GoogleMapsApiKey.IsSet())
    {
        <div class="form-floating mb-3">
            <label for="address-autocomplete">Search for an address (Google Lookup)</label>
            <input id="address-autocomplete" type="text" class="form-control" value="" placeholder="Enter an address..." autocomplete="off" />
            <small class="text-info form-text">Search for an address here with Google, and automatically fill in the address form, including the map Latitude/Longitude fields.</small>
        </div>
    }
    <partial name="_Editor_Address" />
    @if (Engine.Settings.Integrations.IsGoogleGeocodingEnabled)
    {
        <div class="mb-3">
            <div class="form-check form-switch">
                <input asp-for="AutoGeocode" class="form-check-input">
                <label asp-for="AutoGeocode" class="form-check-label d-block"></label>
                <small asp-for="AutoGeocode"></small>
            </div>
        </div>
    }
    else
    {
        <input asp-for="AutoGeocode" type="hidden">
    }
</div>
