@model PropertyListModel
@{
    ViewBag.Title = "Property Listings";
    PropertySettings _propertySettings = Engine.Settings.Property;
}
@section buttons {
    <a class="btn btn-success property-create" asp-action="Create">
        <i class="fa fa-user-plus me-2"></i>
        Create New
    </a>
    @if (_propertySettings.ShowList)
    {
        <a class="btn btn-outline-dark" href="/@_propertySettings.Slug" target="_blank"><i class="fa fa-desktop me-2"></i>Preview</a>
    }
}
@if (Model.SaveMessage.IsSet())
{
    <alert type="@Model.MessageType" size="Medium" icon="fa-save">@Model.SaveMessage</alert>
}
<form class="inline" data-target="#property-list">
    <div class="row">
        <div class="col-lg-8 mb-3">
            <div id="property-list" class="query hood-inline-list" data-url="@Url.Action("List")"></div>
        </div>
        <div class="col-lg-4">
            <partial name="_Filters" />
        </div>
    </div>
</form>