@model ContentModel
@{
    ViewBag.Title = "Import Properties via BLM";
    PropertySettings _propertySettings = Engine.Settings.Property;
}
@section buttons {
    <a class="btn btn-sm btn-primary" asp-action="Manage" asp-controller="Property" asp-area="Admin"><i class="fa fa-list-ol m-r-sm"></i>Back to List</a>
}
<script src="~/hood/js/includes/import.property.js" asp-location="AfterScripts"></script>
<div class="panel-body">
    <h4 class="font-bold">
        <span>Update from FTP Service</span>
    </h4>
    <p>Here you can run the update from the remote FTP service. Click 'Run Update' to start the automatic update.</p>
    <button id="cancel" class="btn" value="">Cancel</button>
    <button id="runUpdate" class="btn btn-primary">Run Update</button>
    <div id="error"></div>
    <div id="update-progress" class="alert alert-info m-t-lg">
        <h3><span class="pc">0.0</span>% Complete</h3>
        <div id="progresscontainer" class="progress progress-striped">
            <div id="progressbar" class="progress-bar progress-bar-inverse" style="width: 0%"></div>
        </div>
    </div>
</div>
<div class="panel-body">
    <h4 class="font-bold">
        <span>Activity</span>
    </h4>
    <div id="progress">
        <div class="well-lg">
            <p>Current Task: <strong id="pt"></strong></p>
            <p>FTP Service Activity: <strong id="ft"></strong></p>
            <p>Total Properties: <strong class="tp"></strong></p>
            <p>Properties Processed: <strong id="pp"></strong> of <strong class="tp"></strong></p>
            <p>
                Properties Added:
                <strong id="pa"></strong> of <strong id="ToAdd"></strong>
            </p>
            <p>
                Properties Updated:
                <strong id="pu"></strong> of <strong id="ToUpdate"></strong>
            </p>
            <p>
                Properties Deleted:
                <strong id="pd"></strong> of <strong id="ToDelete"></strong>
            </p>
        </div>
    </div>
</div>
<div class="panel-body">
    <h4 class="font-bold">
        <span>Errors</span>
    </h4>
    <div id="Errors">
        <p>No errors reported.</p>
    </div>
</div>
<div class="panel-body">
    <h4 class="font-bold">
    Warnings
    </h4>
    <div id="Warnings">
        <p>No warnings reported.</p>
    </div>
</div>
