@model SubscriptionGroupListModel
@{
    ViewBag.Title = "Subscription groups";
}
@section buttons {
    <a class="btn btn-success hood-modal" asp-action="Create" data-complete="$.hood.Property.Create">
        <i class="fa fa-user-plus mr-2"></i>
        Create New
    </a>
    <button type="button" class="btn btn-outline-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-ellipsis-h"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-right">
    </div>
}
@if (Model.SaveMessage.IsSet())
{
    <alert type="@Model.MessageType" size="Medium" icon="fa-save">@Model.SaveMessage</alert>;
}
<form class="inline" data-target="#subscriptions-groups-list">
    <div class="row">
        <div class="col-lg-8 mb-3">
            <div id="subscriptions-groups-list" class="hood-inline-list refresh query" data-url="@Url.Action("GroupsList")" data-complete="$.hood.Subscriptions.Lists.Groups.Loaded">
                <partial name="_List_Groups" />
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-3">
                <div class="card-header position-relative" id="subscription-groups-filters-panel-heading">
                    <p class="card-title m-0 font-weight-bold">
                        <a class="stretched-link text-dark text-decoration-none" data-toggle="collapse" data-target="#subscription-groups-filters-panel" href="#subscription-groups-filters-panel" aria-expanded="true" aria-controls="subscription-groups-filters-panel">
                            Search Filters
                            <i class="fe fe-arrow-up mt-1"></i>
                        </a>
                    </p>
                </div>
                <div class="card-body collapse show" aria-labelledby="subscription-groups-filters-panel-heading" id="subscription-groups-filters-panel">
                   <div class="form-group floating-label">
                        <label asp-for="Search"></label>
                        <select class="form-control refresh-on-change" asp-for="Order">
                            <optgroup label="Group">
                                <option value="Title">Title/Name (A-Z)</option>
                                <option value="TitleDesc">Title/Name (Z-A)</option>
                            </optgroup>
                        </select>
                        <small asp-for="Search"></small>
                    </div>
                   <div class="form-group floating-label mb-0">
                        <label asp-for="Search"></label>
                        <input asp-for="Search" class="form-control">
                        <small asp-for="Search"></small>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-success btn-block"> Search!</button>
                </div>
            </div>
        </div>
    </div>
</form>