<alert>
    <h4>Placeholders</h4>
    <p>When using email or communication templates you can use the following placeholders to automatically insert the names of users, or site information:</p>
    <h5>Site Placeholders</h5>
    <p>These are taken from your site settings.</p>
    <p>
        <strong>
            {Site.Title} {Site.CompanyName} {Site.Phone} {Site.Logo} {Site.LogoLight} {Site.Address} {Site.Owner.Name} {Site.Owner.Phone} {Site.Owner.Email}
        </strong>
    </p>
    <h5>User Placeholders</h5>
    <p>These are taken from the user you are sending the email or message to.</p>
    <p>
        <strong>
            {User.Username} {User.Email} {User.PhoneNumber} {User.Facebook} {User.LinkedIn} {User.Twitter} {User.Instagram} {User.WebsiteUrl} {User.FullName} {User.FirstName} {User.LastName}
        </strong>
    </p>
</alert>