<ul class="navbar-nav">
    @if (User.IsEditorOrBetter())
    {
        <li class="nav-item">
            <h4>Website Management</h4>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="Home" asp-area="Admin">
                <i class="fa fa-home"></i>
                Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown collapsed" href="#sidebar-content" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebar-content">
                <i class="fa fa-pen-fancy"></i>
                Content
            </a>
            <div class="collapse" id="sidebar-content">
                <ul class="nav">
                    @{
                        var sideTypes = Engine.Settings.Content.AllowedTypes;
                        if (Engine.Settings.Property.Enabled)
                        {
                            sideTypes.Add(new ContentType() { Type = "property", TypeNamePlural = "Properties", Icon= "fa-building" });
                        }
                        sideTypes = sideTypes.OrderBy(t => t.TypeNamePlural).ToList();
                        foreach (ContentType ct in sideTypes)
                        {
                            if (ct.Type == "property")
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="Index" asp-controller="Property" asp-route-area="Admin">
                                        <i class="fa fa-building"></i>
                                        @ct.TypeNamePlural
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="Index" asp-controller="Content" asp-route-type="@ct.Type" asp-route-area="Admin">
                                        <i class="fa @ct.Icon"></i>
                                              @ct.TypeNamePlural
                                    </a>
                                </li>
                            }
                        }
                    }
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index" asp-controller="Content" asp-route-area="Admin" asp-route-type="">
                            <i class="fa fa-archive"></i>
                            All Content
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    }
    @if (User.IsEditorOrBetter())
    {
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="Media" asp-route-area="Admin">
                <i class="fa fa-image"></i>Media
            </a>
        </li>
    }
    @if (User.IsAdminOrBetter() && Engine.Settings.Property.IsBlmImporterEnabled)
    {
        <li class="nav-item">
            <h4>Import/Export</h4>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown collapsed" href="#sidebar-import" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebar-import">
                <i class="fa fa-building"></i>
                Property
            </a>
            <div class="collapse" id="sidebar-import">
                <ul class="nav">
                    @if (Engine.Settings.Property.IsBlmImporterEnabled)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-action="BlmImporter" asp-controller="Import">
                                <i class="fa fa-upload"></i>Import Properties (BLM)
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Property" asp-controller="Settings">
                                <i class="fa fa-upload"></i>Enable Importer
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </li>
    }
    @if (User.IsEditorOrBetter())
    {
        <li class="nav-item">
            <h4>Settings</h4>
        </li>
        @if (User.IsAdminOrBetter() && Engine.Settings.Basic.EnableThemes)
        {
            <li class="nav-item">
                <a class="nav-link" asp-action="Index" asp-controller="Themes" asp-route-area="Admin">
                    <i class="fa fa-paint-brush"></i>Theme
                </a>
            </li>
        }
        @if (User.IsAdminOrBetter())
        {
            <li class="nav-item">
                <a class="nav-link" asp-action="Basics" asp-controller="Settings" asp-route-area="Admin">
                    <i class="fa fa-cogs"></i>Site Settings
                </a>
            </li>
        }
        @if (User.IsEditorOrBetter())
        {
            <li class="nav-item">
                <a class="nav-link" asp-action="Seo" asp-controller="Settings" asp-route-area="Admin">
                    <i class="fa fa-tag"></i>SEO Settings
                </a>
            </li>
        }
        @if (User.IsAdminOrBetter())
        {
            <li class="nav-item">
                <a class="nav-link" asp-action="Index" asp-controller="Users">
                    <i class="fa fa-users-cog"></i>Users
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="Roles" asp-controller="Users">
                    <i class="fa fa-users"></i>Roles
                </a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link dropdown collapsed" href="#sidebar-settings" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebar-settings">
                <i class="fa fa-wrench"></i>Advanced Settings
            </a>
            <div class="collapse" id="sidebar-settings">
                <ul class="nav">
                    @if (User.IsAdminOrBetter())
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Logs">
                                <i class="fa fa-list"></i>Logs
                            </a>
                        </li>
                    }
                    <li class="nav-item">
                        <hr />
                    </li>
                    @if (User.IsAdminOrBetter())
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Account" asp-controller="Settings" asp-route-area="Admin">
                                <i class="fa fa-user-plus"></i>Account Settings
                            </a>
                        </li>
                    }
                    @if (User.IsAdminOrBetter())
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Contact" asp-controller="Settings" asp-route-area="Admin">
                                <i class="fa fa-envelope"></i>Contact Settings
                            </a>
                        </li>
                    }
                    @if (User.IsAdminOrBetter())
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="ContentType" asp-route-area="Admin">
                                <i class="fa fa-tag"></i>Content Types
                            </a>
                        </li>
                    }
                    @if (User.IsAdminOrBetter())
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Integrations" asp-controller="Settings" asp-route-area="Admin">
                                <i class="fa fa-plug"></i>Integrations
                            </a>
                        </li>
                    }
                    @if (User.IsAdminOrBetter())
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Mail" asp-controller="Settings" asp-route-area="Admin">
                                <i class="fa fa-envelope"></i>Mail Settings
                            </a>
                        </li>
                    }
                    @if (User.IsAdminOrBetter())
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Media" asp-controller="Settings" asp-route-area="Admin">
                                <i class="fa fa-images"></i>Media Settings
                            </a>
                        </li>
                    }
                    @if (User.IsAdminOrBetter())
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Property" asp-controller="Settings" asp-route-area="Admin">
                                <i class="fa fa-building"></i>Property Settings
                            </a>
                        </li>
                    }
                    @if (User.IsAdminOrBetter())
                    {
                        <li class="divider"></li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Advanced" asp-controller="Settings" asp-route-area="Admin">
                                <i class="fa fa-exclamation-triangle"></i>Advanced Settings
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </li>
    }
</ul>

