// inside header .wrap
nav.mobile {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 999;
    background-color: @theme-dark;
    color: white;
    padding: 25px;
    padding-right: 80px;

    .logo {
        margin-bottom: 50px;

        img {
            max-height: 35px;
        }
    }

    a {
        color: white;
        display: block;
        padding: 5px 10px;

        &:hover {
            color: @theme-dark;
        }
    }

    ul {
        margin: 0;
        margin-left: 15px;
        margin-bottom: 25px;
        padding: 0;

        li {
            list-style-type: none;

            a {
                font-weight: bold;
            }
        }
    }
}
