﻿﻿﻿﻿﻿﻿﻿﻿.hamburger {
    cursor: pointer;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    padding: 68px 15px 0;
    position: absolute;
    top: 0px;
    outline: none;
    right: 0px;
    @include transition(all ease-in-out .5s);
    display: block;

    @media (min-width:996px) {
        display: none;
    }

    &:hover {
        opacity: 0.7;
    }

    .hamburger-label {
        @include transition(all ease-in-out .5s);
        color: black;
        font-size: 20px;
        position: absolute;
        top: 47px;
        transform: translateY(-50%);
        left: 105px;
        text-transform: uppercase;
        letter-spacing: 3px;
        display: none;
        line-height: 1em;
        margin: 0;
        padding: 0;
        vertical-align: middle;

        @media (min-width:768px) {
            display: block;
            left: 95px;
        }

        @media (min-width:996px) {
            display: block;
            left: 115px
        }
    }

    .hamburger-box {
        width: 40px;
        height: 24px;
        display: inline-block;
        position: relative;

        .hamburger-inner {
            display: block;
            top: 50%;
            margin-top: -2px;
        }


        .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
            width: 30px;
            height: 4px;
            background-color: black;
            border-radius: 0px;
            position: absolute;
            transition-property: transform;
            transition-duration: 0.15s;
            transition-timing-function: ease;
        }

        .hamburger-inner::before, .hamburger-inner::after {
            content: "";
            display: block;
        }
    }

    &.elastic {
        .hamburger-box {
            .hamburger-inner {
                top: 2px;
                transition-duration: 0.4s;
                transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

                &::before {
                    top: 10px;
                    @include transition(transform 0.15s 0.4s ease);
                }

                &::after {
                    top: 20px;
                    @include transition(transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55));
                }
            }
        }
    }
}

nav.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include transition(opacity ease-in-out .5s);
    opacity: 0;
    transform: translateY(200%);
    background-color: black;

    .logo-element {
        text-align: center;
        margin-top: 70px;
        margin-bottom: 70px;

        > img {
            max-width: 40%;
        }
    }

    a {
        padding: 15px 0;
        display: block;
        color: $Hood.Demo-light;
        text-decoration: none;
        font-size: 1.6em;
        font-weight: bold;
        text-align: left;
    }
}

body.menu-open {

    nav.mobile-menu {
        opacity: 1;
        transform: translateY(0%);
    }

    .hamburger {
        &.elastic {
            .hamburger-box {
                .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
                    background-color: $Hood.Demo-light;
                }

                .hamburger-inner {
                    @include transform(translate3d(0, 10px, 0) rotate(135deg));
                    transition-delay: 0.1s;

                    &::before {
                        transition-delay: 0s;
                        opacity: 0;
                    }

                    &::after {
                        @include transform(translate3d(0, -20px, 0) rotate(-270deg));
                        transition-delay: 0.1s;
                    }
                }
            }
        }
    }
}

body, body.menu-open {
    .sticky {
        .hamburger {
            .hamburger-label {
                color: #333;
                top: 35px;
            }

            .hamburger-box {
                .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
                    background-color: #333;
                }
            }
        }
    }
}
