@model InstallModel
@{ 
    Layout = "_Layout_Login";
    ViewData["BodyClass"] = "install";
}
<div class="header">
    <h2>Install</h2>
    <p>The CMS Setup is currently incomplete. Please correct the errors below before restarting the service, once you have done this the application will start up correctly.</p>
    <p><strong>Once you have updated the settings, you MUST restart the web application for them to take effect.</strong></p>
</div>
@if (!Model.DatabaseConfigured)
{
    <alert icon="fa fa-exclamation-triangle" type="Danger" size="Medium">
        <h6>
            Database connected
        </h6>
        <p>No database connection has been detected. Please ensure you have set set the database connecion string inside your appsettings.json file, or your ConnectionStrings in your environment variables.</p>
        <p class="m-0">
            If you are using Azure, please follow this guide to add a database connection string to your Web App slot.
            <a href="https://docs.microsoft.com/en-us/azure/app-service-web/web-sites-configure">https://docs.microsoft.com/en-us/azure/app-service-web/web-sites-configure</a>
        </p>
    </alert>
}
@if (!Model.ViewsInstalled)
{
    <alert icon="fa fa-exclamation-triangle" type="Danger" size="Epic">
        <h6>
            Database not installed
        </h6>
        <p class="m-0">
            You have not correctly installed the views for the database.
            You need to run the file <code>InstallHoodViews.sql</code> from the SQL folder in the Hood CMS package, while connected to your database using a suitable SQL editor,
            such as <a href="https://visualstudio.microsoft.com/" target="_blank">Microsoft Visual Studio</a> or
            <a href="https://docs.microsoft.com/en-us/sql/ssms/download-sql-server-management-studio-ssms" target="_blank">Microsoft SSMS</a>.
        </p>
    </alert>
}
