@model Address
@inject IContentRepository _content
@{
    Layout = null;
}
@section scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlnzmbeo7JEMMxHUrZOJz6zWnHbQBmGng&libraries=places&callback=$.hood.Handlers"></script>
}
<div class="modal fade" role="dialog" id="add-address-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit address</h4>
            </div>
            <div class="modal-body">
                <form id="address-form" asp-action="Edit">
                    <div class="form-horizontal">
                        <input type="hidden" asp-for="Id" value="@Model.Id" />
                        <input type="hidden" asp-for="UserId" value="@Model.UserId" />
                        <input type="hidden" asp-for="Latitude" />
                        <input type="hidden" asp-for="Longitude" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <input id="address-autocomplete" onfocus="$.hood.Handlers.Addresses.GeoLocate()" type="text" class="form-control" value="" placeholder="Enter an address..." />
                        </div>
                        <div class="form-group">
                            <label asp-for="QuickName" class="col-md-4 control-label"></label>
                            <div class="col-md-6">
                                <input asp-for="QuickName" class="form-control" />
                                <span asp-validation-for="QuickName" class="text-danger" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Number" class="col-md-4 control-label"></label>
                            <div class="col-md-6">
                                <input asp-for="Number" class="form-control" />
                                <span asp-validation-for="Number" class="text-danger" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Address1" class="col-md-4 control-label"></label>
                            <div class="col-md-6">
                                <input asp-for="Address1" class="form-control" />
                                <span asp-validation-for="Address1" class="text-danger" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Address2" class="col-md-4 control-label"></label>
                            <div class="col-md-6">
                                <input asp-for="Address2" class="form-control" />
                                <span asp-validation-for="Address2" class="text-danger" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="City" class="col-md-4 control-label"></label>
                            <div class="col-md-6">
                                <input asp-for="City" class="form-control" />
                                <span asp-validation-for="City" class="text-danger" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="County" class="col-md-4 control-label"></label>
                            <div class="col-md-6">
                                <select class="form-control" asp-for="County">
                                    <option value="">-- Choose a county --</option>
                                    <option value="Outside UK">Outside UK</option>
                                    <optgroup label="England">
                                        <option>Bedfordshire</option>
                                        <option>Berkshire</option>
                                        <option>Bristol</option>
                                        <option>Buckinghamshire</option>
                                        <option>Cambridgeshire</option>
                                        <option>Cheshire</option>
                                        <option>City of London</option>
                                        <option>Cornwall</option>
                                        <option>Cumbria</option>
                                        <option>Derbyshire</option>
                                        <option>Devon</option>
                                        <option>Dorset</option>
                                        <option>Durham</option>
                                        <option>East Riding of Yorkshire</option>
                                        <option>East Sussex</option>
                                        <option>Essex</option>
                                        <option>Gloucestershire</option>
                                        <option>Greater London</option>
                                        <option>Greater Manchester</option>
                                        <option>Hampshire</option>
                                        <option>Herefordshire</option>
                                        <option>Hertfordshire</option>
                                        <option>Isle of Wight</option>
                                        <option>Kent</option>
                                        <option>Lancashire</option>
                                        <option>Leicestershire</option>
                                        <option>Lincolnshire</option>
                                        <option>Merseyside</option>
                                        <option>Norfolk</option>
                                        <option>North Yorkshire</option>
                                        <option>Northamptonshire</option>
                                        <option>Northumberland</option>
                                        <option>Nottinghamshire</option>
                                        <option>Oxfordshire</option>
                                        <option>Rutland</option>
                                        <option>Shropshire</option>
                                        <option>Somerset</option>
                                        <option>South Yorkshire</option>
                                        <option>Staffordshire</option>
                                        <option>Suffolk</option>
                                        <option>Surrey</option>
                                        <option>Tyne and Wear</option>
                                        <option>Warwickshire</option>
                                        <option>West Midlands</option>
                                        <option>West Sussex</option>
                                        <option>West Yorkshire</option>
                                        <option>Wiltshire</option>
                                        <option>Worcestershire</option>
                                    </optgroup>
                                    <optgroup label="Wales">
                                        <option>Anglesey</option>
                                        <option>Brecknockshire</option>
                                        <option>Caernarfonshire</option>
                                        <option>Carmarthenshire</option>
                                        <option>Cardiganshire</option>
                                        <option>Denbighshire</option>
                                        <option>Flintshire</option>
                                        <option>Glamorgan</option>
                                        <option>Merioneth</option>
                                        <option>Monmouthshire</option>
                                        <option>Montgomeryshire</option>
                                        <option>Pembrokeshire</option>
                                        <option>Radnorshire</option>
                                    </optgroup>
                                    <optgroup label="Scotland">
                                        <option>Aberdeenshire</option>
                                        <option>Angus</option>
                                        <option>Argyllshire</option>
                                        <option>Ayrshire</option>
                                        <option>Banffshire</option>
                                        <option>Berwickshire</option>
                                        <option>Buteshire</option>
                                        <option>Cromartyshire</option>
                                        <option>Caithness</option>
                                        <option>Clackmannanshire</option>
                                        <option>Dumfriesshire</option>
                                        <option>Dunbartonshire</option>
                                        <option>East Lothian</option>
                                        <option>Fife</option>
                                        <option>Inverness-shire</option>
                                        <option>Kincardineshire</option>
                                        <option>Kinross</option>
                                        <option>Kirkcudbrightshire</option>
                                        <option>Lanarkshire</option>
                                        <option>Midlothian</option>
                                        <option>Morayshire</option>
                                        <option>Nairnshire</option>
                                        <option>Orkney</option>
                                        <option>Peeblesshire</option>
                                        <option>Perthshire</option>
                                        <option>Renfrewshire</option>
                                        <option>Ross-shire</option>
                                        <option>Roxburghshire</option>
                                        <option>Selkirkshire</option>
                                        <option>Shetland</option>
                                        <option>Stirlingshire</option>
                                        <option>Sutherland</option>
                                        <option>West Lothian</option>
                                        <option>Wigtownshire</option>
                                    </optgroup>
                                    <optgroup label="Northern Ireland">
                                        <option>Antrim</option>
                                        <option>Armagh</option>
                                        <option>Down</option>
                                        <option>Fermanagh</option>
                                        <option>Londonderry</option>
                                        <option>Tyrone</option>
                                    </optgroup>
                                </select>
                                <span asp-validation-for="County" class="text-danger" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Country" class="col-md-4 control-label"></label>
                            <div class="col-md-6">
                                <select class="form-control" asp-for="Country">
                                    <option value="">-- Choose a country --</option>
                                    @foreach (var itm in _content.AllCountries())
                                    {
                                        <option value="@itm.Name">@itm.Name</option>
                                    }
                                </select>
                                <span asp-validation-for="Country" class="text-danger" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Postcode" class="col-md-4 control-label"></label>
                            <div class="col-md-6">
                                <input asp-for="Postcode" class="form-control" />
                                <span asp-validation-for="Postcode" class="text-danger" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="save-address">Save Address</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
