@model ForumModel
@inject ForumCategoryCache _categories
@{
    _categories.ResetCache();
    var categories = _categories.TopLevel();
    Layout = null;
}
@if (categories.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th colspan="2">
                    Categories
                </th>
            </tr>
        </thead>
        @Html.AdminForumCategoryTree(categories)
    </table>
}
else
{
    <h4>Categories</h4>
    <p>No categories added yet. To add a category, simply add category on the right.</p>
}
