@model ForumModel
@inject ForumCategoryCache _categories
@{
    Layout = null;
}
@if (_categories.Count > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th colspan="2">
                    Categories
                </th>
            </tr>
        </thead>
        @_categories.AdminForumCategoryTree(_categories.TopLevel())
    </table>
}
else
{
    <h4>Categories</h4>
    <p>No categories added yet. To add a category, simply add category on the right.</p>
}
