div.hood-inline, div.hood-inline-list {
    position: relative;

    &.loading {
        min-height: 80px;
    }

    &.loading:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255, 255, 255, .5);
        z-index: 2;
    }

    &.loading:before {
        display: block;
        width: 100px;
        height: 100px;
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url(https://cdn.jsdelivr.net/npm/hoodcms@4.1.2/images/loading.svg);
        z-index: 99;
    }

    &.loading i.fa.fa-refresh.fa-adjust-hue {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -15px;
        margin-top: -15px;
        font-size: 30px;
    }
}
