.nav-tabs.card-header-tabs {
    border-bottom: 1px solid transparent;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: -.75rem 0;

    .nav-item {
        margin: 0;

        &:first-child {
            margin-left: 0
        }

        &:last-child {
            margin-right: 0
        }

        .nav-link {
            padding: 1rem;
            border: 1px solid transparent;
            background: transparent;
            border-radius: 0;
            margin-bottom: -2px;
            color: $gray-600;
            font-weight: $font-weight-bold;

            &.active {
                color: black;
                border-bottom: 1px solid $black;
            }

            &:not(.active):hover {
                color: $gray-700;
                border-bottom: 1px solid $gray-700;
            }
        }

        .dropdown-menu {
            color: #6c757d;
            font-weight: 700;
            min-width: 250px;
            border-radius: 3px;
            margin-top: 2px;

            ul.navbar-nav {
                margin: 0;

                .nav-link {
                    padding: .5rem 1.5rem;
                    border: 0;
                    color: $gray-700;
                    border-bottom: 0;

                    &.active {
                        color: $gray-700;
                        border-bottom: 0;
                    }

                    &:hover {
                        color: $gray-900;
                        background-color: $gray-100;
                        border-bottom: 0;
                    }
                }
            }
        }
    }
}
