.widget {
    padding: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    background-clip: padding-box;
    margin-bottom: 20px;
    background-color: #ffffff;
    position: relative;

    .icon {
        position: absolute;
        right: 25px;
        font-size: 25px !important;
        top: 25px;
        overflow: hidden;
        vertical-align: middle;
        height: 60px;
        width: 60px;
        text-align: center;
        line-height: 55px;
        border-radius: 50%;
        color: #000;
        border: 2px solid rgba(0, 0, 0, 0.5);

        &.left {
            right: auto;
            left: 25px;
        }
    }

    .content {
        position: relative;
    }

    &.table {
        display: table;
        height: 100%;
        width: 100%;

        .table-detail {
            display: table-cell;
            vertical-align: middle;
        }
    }

    &.coloured {
        p {
            font-size: 14px;
        }

        .icon {
            position: absolute;
            right: 30px;
            font-size: 30px !important;
            top: 30px;
            overflow: hidden;
            vertical-align: middle;
            height: 80px;
            width: 80px;
            text-align: center;
            line-height: 75px;
            border-radius: 50%;
            color: #ffffff;
            border: 2px solid rgba(255, 255, 255, 0.5);
        }

        .content {
            position: relative;
        }

        &.primary {
            background-color: $primary;
            border-color: $primary;
        }

        &.secondary {
            background-color: $secondary;
            border-color: $secondary;
        }

        &.success {
            background-color: $success;
            border-color: $success;
        }

        &.warning {
            background-color: $warning;
            border-color: $warning;
        }

        &.info {
            background-color: $info;
            border-color: $info;
        }

        &.danger {
            background-color: $danger;
            border-color: $danger;
        }

        &.inverse {
            background-color: $blue;
            border-color: $blue;
        }

        &.purple {
            background-color: $purple;
            border-color: $purple;
        }

        &.pink {
            background-color: $pink;
            border-color: $pink;
        }

        &.red {
            background-color: $red;
            border-color: $red;
        }

        &.orange {
            background-color: $orange;
            border-color: $orange;
        }

        &.yellow {
            background-color: $yellow;
            border-color: $yellow;
        }

        &.green {
            background-color: $green;
            border-color: $green;
        }

        &.cyan {
            background-color: $cyan;
            border-color: $cyan;
        }

        &.grey {
            background-color: $gray-600;
            border-color: $gray-600;
        }

        &.default {
            background-color: white;
            border-color: white;
        }

        &.default .icon {
            color: #c0c0c0;
            border: 2px solid #c0c0c0;
        }
    }
}
