.widget {
    padding: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    background-clip: padding-box;
    margin-bottom: 20px;
    background-color: #ffffff;
    position: relative;

    .icon {
        position: absolute;
        right: 25px;
        font-size: 25px !important;
        top: 25px;
        overflow: hidden;
        vertical-align: middle;
        height: 60px;
        width: 60px;
        text-align: center;
        line-height: 55px;
        border-radius: 50%;
        color: #000;
        border: 2px solid rgba(0, 0, 0, 0.5);

        &.left {
            right: auto;
            left: 25px;
        }
    }

    .content {
        position: relative;
    }

    &.table {
        display: table;
        height: 100%;
        width: 100%;

        .table-detail {
            display: table-cell;
            vertical-align: middle;
        }
    }

    &.coloured {
        p {
            font-size: 14px;
        }

        .icon {
            position: absolute;
            right: 30px;
            font-size: 30px !important;
            top: 30px;
            overflow: hidden;
            vertical-align: middle;
            height: 80px;
            width: 80px;
            text-align: center;
            line-height: 75px;
            border-radius: 50%;
            color: #ffffff;
            border: 2px solid rgba(255, 255, 255, 0.5);
        }

        .content {
            position: relative;
        }


        &.custom {
            background-color: #1ea69a;
            border-color: #1ea69a;
        }

        &.primary {
            background-color: $brand-primary;
            border-color: $brand-primary;
        }

        &.success {
            background-color: $brand-success;
            border-color: $brand-success;
        }

        &.warning {
            background-color: $brand-warning;
            border-color: $brand-warning;
        }

        &.info {
            background-color: $brand-info;
            border-color: $brand-info;
        }

        &.danger {
            background-color: $brand-danger;
            border-color: $brand-danger;
        }

        &.inverse {
            background-color: $hood-dark;
            border-color: $hood-dark;
        }

        &.purple {
            background-color: #8892d6;
            border-color: #8892d6;
        }

        &.pink {
            background-color: #F06292;
            border-color: #F06292;
        }

        &.default {
            background-color: #ffffff;
        }

        &.default .icon {
            color: #c0c0c0;
            border: 2px solid #c0c0c0;
        }
    }
}
