<div class="right-column m-b-sm">
    <input class="form-control media-change" type="hidden" name="media-directory" id="media-directory" />
    <ul class="nav nav-pills small nav-stacked directories">
        <li role="presentation" class="active"><a class="click-select media-click" data-toggle="pill" data-target="media-directory" data-value="">All Directories</a></li>
        @{
            foreach (string s in Model.Directories)
            {
                <li><a class="click-select media-click" data-toggle="pill" data-target="media-directory" data-value="@s">@s</a></li>
            }
        }
    </ul>
    <button class="create-directory btn btn-success btn-sm btn-block m-t-md" type="button"><i class="fa fa-plus"></i> Create new directory...</button>
</div>
<div id="media-upload" class="media-upload text-center">
</div>
<div id="media-total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" style="opacity: 0;">
    <div class="progress-bar progress-bar-dark" style="width:0%;"></div>
</div>
