@model MediaListModel
<a class="btn btn-success text-white" id="media-add">
    <i class="fa fa-plus-circle mr-2"></i>
    <span>Add files...</span>
</a>
<a class="btn btn-danger delete-directory text-white">
    <i class="fa fa-trash mr-2"></i>
    <span>Delete Directory</span>
</a>
