@model MediaListModel
<div class="card mb-3">
    <div class="card-header position-relative" id="media-directories-panel-heading">
        <p class="card-title m-0 font-weight-bold">
            <a class="stretched-link text-dark text-decoration-none" data-toggle="collapse" data-target="#media-directories-panel" href="#media-directories-panel" aria-expanded="true" aria-controls="media-directories-panel">
                Directories
                <i class="fe fe-arrow-up mt-1"></i>
            </a>
        </p>
    </div>
    <div class="card-body p-0 collapse show" aria-labelledby="media-directories-panel-heading" id="media-directories-panel">
        <div id="media-directories-list" class="hood-inline-list refresh" data-url="@Url.Action("Directories")" data-complete="$.hood.Content.Lists.Categories.Loaded">
            <partial name="_List_Directories" />
        </div>
    </div>
    <div class="card-body d-flex">
        <a class="btn btn-success btn-sm btn-block hood-modal"
                asp-action="CreateDirectory" 
                data-complete="$.hood.Media.Directories.Editor" title="Create directory">
            <i class="fa fa-plus-circle mr-2"></i> Create Directory
        </a>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header position-relative" id="media-search-panel-heading">
        <p class="card-title m-0 font-weight-bold">
            <a class="stretched-link text-dark text-decoration-none" data-toggle="collapse" data-target="#media-search-panel" href="#media-search-panel" aria-expanded="true" aria-controls="media-search-panel">
                Search Filters
                <i class="fe fe-arrow-up mt-1"></i>
            </a>
        </p>
    </div>
    <div class="card-body collapse show" aria-labelledby="media-search-panel-heading" id="media-search-panel">
        <input asp-for="Action" type="hidden" />
        <input asp-for="Entity" type="hidden" />
        <input asp-for="Field" type="hidden" />
        <input asp-for="Id" type="hidden" />
        <input asp-for="PageIndex" type="hidden" value="@(Model.PageIndex == 0 ? 1 : Model.PageIndex)" />
        <input asp-for="PageSize" type="hidden" />
        <input asp-for="Tag" type="hidden" />
        <input asp-for="Type" type="hidden" />
        <input asp-for="DirectoryId" type="hidden" class="refresh-on-change" />
        <div class="form-group floating-label">
            <input asp-for="Search" class="form-control">
            <label asp-for="Search"></label>
        </div>
        <div class="form-group floating-label">
            <select asp-for="GenericFileType" asp-items="Html.GetEnumSelectList<GenericFileType>()" class="form-control refresh-on-change">
                <option value="">Show All</option>
            </select>
            <label asp-for="GenericFileType"></label>
        </div>
        <div class="form-group floating-label">
            <select class="form-control refresh-on-change" asp-for="Order" data-selected="DateDesc">
                <option value="DateDesc">Newest First</option>
                <option value="Date">Oldest First</option>
                <option value="Title">By Title (A-Z)</option>
                <option value="TitleDesc">By Title (Z-A)</option>
                <option value="Filename">By Filename (A-Z)</option>
                <option value="FilenameDesc">By Filename (Z-A)</option>
                <option value="Size">By File Size (&#8593;-&#8595;)</option>
                <option value="SizeDesc">By File Size (&#8595;-&#8593;)</option>
            </select>
            <label asp-for="Order"></label>
        </div>
        <button type="submit" class="btn btn-success btn-block"> Search</button>
    </div>
</div>
