@model MediaObject
@{
    Layout = null;
}
<div class="col-xs-6 col-sm-3 col-lg-2">
    <div class="thumbnail text-center">
        <fixedImage src="${ Icon }" class="img img-full img-square attach-media-select" />
        <div class="caption">
            <p class="no-wrap no-margin">
                <small><strong>${ Filename }</strong></small>
            </p>
            <p class="no-margin">
                <small>${ FormattedSize }</small>
            </p>
        </div>
        <a class="full-box-link blade" href="/admin/media/blade/${ Id }" data-complete="$.hood.Media.LoadMediaPlayers('.mediaplayer')">${ Filename }</a>
    </div>
</div>
