@model ManageMediaModel
@{
    ViewBag.Title = "Website Media";
}
@section scripts {
    <script src="//amp.azure.net/libs/amp/2.3.0/azuremediaplayer.min.js"></script>
}
<div class="panel-body">
    <strong>Website Media</strong>
    <p>
        This shows all media uploaded to the site, organised by directory on the left. You can upload new media by selecting the "Upload" tab above...
    </p>
</div>
<div class="panel-body">
    <div id="media-list" class="hood-inline-list query" data-url="@Url.Action("List")"></div>
</div>