@model AttachMediaModel
@{
    Layout = null;
    MediaSettings mediaSettings = Engine.Settings.GetMediaSettings();
}
<div class="modal fade inmodal hood-modal" id="attach-media-modal" tabindex="-1" role="dialog" aria-labelledby="attach-media-title">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="attach-media-title">Attach image...</h4>
                <small class="font-bold">You can either select from existing site media, previously set versions, or upload a new file.</small>
            </div>
            <div class="modal-body tab-content">
                <div class="panel-body">
                    @{ await Html.RenderPartialAsync("_Filters"); }
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3">
                            @{ await Html.RenderPartialAsync("_MediaSidebar"); }
                        </div>
                        <div class="col-sm-9">
                            @{ await Html.RenderPartialAsync("_Actions"); }
                            <div id="media-list" class="border-box-sizing media-list"
                                 data-url="/admin/media/get"
                                 data-template="#media-template"
                                 data-pagers=".media-pager"
                                 data-filters="$.hood.Media.Manage.Filter()"
                                 data-onclick=".media-click"
                                 data-onchange=".media-change"></div>
                            <div class="media-pager m-t-sm m-b-sm text-center"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="media-template" class="kendo-template">
        <div class="col-xs-6 col-sm-3 col-lg-2">
            <div class="thumbnail text-center">
                <fixedImage src="${ Icon }" class="img img-full img-square media-select" data-tag="@Model.Tag" data-url="${ Url }" />
                <div class="caption">
                    <p class="no-wrap">
                        <small>${ Filename }</small>
                    </p>
                    <p class="no-margin">
                        <a class="media-select action-button btn btn-xs btn-default" data-tag="@Model.Tag" data-url="${ SmallUrl }">
                            <span>
                                Small
                            </span>
                        </a>
                        <a class="media-select action-button btn btn-xs btn-default" data-tag="@Model.Tag" data-url="${ MediumUrl }">
                            <span>
                                Med
                            </span>
                        </a>
                        <a class="media-select action-button btn btn-xs btn-default" data-tag="@Model.Tag" data-url="${ LargeUrl }">
                            <span>
                                Large
                            </span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
