@{
    ViewData["Title"] = "Property not found...";
}
<h2 class="text-danger">Unfortunately, it seems that property cannot be found...</h2>
<p class="lead">We may have removed it from our property listings, it may have been removed from the market. Please check back later.</p>