@model SubscriptionModel
@{
    ViewBag.Title = "Manage your subscription";
    ViewBag.SubTitle = "Pay for more features and expand your profiles!";
    AccountInfo _account = Context.GetAccountInfo();
    var planCategories = Model.Plans.Where(p => p.Category.IsSet()).Select(p => p.Category).Distinct();
}
<section class="page-section">
    @if (Model.SaveMessage.IsSet())
    {
        @Html.BootstrapAlert(Model.SaveMessage, Model.MessageType);
    }
    @if (Model.Customer?.Sources?.Data?.Count == 0)
    {
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="alert alert-warning">
                    <p><i class="fa fa-info-circle fa-4x m-r-xs"></i><br />You do not currently have an active payment source, such as a credit card, to continue your subscription after the current period you must add one to your account now.</p>
                    <p>
                        <a asp-action="AddCard" asp-controller="Billing" class="btn btn-lg btn-success"><i class="fa fa-credit-card m-r-xs"></i>Add Card</a>
                        <a asp-action="Index" asp-controller="Billing" class="btn btn-lg btn-default"><i class="fa fa-credit-card m-r-xs"></i>Manage Cards</a>
                    </p>
                </div>
            </div>
        </div>
    }

    @if (planCategories.Count() == 0)
    {
        if (Model.Plans.Count == 0)
        {
            @Html.BootstrapAlert("There are no subscription plans added to the site yet.", AlertType.Warning);
        }
        else
        {
            if (Model.User.HasActiveSubscription())
            {
                await Html.RenderPartialAsync("_Subscriptions_CurrentInfo", Model.User.GetActiveSubscription());
            }
            else
            {
                <div class="current-subscription well">
                    <h4>You are not currently on a paid package, you have the free package.</h4>
                    <p>
                        You do not currently have an active paid package, but you can access your previous subscriptions and invoices here:
                    </p>
                    <p>
                        <a class="btn btn-sm btn-primary" asp-action="Change">Get a package!</a>
                        <a class="btn btn-sm btn-default" href="/account/billing">Billing Information</a>
                    </p>
                </div>
            }
            await Html.RenderPartialAsync("_Subscriptions_Table", ptModel);
        }
    }
    else
    {
        foreach (string category in planCategories)
        {
            <h1>@category.ToTitleCase() Packages</h1>
            if (Model.User.HasActiveSubscription(category))
            {
                await Html.RenderPartialAsync("_Subscriptions_CurrentInfo", Model.User.GetActiveSubscription(category));
            }
            else
            {
                <div class="current-subscription well">
                    <h4>You are not currently on a paid package, you have the free package.</h4>
                    <p>
                        You do not currently have an active paid package, but you can access your previous subscriptions and invoices here:
                    </p>
                    <p>
                        <a class="btn btn-sm btn-primary" asp-action="Change" asp-route-category="@category">Get a package!</a>
                        <a class="btn btn-sm btn-default" href="/account/billing">Billing Information</a>
                    </p>
                </div>
            }
            var ptModel = Model;
            ptModel.Category = category;
            await Html.RenderPartialAsync("_Subscriptions_Table", ptModel);
        }
    }
</section>