@model InstallModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://hood.azureedge.net/cdn/3.0.0/css/install.min.css" />
</head>
<body class="install @ViewData["BodyClass"]">
    <div class="login-block">
        <header>
            <a href="/">
                <img src="https://hood.azureedge.net/cdn/3.0.0/images/hood-cms.png" alt="Hood CMS" />
            </a>
        </header>

        <div class="header">
            <h2>Install</h2>
            <p>The CMS Setup is currently incomplete. Please correct the errors below before restarting the service, once you have done this the application will start up correctly.</p>
            <p><strong>Once you have updated the settings, you MUST restart the web application for them to take effect.</strong></p>
        </div>

        @if (!Model.DatabaseConfigured)
        {
            <alert type="Danger" size="Medium">
                <h6>
                    Database not configured
                </h6>
                <p>
                    No database connection has been detected. Please ensure you have set set the database connecion string inside your appsettings.json file, or your ConnectionStrings in your environment variables.
                </p>
                <p class="m-0">
                    If you are using Azure, please follow this guide to add a database connection string to your Web App slot.
                    <a href="https://docs.microsoft.com/en-us/azure/app-service/configure-common#configure-connection-strings" target="_blank">https://docs.microsoft.com/en-us/azure/app-service-web/web-sites-configure</a>
                </p>
            </alert>
        }
        else
        {
            <alert type="Success" size="Medium">
                Database connection string is set.
            </alert>
        }

        @if (Model.DatabaseConnectionFailed)
        {
            <alert type="Danger" size="Medium">
                <h6>
                    Could not connect to the database
                </h6>
                <p>
                    No database connection has been established. Please ensure you have set set the database connecion string correctly inside your appsettings.json file, or your ConnectionStrings in your environment variables. Also ensure that the SQL server allows connections to this site and the user has appropriate access to modify the database.
                </p>
                <p class="m-0">
                    If you are using Azure, please follow this guide to add a database connection string to your Web App slot.
                    <a href="https://docs.microsoft.com/en-us/azure/app-service/configure-common#configure-connection-strings" target="_blank">https://docs.microsoft.com/en-us/azure/app-service-web/web-sites-configure</a>
                </p>
            </alert>
        }
        else
        {
            <alert type="Success" size="Medium">
                Database connection established.
            </alert>
        }

        @if (Model.DatabaseMigrationsMissing)
        {
            <alert type="Danger" size="Medium">
                <h6>
                    Database migrations are missing
                </h6>
                <p>
                    The database seed has failed, this usually means that migrations have not been created or applied to the database yet. You will need to add a migration to your project
                    if you have upgraded from an existing project or added the Hood Framework to a standard ASP.NET Core Web project.
                </p>
                <p>To add an up to date migration to your code use the following CLI command:</p>
                <p>
                    <code>dotnet ef migrations add NewMigrationName --context ApplicationDbContext</code><br />
                    <code>dotnet ef database update --context ApplicationDbContext</code>
                </p>
                <p class="m-0">
                    If you are updating, or have modified the DbContext you will need to add a new migration to the database, you can follow the guide to create and apply a database migration here:
                    <a href="https://docs.microsoft.com/en-us/ef/core/managing-schemas/migrations/#customize-migration-code" target="_blank">Updating database migration code</a>.
                </p>
            </alert>
        }
        else
        {
            <alert type="Success" size="Medium">
                Database migrations found.
            </alert>
        }

        @if (Model.MigrationNotApplied)
        {
            <alert type="Danger" size="Medium">
                <h6>
                    Database migrations have not been applied
                </h6>
                <p>
                    The database seed has failed because migrations have not been applied to the database yet.
                </p>
                <p>
                    You will need to run the following CLI command to apply all the migrations to the database:
                </p>
                <p><code>dotnet ef database update --context ApplicationDbContext</code></p>
                <p class="m-0">
                    If you are updating, or have modified the DbContext you will need to add a new migration to the database, you can follow the guide to create and apply a database migration here:
                    <a href="https://docs.microsoft.com/en-us/ef/core/managing-schemas/migrations/#customize-migration-code" target="_blank">Updating database migration code</a>.
                </p>
            </alert>
        }
        else
        {
            <alert type="Success" size="Medium">
                Database migrations applied.
            </alert>
        }

        @if (Model.DatabaseSeedFailed)
        {
            <alert type="Danger" size="Medium">
                <h6>
                    Database not migrated/seeded correctly
                </h6>
                <p>
                    The database seed or migration has failed, perhaps you have not correctly installed the migrations for the database.
                </p>
                <p class="m-0">
                    If you are updating, or have modified the DbContext you will need to add a new migration to the database, you can follow the guide here:
                    <a href="https://docs.microsoft.com/en-us/ef/core/managing-schemas/migrations/#customize-migration-code" target="_blank">Updating database migration code</a>.
                </p>
            </alert>
        }
        else
        {
            <alert type="Success" size="Medium">
                Database successfully seeded.
            </alert>
        }

        @if (!Model.ViewsInstalled)
        {
            <alert type="Danger" size="Medium">
                <h6>
                    Database SQL Views not setup
                </h6>
                <p class="m-0">
                    You have not correctly installed the views for the database.
                    You need to run the file <code>InstallHoodViews.sql</code> from the SQL folder in the Hood CMS package, while connected to your database using a suitable SQL editor,
                    such as <a href="https://visualstudio.microsoft.com/" target="_blank">Microsoft Visual Studio</a> or
                    <a href="https://docs.microsoft.com/en-us/sql/ssms/download-sql-server-management-studio-ssms" target="_blank">Microsoft SSMS</a>.
                </p>
            </alert>
        }
        else
        {
            <alert type="Success" size="Medium">
                SQL Views installed.
            </alert>
        }

        @if (Model.AdminUserSetupError)
        {
            <alert type="Danger" size="Medium">
                <h6>
                    Admin user could not be created/loaded
                </h6>
                <p class="m-0">
                    There is an issue creating the admin user account set in your appSettings.json. Please ensure the setting Hood:SuperAdminEmail is set to a valid email address.
                </p>
            </alert>
        }
        else
        {
            <alert type="Success" size="Medium">
                Admin user created and loaded.
            </alert>
        }

        @if (Model.Installed)
        {
            <alert type="Success" size="Medium">
                <h6>
                    Your database and site is ready to roll!
                </h6>
                <p class="m-0">
                    You will need to restart the application in order to start the site and complete the startup process.
                </p>
            </alert>
        }

        <footer>
            <small><a href="http://hooddigital.com/">Powered by HoodCMS @($"v{Engine.Version}") by Hood Digital</a></small>
        </footer>
    </div>
</body>
</html>
