@model LogListModel
@{
    ViewBag.Title = "View Logs";
    PropertySettings _propertySettings = Engine.Settings.Property;
}
@if (Model.SaveMessage.IsSet())
{
    @Html.BootstrapAlert(Model.SaveMessage, Model.MessageType);
}
@section buttons {
    <a class="btn btn-danger warning-alert" asp-action="ClearLogs" data-title="Are you sure?" data-warning="This will clear all the logs from the database.">        
        <i class="fa fa-trash mr-2"></i>
        Clear Logs
    </a>
}
<div class="panel-body">
    <div id="log-list" class="hood-inline-list query" data-url="@Url.Action("Show")"></div>
</div>