@model MediaListModel
<div id="media-upload" class="media-upload text-center" data-url="@Url.Action("UploadToDirectory")">
</div>
<div id="media-total-progress" class="progress progress-striped active mb-3" style="height:2rem;display:none;" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
    <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" style="width:0%;"><span>Uploading: <strong class="percentage">0%</strong></span></div>
</div>
