@model ManageMediaModel
@{
    ViewBag.Title = "Website Media";
}
@section scripts {
    <script src="//amp.azure.net/libs/amp/2.3.0/azuremediaplayer.min.js"></script>
}
<div class="panel-body">
    <strong>Website Media</strong>
    <p>
        This shows all media uploaded to the site, organised by directory on the left. You can upload new media by selecting the "Upload" tab above...
    </p>
</div>
<div class="panel-body">
    @{ await Html.RenderPartialAsync("_Filters"); }
    <div class="row">
        <div class="col-sm-3">
            @{ await Html.RenderPartialAsync("_MediaSidebar"); }
        </div>
        <div class="col-sm-9">
            @{ await Html.RenderPartialAsync("_Actions"); }
            <div id="media-list" class="border-box-sizing media-list"
                 data-url="/admin/media/get"
                 data-template="#media-template"
                 data-pagers=".media-pager"
                 data-filters="$.hood.Media.Manage.Filter()"
                 data-onclick=".media-click"
                 data-onchange=".media-change"></div>
            <div class="media-pager m-t-sm m-b-sm text-center"></div>
        </div>
    </div>
</div>
<div id="media-template" class="kendo-template">
    <div class="col-xs-6 col-sm-3 col-lg-2">
        <div class="thumbnail text-center">
            <fixedImage src="${ Icon }" class="img img-full img-square attach-media-select" />
            <div class="caption">
                <p class="no-wrap no-margin">
                    <small><strong>${ Filename }</strong></small>
                </p>
                <p class="no-margin">
                    <small>${ FormattedSize }</small>
                </p>
            </div>
            <a class="full-box-link blade" href="/admin/media/blade/${ Id }" data-complete="$.hood.Media.LoadMediaPlayers('.mediaplayer')">${ Filename }</a>
        </div>
    </div>
</div>