@model EditContentModel
<div class="tabs-container m-b-lg">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#info" aria-expanded="true"> Basics</a></li>
        @{await Html.RenderPartialAsync("_Editor_Meta_Tabs"); }
    </ul>
    <div class="tab-content">
        <div id="info" class="tab-pane active">
            <div class="panel-body">
                @{await Html.RenderPartialAsync("_Editor_Titles"); }
                <h5>@Model.Content.ContentType.ToTitleCase() Settings</h5>
                <div class="ibox-content">
                    <fieldset class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Display Order:</label>
                            <div class="col-sm-9"><input id="Meta:Settings.Slider.DisplayOrder" name="Meta:Settings.Slider.DisplayOrder" value="@Model.Content.GetMeta("Settings.Slider.DisplayOrder").GetStringValue()" type="number" class="form-control" /></div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
        @{await Html.RenderPartialAsync("_Editor_Meta_TabContent"); }
    </div>
</div>
