@model EditContentModel
<div class="tabs-container m-b-lg">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#info" aria-expanded="true"> Basics</a></li>
        @{await Html.RenderPartialAsync("_Editor_Meta_Tabs"); }
    </ul>
    <div class="tab-content">
        <div id="info" class="tab-pane active">
            <div class="panel-body">
                @{await Html.RenderPartialAsync("_Editor_Titles"); }
                @{await Html.RenderPartialAsync("_Editor_Body"); }
            </div>
        </div>
        @{await Html.RenderPartialAsync("_Editor_Meta_TabContent"); }
    </div>
</div>
