@model MailSettings
@{
    ViewData["Title"] = "Mail Settings";
    Layout = "_SettingsLayout";
}
@section buttons {
    @if (User.IsInRole("Admin")) { 
        <a asp-action="ResetMail" class="btn btn-danger warning-alert" data-warning="This will completely reset these settings to their default state, are you sure!?"><i class="fa fa-refresh"></i> Reset to Default</a>
    }
}
@section description {
<p class="no-margin">
    Settings for site's email connections.
</p>
}
<div class="tabs-container">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#billing">Mail Settings</a></li>
    </ul>
    <div class="tab-content">
        <div id="billing" class="tab-pane active">
            <div class="panel-body">
                <h5>
                    Mail Settings
                </h5>
                <p>
                    Settings for site's email connections.
                </p>
                <hr />
                <form method="post" id="settings-form">
                    <fieldset class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" asp-for="SendGridKey"></label>
                            <div class="col-sm-8">
                                <input asp-for="SendGridKey" type="text" class="form-control" />
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <label class="col-sm-3 control-label" asp-for="Logo"></label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input asp-for="Logo" type="url" class="form-control Logo" placeholder="Enter a url..." />
                                    <span class="input-group-btn">
                                        <button class="btn btn-default hood-image-set" data-target=".Logo" data-restrict="image" type="button"><i class="fa fa-camera"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" asp-for="BackgroundColour"></label>
                            <div class="col-sm-8">
                                <div id="cp2" class="input-group colorpicker-component">
                                    <input asp-for="BackgroundColour" type="text" class="form-control" />
                                    <span class="input-group-addon">
                                        <i></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <label class="col-sm-3 control-label" asp-for="FromName"></label>
                            <div class="col-sm-8">
                                <input asp-for="FromName" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" asp-for="FromEmail"></label>
                            <div class="col-sm-8">
                                <input asp-for="FromEmail" type="text" class="form-control" />
                            </div>
                        </div>
                    </fieldset>
                </form>
                <hr />
                <h5>Previews</h5>
                <p>
                    Preview how your emails will look...
                </p>
                <p>
                    <a class="btn btn-default" asp-action="Plain" asp-controller="Mail" asp-area="Admin" target="_blank">Plain</a>
                    <a class="btn btn-success" asp-action="Success" asp-controller="Mail" asp-area="Admin" target="_blank">Success Message</a>
                    <a class="btn btn-warning" asp-action="Warning" asp-controller="Mail" asp-area="Admin" target="_blank">Warning Message</a>
                    <a class="btn btn-danger" asp-action="Danger" asp-controller="Mail" asp-area="Admin" target="_blank">Danger Message</a>
                </p>
                <hr />
                <h5>
                    Send a test email
                </h5>
                <p class="m-b-lg">
                    Send a test version of this email to a specified email address...
                </p>
                <form asp-action="Test" asp-controller="Mail" method="post">
                    <fieldset class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="email">Email address</label>
                            <div class="col-sm-8">
                                <input id="email" name="email" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="email">Template</label>
                            <div class="col-sm-8">
                                <select id="template" name="template" type="text" class="form-control">
                                    <option value="@MailSettings.PlainTemplate">Plain</option>
                                    <option value="@MailSettings.SuccessTemplate">Success</option>
                                    <option value="@MailSettings.WarningTemplate">Warning</option>
                                    <option value="@MailSettings.DangerTemplate">Danger</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-8">
                                <button type="submit" class="btn btn-primary m-t-md"><i class="fa fa-envelope"></i> Send Test</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
