@{
    ViewData["Title"] = "Dashboard";
    var _propertySettings = Engine.Settings.Property;
}
<div class="row align-items-stretch mb-3">
    <div class="col">
        <div class="card p-4 text-white bg-purple">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-auto d-md-none d-lg-flex">
                        <i class="fa fa-pen-fancy fa-2x me-2"></i>
                    </div>
                    <div class="col">
                        <p class="mb-2 h2 fw-light"><strong data-plugin="counterup" class="content-totalPosts fw-bold display-6">0</strong><small> Content</small></p>
                    </div>
                </div>
                <a class="full-box-link" href="#content-types" data-bs-toggle="collapse">Show content...</a>
            </div>
        </div>
    </div>
    @if (_propertySettings.Enabled)
    {
        <div class="col">
            <div class="card p-4 text-white bg-teal">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-auto d-md-none d-lg-flex">
                            <i class="fa fa-building fa-2x me-2"></i>
                        </div>
                        <div class="col">
                            <p class="mb-2 h2 fw-light"><strong data-plugin="counterup" class="properties-totalPosts fw-bold display-6">0</strong><small> Properties</small></p>
                        </div>
                    </div>
                    <a class="full-box-link" asp-action="Index" asp-controller="Property">Show properties...</a>
                </div>
            </div>
        </div>
    }
    <div class="col">
        <div class="card p-4 text-white bg-orange">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-auto d-md-none d-lg-flex">
                        <i class="fa fa-user-plus fa-2x me-2"></i>
                    </div>
                    <div class="col">
                        <p class="mb-2 h2 fw-light"><strong data-plugin="counterup" class="users-totalUsers fw-bold display-6">0</strong><small> Users</small></p>
                    </div>
                    <a class="full-box-link" asp-action="Index" asp-controller="Users">Show users...</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="collapse text-center" id="content-types">
    <div class="row mb-3">
        @{
            var types = Engine.Settings.Content.AllowedTypes;
        }
        @foreach (var t in types)
        {
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <p class="text-black-50">
                            <i class="fa fa-3x @t.Icon"></i>
                        </p>
                        <div class="mb-2 display-6"><span data-plugin="counterup" class="content-@t.Type-total fw-bold display-6">0</span></div>
                        <small class="d-block text-nowrap fw-bold">@t.TypeNamePlural</small>
                    </div>
                    <a class="full-box-link" href="/admin/content/manage/@t.Type">Show subscriptions...</a>
                </div>
            </div>
        }
    </div>
</div>
<div class="card">
    <div class="card-header p-3">
        <div class="row align-items-center">
            <div class="col">
                <h5 class="m-0">Site history</h5>
            </div>
            <div class="col-2">
                <input id="history" value="365" type="hidden" />
                @*<select id="history" class="form-control">
                        <option value="7">Past week</option>
                        <option value="30">Past month</option>
                        <option value="90">Past 3 months</option>
                        <option value="365">All Time</option>
                    </select>*@
            </div>
        </div>
    </div>
    <div class="card-body">
        <div id="admin-chart-area" style="height:50vh;"></div>
    </div>
</div>
