body {
    div.page-heading {
        h2 {
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 0;
            text-align: center;

            @media (min-width:768px) {
                text-align: left;
            }
        }

        .buttons {
            padding-top: 11px;
            padding-bottom: 11px;
            text-align: center;

            @media (min-width:768px) {
                text-align: right;
            }

            ul.dropdown-menu {
                right: 0;
                left: auto;
            }
        }
    }
}
