@model SubscriptionModel
@{
    ViewBag.Title = "Member's Area";
    Layout = "_Layout";
}
<div class="jumbotron">
    <div class="container">
        <h1>Private Subscription Area</h1>
        <p>This is the home area for any subscribed user. Only accessible with a valid tiered subscription.</p>
    </div>
</div>
<div class="container">
    @{ await Html.RenderPartialAsync("_BillingMessage", Model.Message); }
</div>