@model EditContentModel
@if (Model.ContentType.ShowEditor)
{
    <h5 class="m-t-lg">Content</h5>
    @if (Model.ContentType.ShowDesigner)
    {
        <div class="text-center">
            <a class="btn btn-lg btn-info" asp-area="" asp-action="Show" asp-controller="Home" asp-route-id="@Model.Content.Id" asp-route-editMode="true"><i class="fa fa-pencil m-r-xs"></i>Edit this @Model.ContentType.TypeName in the Designer...</a>
            <p>or...</p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#showHideEditor" aria-expanded="false" aria-controls="showHideEditor">
                Edit in the standard editor...
            </button>
        </div>
        <div class="collapse" id="showHideEditor">
            <div class="m-t-lg">
                @{ await Html.RenderPartialAsync("_Editor_TinyMce");}
            </div>
        </div>
    }
    else
    {
        await Html.RenderPartialAsync("_Editor_TinyMce");
    }
}
