@model EditContentModel
<h5>Attached Images</h5>
<hr />
<div id="gallery-actions" class="row">
    <div class="col-xs-12">
        <span class="btn btn-success" id="content-gallery-add">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Add files...</span>
        </span>
    </div>
    <div class="col-xs-12">
        <div class="fileupload-process m-t-sm">
            <div id="gallery-total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" style="opacity: 0;">
                <div class="progress-bar progress-bar-dark" style="width:0%;" data-dz-uploadprogress=""></div>
            </div>
        </div>
    </div>
</div>
<div id="content-gallery-upload" class="media-upload text-center" data-id="@Model.Content.Id">
</div>
<div class="hood-inline refresh gallery" data-url="@Url.Action("EditorGallery")">
    @{ await Html.RenderPartialAsync("EditorGallery", _settings.ToContentApi(Model.Content)); }
</div>
