@model EditContentModel
<h5>@Model.Content.ContentType.ToTitleCase() Image Settings</h5>
<div class="ibox-content">
    <fieldset class="form-horizontal">
        @foreach (ContentMeta cm in Model.Content.Metadata.Where(c => c.Name.StartsWith("Custom.")).OrderBy(cm => cm.Name))
        {
            <div class="form-group">
                <label for="@string.Format("Meta:{0}", cm.Name)" class="col-sm-3 control-label">
                    @cm.Name.Replace("Custom.", "").ToSentenceCase():
                </label>
                <div class="col-sm-8">
                    @{await Html.RenderPartialAsync("_MetaEditor_Default", cm); }
                </div>
            </div>
        }
    </fieldset>
</div>
