@model EditContentModel
<h5>@Model.Type.BaseName Settings</h5>
<div class="ibox-content">
    <fieldset class="form-horizontal">
        @foreach (ContentMeta cm in Model.Content.Metadata.Where(c => c.Name.StartsWith("Content." + Model.Type.BaseName + ".")).OrderBy(cm => cm.Name))
        {
            <div class="form-group">
                    <label for="@string.Format("Meta:{0}", cm.Name)" class="col-sm-3 control-label">
                        @cm.Name.Replace("Content." + Model.Type.BaseName + ".", "").ToSentenceCase():
                    </label>
                <div class="col-sm-9">
                    @{await Html.RenderPartialAsync("_MetaEditor_Default", cm); }
                </div>
            </div>
        }
    </fieldset>
</div>
