@{
    IntegrationSettings _integrations = Engine.Settings.Integrations;
}
@if (_integrations.EnableDisqus && _integrations.DisqusId.IsSet())
{
    <hr />
    <div class="clearfix"></div>
    <div id="disqus_thread"></div>
    <script>
        (function () {
            var d = document, s = d.createElement('script');

            s.src = '@string.Format("//{0}.disqus.com/embed.js", _integrations.DisqusId)';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
}
