@model ContentModel
@if (Model.EditMode && User.IsEditorOrBetter())
{
    <div class="hood-designer">
        <div class="editable-content" id="editable-content" data-id="@Model.Content.Id">
            @Html.Raw(Model.Content.Body)
        </div>
        <div class="hood-designer-actions">
            <button class="hood-add-block">Add content block</button>
        </div>
    </div>
}
else
{
    @Html.Raw(Model.Content.Body)
}
