<noscript>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="p-lg">
                    <p>We have noticed you are viewing this site without any javascript enabled. This will severely reduce the quality of your experience and we recommend you enable it, or update your browser.</p>
                </div>
            </div>
        </div>
    </div>
</noscript>
