// inside header body header.header .wrap nav.main ul.nav > li.dropdown.open .dropdown-menu.full
// Mega menu styles
h3, h4 {
    color: white;
    margin-top: 0px;
}

h4 {
    color: white;
    margin-top: 5px;
    margin-bottom: 15px;
}

a {
    color: white;
    text-decoration: none;

    &.btn-header {
        background-color: white;
        color: @theme-color;
    }

    &:hover {
        font-weight: bold;
        color: #e6e6e6;
    }
}

div.links {
    ul {
        margin: 0;
        padding: 0;

        li {
            list-style-type: none;
            padding: 2.5px 0;

            a {
                i {
                    color: @theme-color;
                }
            }
        }
    }
}
