@model LoginViewModel
@inject IContentRepository _content
@{
    ViewData["Title"] = "Sign in";

}
<div class="header">
    <h2>Sign Indddd</h2>
    <partial name="_LoginSocials" />
    <p>Don't Have Account?<br />Click <a asp-action="Register">create an account</a> to create one.</p>
</div>
<form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-signin" role="form">
    @Html.RenderHoneypotField()
    <div asp-validation-summary="All" class="validation-summary"></div>
    <div class="form-group">
        <div class="floating-label">
            <input asp-for="Username" class="form-control" placeholder="Email address" />
            <label asp-for="Username"></label>
        </div>
        <div class="floating-label">
            <input asp-for="Password" class="form-control" placeholder="Password" />
            <label asp-for="Password"></label>
        </div>
        <span asp-validation-for="Username" class="text-danger text-center font-weight-bold d-block"></span>
        <span asp-validation-for="Password" class="text-danger text-center font-weight-bold d-block"></span>
    </div>
    <p>
        <button type="submit" class="btn btn-block btn-success">Sign In</button>
        <span class="d-block m-2 text-center">or</span>
        <a asp-action="Register" class="btn btn-block btn-outline-dark">Create an Account</a>
    </p>
    <p class="text-center">
        <a asp-action="ForgotPassword">Forgot your password?</a>
    </p>

</form>
