@{
    Layout = "_Layout";
}
<div class="jumbotron">
    <div class="container">
        <h1>Manage your account</h1>
        <p>Change your account settings</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            @RenderSection("avatar", required: false)
            @await Html.PartialAsync("_ManageNav")
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}

