body.side-push-panel {
    overflow-x: hidden;
}

#side-panel {
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 399;
    width: 300px;
    height: 100%;
    background-color: #F5F5F5;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
}

body.side-panel-left #side-panel {
    left: -300px;
    right: auto;
}

body.side-push-panel.stretched #wrapper,
body.side-push-panel.stretched #header.sticky-header .container {
    right: 0;
}

body.side-panel-left.side-push-panel.stretched #wrapper,
body.side-panel-left.side-push-panel.stretched #header.sticky-header .container {
    left: 0;
    right: auto;
}

#side-panel .side-panel-wrap {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 330px;
    height: 100%;
    overflow: auto;
    padding: 50px 70px 50px 40px;
}

body.device-touch #side-panel .side-panel-wrap {
    overflow-y: scroll;
}

#side-panel .widget {
    margin-top: 40px;
    padding-top: 40px;
    width: 220px;
    border-top: 1px solid #E5E5E5;
}

#side-panel .widget:first-child {
    padding-top: 0;
    border-top: 0;
    margin: 0;
}

body.side-panel-open #side-panel {
    right: 0;
}

body.side-panel-left.side-panel-open #side-panel {
    left: 0;
    right: auto;
}

body.side-push-panel.side-panel-open.stretched #wrapper,
body.side-push-panel.side-panel-open.stretched #header.sticky-header .container {
    right: 300px;
}

body.side-push-panel.side-panel-open.stretched .slider-parallax-inner {
    left: -300px;
}

body.side-panel-left.side-push-panel.side-panel-open.stretched #wrapper,
body.side-panel-left.side-push-panel.side-panel-open.stretched #header.sticky-header .container,
body.side-panel-left.side-push-panel.side-panel-open.stretched .slider-parallax-inner {
    left: 300px;
    right: auto;
}

#side-panel-trigger {
    display: block;
    cursor: pointer;
    z-index: 11;
    margin-right: 5px;
}

#side-panel-trigger-close a {
    display: none;
}

#side-panel,
body.side-push-panel.stretched #wrapper,
body.side-push-panel.stretched #header .container {
    -webkit-transition: right .4s ease;
    -o-transition: right .4s ease;
    transition: right .4s ease;
}

body.side-panel-left #side-panel,
body.side-panel-left.side-push-panel.stretched #wrapper,
body.side-panel-left.side-push-panel.stretched #header .container,
body.side-push-panel.stretched .slider-parallax-inner {
    -webkit-transition: left .4s ease;
    -o-transition: left .4s ease;
    transition: left .4s ease;
}

.body-overlay {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: -1;
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    -webkit-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
}

body.side-panel-open .body-overlay {
    opacity: 1;
    z-index: 298;
    pointer-events: auto;
}
