@model ContentModel
@inject ContentCategoryCache _categories
@{
    var categories = _categories.TopLevel(Model.ContentType.Type);
}
@if (Model.ContentType.ShowCategories)
{
    <div class="sidebar-widget m-b-lg">
        <h4>Categories</h4>
        <hr />
        @if (categories.Count() > 0)
        {
            @Html.ContentCategoryTree(categories, Model.ContentType.Slug);
        }
        <ul>
            <li><a href="/@Model.ContentType.Slug">Show All</a></li>
        </ul>
    </div>
}
