<noscript>
    <div style="background-color:black;padding:25px;text-align:center;position:fixed;top:0;width:100%;z-index:99999;">
        <p>We have noticed you are viewing this site without any javascript enabled. This will severely reduce the quality of your experience and we recommend you enable it, or update your browser.</p>
    </div>
</noscript>