@model SubscriptionModel
<div class="row">
    <div class="selected-package">
        <p>You have selected:</p>
        <span class="selected-price-text"></span><a class="btn btn-sm btn-primary change-price-option m-l-md">Change</a>
    </div>
    <div class="confirm-and-pay">
        <h3>Confirm &amp; Get Started!</h3>
        <p>Just hit the button, and your account will be created and you can start creating your profiles.</p>
        <p>
            <a class="btn btn-lg btn-success" id="confirm-and-pay">Upgrade your account</a>
        </p>
        <div class="powered-by">
            <a href="http://stripe.com"><img src="~/images/powered-by-stripe.svg" /></a>
            <p>
                Secure payments, powered by <a href="http://stripe.com">Stripe</a>.
            </p>
        </div>
    </div>
</div>
