@if (User.IsEditorOrBetter())
{
    <link href="https://cdn.jsdelivr.net/npm/hoodcms/css/button.bs4.min.css" rel="stylesheet" />
    <div class="hood-admin-editor dropup">
        <button type="button" class="dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="https://cdn.jsdelivr.net/npm/hoodcms/images/hood-square.png" />
        </button>
        <div class="dropdown-menu">
            <a asp-action="Index" asp-controller="Home" asp-area="Admin" class="dropdown-item active">
                <i class="fa fa-desktop m-r-xs"></i>HoodCMS Dashboard
            </a>
            <div class="dropdown-divider"></div>
            <div class="divider"></div>
            @if (ViewData["EditUrl"] != null)
            {
                <a href="@ViewData["EditUrl"]" class="dropdown-item">
                    <i class="fa fa-edit m-r-xs"></i>Edit...
                </a>
            }
            <a asp-action="Index" asp-controller="Manage" class="dropdown-item">
                <i class="fa fa-cogs"></i>Manage Account
            </a>
            <a asp-action="ChangePassword" asp-controller="Manage" class="dropdown-item">
                <i class="fa fa-user-lock"></i>Change Password
            </a>
            @if (User.IsImpersonating())
            {
                <a asp-action="StopImpersonation" asp-controller="Users" asp-area="Admin" class="dropdown-item">
                    <i class="fa fa-desktop m-r-xs"></i>Stop Impersonating
                </a>
            }
            <div class="dropdown-divider"></div>
            <form asp-controller="Account" asp-action="LogOff" asp-area="" method="post" id="adminLogoutForm"></form>
            <a class="dropdown-item" href="javascript:document.getElementById('adminLogoutForm').submit()">
                <i class="fa fa-sign-out-alt"></i>Log out
            </a>
        </div>
    </div>
}
