@model ApiKey
@{
    Layout = null;
}
<div class="sidebar-container">
    <div class="sidebar-title create">
        <button type="button" class="close close-blade"><span>&times;</span></button>
        <h3>Create new Api Key</h3>
        <p><i class="fa fa-plus-circle"></i> Add a new api key to the website.</p>
    </div>
    <div class="sidebar-content">
        <form method="post" id="create-api-key-form">
            <div class="blade-field">
                <label for="Name" class="control-label">Name</label>
                <div>
                    <input asp-for="Name" class="form-control" />
                </div>
                <span asp-validation-for="Name"></span>
            </div>
             <div class="blade-field">
                <div class="form-group">
                    <label class="control-label">Create as</label>
                    <div class="">
                        <select asp-for="AccessLevel" class="form-control">
                            <option value="Restricted">Restricted</option>
                            <option value="Admin">Admin</option>
                        </select>
                    </div>
                </div>
            </div>
           <div class="blade-field">
                <button type="button" id="create-api-key-submit" class="btn btn-primary"><i class="fa fa-content-plus"></i> Create Api Key</button>
                <button type="button" class="btn btn-default close-blade"><i class="fa fa-ban"></i> Cancel</button>
            </div>
        </form>
    </div>
</div>
