@model ListPropertyModel
@{
    ViewBag.Title = "Manage Properties";
    PropertySettings _propertySettings = _settings.GetPropertySettings();
}
@section scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlnzmbeo7JEMMxHUrZOJz6zWnHbQBmGng&libraries=places"></script>
}
@section buttons {
    @if (User.IsInRole("Admin"))
    {
        <a class="btn btn-sm btn-danger warning-alert" asp-action="DeleteAll" data-warning="Are you sure?! This will delete ALL properties from the site!"><i class="fa fa-trash m-r-sm"></i>Delete All</a>
    }
    @if (_propertySettings.ShowList)
    {
        <a class="btn btn-sm btn-default" href="/@_propertySettings.Slug" target="_blank"><i class="fa fa-search m-r-sm"></i>Preview</a>
    }
    <button class="btn btn-sm btn-primary create-property"><i class="fa fa-thumb-tack m-r-sm"></i>Create New</button>
}
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="ibox">
                <div class="ibox-title">
                    @{ await Html.RenderPartialAsync("_PropertySearch"); }
                </div>
                <div class="ibox-content">
                    <div class="text-center">
                        @{ await Html.RenderPartialAsync("_Pagination"); }
                    </div>
                   @foreach (var property in Model.Properties.Items)
                    {
                        await Html.RenderPartialAsync("_ListTemplate", property);
                    }
                    <div class="text-center">
                        @{ await Html.RenderPartialAsync("_Pagination"); }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
