@model EditContentModel
@if (Model.Content.Metadata.Where(c => c.Name.StartsWith("Content." + Model.ContentType.BaseName + ".")).Count() > 0 || 
    Model.Content.Metadata.Where(c => c.Name.StartsWith("Custom.")).Count() > 0)
{
    <div id="type-settings" class="tab-pane">
        <div class="panel-body">
            @{await Html.RenderPartialAsync("_Editor_Type"); }
        </div>
    </div>
}
@if (Model.ContentType.Gallery)
{
    <div id="gallery" class="tab-pane">
        <div class="panel-body">
            @{await Html.RenderPartialAsync("_Editor_Media"); }
        </div>
    </div>
}
@if (Model.Content.Metadata.Where(c => c.Name.StartsWith("SEO.")).Count() > 0)
{
    <div id="seo-settings" class="tab-pane">
        <div class="panel-body">
            @{await Html.RenderPartialAsync("_Editor_SEO"); }
        </div>
    </div>
}
@if (Model.Content.Metadata.Where(c => c.Name.StartsWith("Settings.Image.")).Count() > 0 || Model.Content.Metadata.Where(c => c.Name.StartsWith("Settings.Security.")).Count() > 0)
{
    <div id="image-settings" class="tab-pane">
        <div class="panel-body">
            @if (Model.Content.Metadata.Where(c => c.Name.StartsWith("Settings.Image.")).Count() > 0)
            { await Html.RenderPartialAsync("_Editor_ImageSettings"); }
        </div>
    </div>
    <div id="security-settings" class="tab-pane">
        <div class="panel-body">
            @if (Model.Content.Metadata.Where(c => c.Name.StartsWith("Settings.Security.")).Count() > 0)
            { await Html.RenderPartialAsync("_Editor_Security"); }
        </div>
    </div>
}
@if (Model.ContentType.Templates)
{
    <div id="template-settings" class="tab-pane">
        <div class="panel-body">
            @{await Html.RenderPartialAsync("_Editor_Template"); }
        </div>
    </div>
}
