@model EditContentModel
<div class="form-group">
    <label class="control-label">Publish Status</label>
    <div>
        <select class="form-control" data-selected="@Model.Content.Status" id="Status" name="Status">
            <option value="1">Draft</option>
            <option value="2">Published</option>
            <option value="3">Archived</option>
        </select>
    </div>
</div>
