@model PostModel
<div class="card mb-4">
    <div class="card-header">
        <h6 class="m-0">Search</h6>
    </div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="search" class="hidden">Search</label>
                <input class="form-control" type="text" asp-for="Search" placeholder="Search..." name="search">
            </div>
            <button class="btn btn-block btn-outline-dark" type="submit">Search</button>
        </form>
    </div>
</div>
