@model ISaveableModel
@{
    ViewData["Title"] = "Delete Account";
    ViewData.AddActivePage(ManageNavPages.DeleteAccount);
    var userId = Context.GetAccountInfo().User.Id;
}
<h4>@ViewData["Title"]</h4>

<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>If you delete your account you will no longer be able to access some of our services.</strong>
    </p>
    <p>
        Are you sure you want to delete your account?
    </p>
</div>
<div>
    <form asp-action="ConfirmDelete" method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Delete Account</button>
    </form>
</div>