@{
    BasicSettings _basicSettings = Engine.Settings.Basic;
    Layout = "_BasicLayout";

    ViewData["SubTitle"] = ViewData["Title"];
    ViewData["PageTitle"] = (ViewData["Title"] as string) + (Engine.Settings.Basic.FullTitle.IsSet() ? " - " + Engine.Settings.Basic.FullTitle : "");
    ViewData["Title"] = "Manage your account";
}
<div class="container m-b-lg">
    @RenderSection("alerts", false)
    <div class="row">
        <div class="col-md-3">
            <div class="text-center m-b-lg">
                <fixedImage src="@Engine.Account.Avatar?.SmallUrl" class="img img-sm"></fixedImage>
            </div>
            @await Html.PartialAsync("_ManageNav")
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>
