@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change your password";
    ViewData.AddActivePage(ManageNavPages.ChangePassword);
}

<h4>@ViewData["Title"]</h4>
<hr class="m-b-lg" />
@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="row">
    <form method="post" class="form-horizontal">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label class="col-sm-3 control-label" asp-for="OldPassword"></label>
            <div class="col-sm-9">
                <input type="password" class="form-control" asp-for="OldPassword">
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" asp-for="NewPassword"></label>
            <div class="col-sm-9">
                <input type="password" class="form-control" asp-for="NewPassword">
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" asp-for="ConfirmPassword"></label>
            <div class="col-sm-9">
                <input type="password" class="form-control" asp-for="ConfirmPassword">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <hr class="m-b-lg" />

        <button type="submit" class="btn btn-primary">Update password</button>
    </form>
</div>
