@model IAddress
<div class="row">
    <div class="col-sm-4">
        <div class="form-floating mb-3">
            <input asp-for="Number" type="text" class="form-control" />
            <label asp-for="Number"></label>
            <small asp-for="Number"></small>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="form-floating mb-3">
            <input asp-for="Address1" type="text" class="form-control" />
            <label asp-for="Address1"></label>
            <small asp-for="Address1"></small>
        </div>
    </div>
</div>
<div class="form-floating mb-3">
    <input asp-for="Address2" type="text" class="form-control" />
    <label asp-for="Address2"></label>
    <small asp-for="Address2"></small>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-floating mb-3">
            <input asp-for="City" type="text" class="form-control" />
            <label asp-for="City"></label>
            <small asp-for="City"></small>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-floating mb-3">
            <input asp-for="County" type="text" class="form-control" />
            <label asp-for="County"></label>
            <small asp-for="County"></small>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-floating mb-3">
            <input asp-for="Postcode" type="text" class="form-control" />
            <label asp-for="Postcode"></label>
            <small asp-for="Postcode"></small>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-floating mb-3">
            <select class="form-select" asp-for="Country">
                <option value="">-- Choose a country --</option>
                @foreach (var itm in Countries.All)
                {
                    if (itm.Name == "United Kingdom")
                    {
                        <option value="@itm.Name" selected>@itm.Name</option>
                    }
                    else
                    {
                        <option value="@itm.Name">@itm.Name</option>
                    }
                }
            </select>
            <label asp-for="Country"></label>
            <small asp-for="Country"></small>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-floating mb-3">
            <input asp-for="Latitude" type="text" class="form-control" />
            <label asp-for="Latitude"></label>
            <small asp-for="Latitude"></small>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-floating mb-3">
            <input asp-for="Longitude" type="text" class="form-control" />
            <label asp-for="Longitude"></label>
            <small asp-for="Longitude"></small>
        </div>
    </div>
</div>
