<nav class="navbar fixed-top navbar-light mobile">
    <a class="logo mobile-sidebar-toggle" aria-label="Toggle navigation">
        <img src="https://cdn.jsdelivr.net/npm/hoodcms@5.0.0-rc3/images/hood-cms.png" alt="HoodCMS - Content Managed" />
    </a>
    <button class="mobile-sidebar-toggle" type="button" aria-label="Toggle navigation">
        <i class="fas fa-ellipsis-h mt-1 mb-1 fa-2x"></i>
    </button>
</nav>

