﻿.right-column {
    padding: $grid-gutter-width / 2;
    border: 0;
    background-color: $gray-200;
    margin-bottom: $grid-gutter-width;
    border-radius: $border-radius;
}

.twitter-typeahead {
    width: 100%;
    margin-top: 5px;

    .tt-menu {
        width: 100%;
        background: white;
        border-bottom: 1px solid #ccc;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;

        .tt-suggestion {
            padding: 5px;

            &.tt-selectable {
                &:hover {
                    background: #ccc;
                }
            }
        }
    }
}

.category-list {
    padding: 5px $grid-gutter-width / 2;
    max-height: 170px;
    overflow-y: auto;
    margin: -15px;

    .checkbox .fa-caret-right {
        margin-left: -13px;
        margin-right: 28px;
    }
}

.url-preview {
    text-align: center;
    background-color: #ECFFEC;
    padding: 10px 2px;
}

.code-viewer {
    height: auto;

    @include media-breakpoint-up(sm) {
        height: 500px;
        overflow:auto;
    }
}