body {
    #right-sidebar {
        background-color: #fff;
        border-left: 1px solid #e7eaec;
        overflow: hidden;
        position: fixed;
        top: 60px;
        bottom: 0;
        left: 100%;
        right: -100%;
        z-index: 50;
        -webkit-animation-duration: .5s;
        animation-duration: .5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;

        &.sidebar-open {
            left: 70px;
            right: 0;
        }

        @media (min-width: 768px) {
            width: 500px;
            right: -500px;
            left: auto;

            &.sidebar-open {
                left: auto;
                right: 0;
            }
        }

        .sidebar-title {
            background-color: $info;
            padding: 15px 0px 15px 25px;

            button.close {
                margin-right: 20px;
            }

            h3 {
                color: white;
                margin-top: 0;
                font-size: 18px;
            }

            p {
                color: white;
                margin-bottom: 0;
                font-size: 12px;
            }

            &.create, &.image {
                background-color: $success;
            }

            &.image {
                background-color: black;
                background-size: cover;
                background-position: center;
                padding: 100px 0px 100px 25px;
                position: relative;

                > * {
                    position: relative;
                    z-index: 1;
                }

                > button.close {
                    z-index: 2;
                }

                p {
                    margin-bottom: 15px;
                }

                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: rgba(0,0,0,0.6);
                }
            }
        }

        .blade-field {
            padding: 15px;
            border-bottom: 1px solid #e7eaec;
        }
    }
}
