// Hood Variables
$hood-yellow: #d9b50b;
$hood-dark: #171818;

$sidebar-width: 250px;
$sidebar-link-color: #a7b1c2;
$grid-gutter-width: 24px;
$font-size-base: .9rem;
$body-bg: #f9fbfd;
$body-color: #171818;
$primary: $hood-yellow;
$secondary: $hood-dark;

$fa-font-path: "../../lib/fontawesome/webfonts";
$feathericon-font-path: "../../lib/feather/build/fonts/";

// Cards
$card-border-color: #efefef;
$card-cap-bg: white;
$card-border-radius: 7px;


