@inject IConfiguration _config
@{
    Layout = null;
}
<div class="big-logo-element">
    <a asp-action="Index" asp-controller="Home" asp-area="Admin"><img src="~/hood/images/hood-cms.svg" alt="HoodCMS - Content Managed" /></a>
</div>
<div class="logo-element">
    <a asp-action="Index" asp-controller="Home" asp-area="Admin"><img src="~/hood/images/h-black.svg" alt="HoodCMS - Content Managed" /></a>
</div>
