@inject IContentRepository _content
@{
    BasicSettings _basicSettings = _settings.GetBasicSettings();
    AccountInfo _account = Context.GetAccountInfo();
}
<header class="header" id="header">
    <div class="wrap" id="header-wrap">
        <div class="contact-slim">
            <a class="logo" href="/" title="@ViewData["title"]">
                <img src="~/lib/hood/images/hood-cms-white.svg" />
            </a>
        </div>
        <div class="top-bar">
            <div class="container">
                <div class="contact">
                    <span class="email">
                        <i class="fa fa-microsoft m-r-sm"></i><em>The ASP.NET Core CMS by Hood Digital</em>
                    </span>
                    <span class="phone">
                            <i class="fa fa-phone m-r-sm"></i>0330 900 1900
                        </span>
                </div>
                <div class="brand">
                    <a class="logo" href="/" title="@ViewData["title"]">
                <img src="~/lib/hood/images/hood-cms-dark.svg" />
                    </a>
                </div>
            </div>
        </div>
        @{ await Html.RenderPartialAsync("_Header_Menu_Main"); }
        @{ await Html.RenderPartialAsync("_Header_Menu_Mobile"); }
        <button class="hamburger elastic mobile-menu-trigger" type="button" aria-label="Menu" aria-controls="mobile-menu">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
    </div>
</header>