@model Content
<h5>Choose the template</h5>
<div class="ibox-content">
    <fieldset class="form-horizontal">
        <div class="form-group">
            <label for="Meta:Settings.Template" class="col-sm-3 control-label">
                Template:
            </label>
            <div class="col-sm-8">
                <select class="form-control" data-selected="@Model.Content.GetMeta("Settings.Template").GetStringValue()" id="Meta:Settings.Template" name="Meta:Settings.Template">
                    @foreach (var template in Model.Templates)
                    {
                        <option value="@template.Key">@template.Value</option>
                    }
                </select>
                <strong class="text-warning inline-block m-t-xs"><i class="fa fa-exclamation-triangle m-r-xs"></i>Be careful! Changing the template will reset all template settings!</strong>
            </div>
        </div>
    </fieldset>
</div>
@if (Model.Content.Metadata.Where(c => c.Name.StartsWith("Template.")).Count() > 0)
{
    <hr />
    <h5>Template Settings</h5>
    <div class="ibox-content">
        <fieldset class="form-horizontal">
            @{
                var templateFields = Model.Content.Metadata.Where(c => c.Name.StartsWith("Template.")).OrderBy(cm => cm.Name);
                var previousName = templateFields.First().Name.Split('.')[templateFields.First().Name.Split('.').Length - 2].Replace("-", " ").ToTitleCase();
            }
            @foreach (ContentMeta cm in templateFields)
            {
                string name = cm.Name.Split('.')[cm.Name.Split('.').Length - 2].Replace("-", " ").ToTitleCase();
                if (name != previousName)
                {
                    <hr />
                }
                await Html.RenderPartialAsync("_Editor_Metadata_Template", (object)cm);
                previousName = cm.Name.Split('.')[cm.Name.Split('.').Length - 2].Replace("-", " ").ToTitleCase(); ;
            }
        </fieldset>
    </div>
}
else
{
    <h5>Choose a template...</h5>
    <p>Change your template above, once you save, the new template will be loaded and you can edit the content of the template here.</p>
}