@model Content
@{
    var _basics = Engine.Settings.Basic;
}
<h4>Content Body</h4>
<p>This is the main content, and you can edit it with the following rich text editor:</p>
<textarea asp-for="Body" class="tinymce-content"></textarea>
