@model Content
<ul class="nav nav-tabs card-header-tabs" role="tablist" id="page-tabs">
    <li class="nav-item active">
        <a class="nav-link" id="content-tab" data-toggle="tab" href="#content" role="tab" aria-controls="content" aria-selected="false">
            Content
        </a>
    </li>
        <li class="nav-item">
            <a class="nav-link" id="image-tab" data-toggle="tab" href="#image" role="tab" aria-controls="image" aria-selected="false">
                Images
            </a>
        </li>
    @if (Model.Type.Templates)
    {
        <li class="nav-item">
            <a class="nav-link" id="template-tab" data-toggle="tab" href="#template" role="tab" aria-controls="template" aria-selected="false">
                Template
            </a>
        </li>
    }
    @if (Model.Metadata.Where(c => c.Name.StartsWith("Content." + Model.Type.BaseName + ".")).Count() > 0 ||
   Model.Metadata.Where(c => c.Name.StartsWith("Custom.")).Count() > 0)
    {
        <li class="nav-item">
            <a class="nav-link" id="type-tab" data-toggle="tab" href="#type" role="tab" aria-controls="type" aria-selected="false">
                @Model.Type.TypeName &amp; Custom Fields
            </a>
        </li>
    }
    @if (Model.Type.Gallery)
    {
        <li class="nav-item">
            <a class="nav-link" id="gallery-tab" data-toggle="tab" href="#gallery" role="tab" aria-controls="gallery" aria-selected="false">
                Gallery
            </a>
        </li>
    }
    @if (Model.Metadata.Where(c => c.Name.StartsWith("SEO.")).Count() > 0)
    {
        <li class="nav-item">
            <a class="nav-link" id="seo-tab" data-toggle="tab" href="#seo" role="tab" aria-controls="seo" aria-selected="false">
                SEO
            </a>
        </li>
    }
    @if (Model.Metadata.Where(c => c.Name.StartsWith("Settings.Image.")).Count() > 0)
    {
    }
    @if (Model.Metadata.Where(c => c.Name.StartsWith("Settings.Security.")).Count() > 0)
    {
        <li class="nav-item">
            <a class="nav-link" id="security-tab" data-toggle="tab" href="#security" role="tab" aria-controls="security" aria-selected="false">
                Security
            </a>
        </li>
    }
</ul>
