@{

    ViewData["Title"] = "Locked out";
}
<div class="header">
    <h2>Problems with your account.</h2>
    <div class="alert alert-danger">
        Unfortunately this account has been locked out, please try again later.
    </div>
</div>
