@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change your password";
    ViewData["SubTitle"] = "You should update your password regularly for added security.";
    ViewData.AddActivePage(ManageNavPages.ChangePassword);
}
<div class="header">
    <h2>@ViewData["Title"]</h2>
    @if (Model.SaveMessage.IsSet())
    {
        <alert type="@Model.MessageType" size="Medium">@Model.SaveMessage</alert>
    }
    <p>
        You should update your password regularly for added security. To change your password, we need to send you a link to update it.
    </p>
</div>
<form method="post" asp-action="ChangePasswordSent" class="d-grid gap-2">
    <button type="submit" class="btn btn-success">Send Password Link</button>
</form>
