@{
    ViewData["Title"] = "Confirm email";

}
<div class="header">
    <h2>Email Confirmed</h2>
    <p>Thank you for confirming your email, you can now log into your account. </p>
</div>
<div class="d-grid gap-2">
    <a asp-action="Login" class="btn btn-block btn-outline-dark">Return to log in</a>
</div>
