@{

    ViewData["Title"] = "Forgotten Password";
}
<div class="header">
    <h2>Reset link sent</h2>
    <p>Please check your email, we have sent you a link to reset your password.</p>
</div>
<div class="d-grid gap-2">
    <a asp-action="Login" class="btn btn-block btn-outline-dark">Return to log in...</a>
</div>
