@model MagicRegisterViewModel
@inject IContentRepository _content
@{
    ViewData["Title"] = "Create Account";

}
<div class="header">
    <h2>Magic link sent!</h2>
    <p>Check your email, and click the link we sent you to confirm and log into your account.</p>
    <p><small class="text-muted">Feel free to close this now, your magic link will open in a new window.</small></p>
</div>
