@model MagicLoginViewModel
@inject IContentRepository _content
@{
    ViewData["Title"] = "Registration Closed";

}
<div class="header">
    <h2>Registration is closed</h2>
    <p>Sorry, but you cannot register at this time.</p>
</div>
