@model PasswordRegisterViewModel
@inject IContentRepository _content
@{
    ViewData["Title"] = "Create an Account";

}
<div class="header">
    <h2>@ViewData["Title"]</h2>
    <p>Already have an account?<br />Click here to <a asp-action="Login">log in</a>.</p>
</div>
<form asp-controller="Account" asp-action="Register" method="post" class="" role="form">
    @Html.RenderHoneypotField()
    <recaptcha action="register" />
    <div asp-validation-summary="All" class="validation-summary"></div>
    <div class="d-grid gap-2">
        <div class="row g-2">
            <div class="col form-floating">
                <input asp-for="FirstName" class="form-control" placeholder="Email address" autocomplete="email" />
                <label asp-for="FirstName"></label>
                <span asp-validation-for="FirstName"></span>
            </div>
            <div class="col form-floating">
                <input asp-for="LastName" class="form-control" placeholder="Email address" autocomplete="email" />
                <label asp-for="LastName"></label>
                <span asp-validation-for="LastName"></span>
            </div>
        </div>
        <div class="form-floating">
            <input asp-for="Email" class="form-control" placeholder="Email address" autocomplete="email" />
            <label asp-for="Email"></label>
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-floating">
            <input asp-for="Password" class="form-control" placeholder="Enter a password" autocomplete="new-password" />
            <label asp-for="Password"></label>
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-floating">
            <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm your password"
                autocomplete="new-password" />
            <label asp-for="ConfirmPassword"></label>
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
        <div class="form-check form-check">
            <input asp-for="Consent" class="form-check-input">
            <label asp-for="Consent" class="form-check-label d-block">
                <strong>Consent to storing your details.</strong>
            </label>
            <small asp-for="Consent">
                In order to register, we require your consent to store data relating to your account.
                For more information please read our <a href="/privacy">Privacy Policy</a>.
            </small>
            <span asp-validation-for="Consent"></span>
        </div>
        <button type="submit" class="btn btn-block btn-success">Create Account</button>
    </div>
</form>
