@{
    ViewData["Title"] = "Password reset";
}
<div class="header">
    <h2>@ViewData["Title"]</h2>
    <p>Your password has been reset, you can now log in with your username and new password.</p>
</div>
<div class="d-grid gap-2">
    <a asp-action="Login" class="btn btn-block btn-outline-dark">Return to log in</a>
</div>
