@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset your password";
}
<div class="header">
    <h2>@ViewData["Title"]</h2>
    <p>Enter your email address, and choose a new password to reset your account.</p>
</div>
<form asp-controller="Account" asp-action="ResetPassword" method="post" role="form">
    <div class="d-grid gap-2">
        <div asp-validation-summary="All" class="validation-summary"></div>
        <input asp-for="Code" type="hidden" />
        <div class="form-floating">
            <input asp-for="Email" class="form-control" placeholder="Email address" />
            <label asp-for="Email"></label>
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-floating">
            <input asp-for="Password" class="form-control" />
            <label asp-for="Password"></label>
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-floating">
            <input asp-for="ConfirmPassword" class="form-control" />
            <label asp-for="ConfirmPassword"></label>
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
        <button type="submit" class="btn btn-block btn-success">Reset password</button>
    </div>
</form>
