@{
    ViewData["Title"] = "PayPal: Success!";
}
<div class="container">
    <div class="row m-lg text-center">
        <h3>The transaction succeeded!</h3>
        <p>The test transaction has succeeded, however there has not been any data stored to the dB, nor is the order recorded. This area is still under development.</p>
    </div>
</div>
