@model ForumModel
@inject ForumCategoryCache _categories
@{
    Layout = null;
}
<div class="card mb-3">
    <div class="card-header position-relative" id="forum-category-panel-heading">
        <p class="card-title m-0 font-weight-bold">
            <a class="stretched-link text-dark text-decoration-none" data-toggle="collapse" data-target="#forum-category-panel" href="#forum-category-panel" aria-expanded="true" aria-controls="forum-category-panel">
                Categories
                <i class="fe fe-arrow-up mt-1"></i>
            </a>
        </p>
    </div>
    <div class="card-body p-0 collapse show" aria-labelledby="forum-category-panel-heading" id="forum-category-panel">
        <div class='list-group list-group-flush'>
            @if (_categories.Count > 0)
            {
                @_categories.AdminForumCategoryTree(_categories.TopLevel())
            }
            else
            {
                <alert type="Light" icon="fa-info" size="Small" class="text-center m-0">
                    No categories added yet.
                </alert>
            }
            <div class="list-group-item list-group-item-action">
                <a class="stretched-link text-success text-decoration-none hood-modal"
                   asp-action="CreateCategory" 
                   data-complete="$.hood.Forums.Categories.Editor">
                    <i class="fa fa-plus-circle mr-2"></i>
                    Add category
                </a>
            </div>
        </div>
    </div>
</div>

