@{
    Layout = "_Layout_Basic";
    ViewData["Title"] = $"Portfolio Layout";
    ViewData["SubTitle"] = "This is the Portfolio Layout - it can be overwritten in your theme directory by copying <code>/Views/Layouts/_Layout_Portfolio.cshtml</code> to match in your themes directory <code>/Themes/{YOURTHEME}/Views/Layouts/_Layout_Portfolio.cshtml</code>";
}
@section styles {
    @RenderSection("styles", required: false)
}
@section metas {
    @RenderSection("metas", required: false)
}
<section class="container">
    @RenderBody()
</section>
