@model SubscriberSearchModel
@inject IAccountRepository _auth;
@{
    ViewBag.Title = "Manage Subscribers";
}
@section breadcrumbs {
    <ol class="breadcrumb">
        <li>
            <a href="/admin">Home</a>
        </li>
        <li>
            <a asp-action="Index" asp-route-area="Admin">
                <i class="fa fa-building m-r-xs"></i>
                Subscriptions
            </a>
        </li>
        <li class="active">
            <strong>@ViewBag.Title</strong>
        </li>
    </ol>
}
<div class="panel-body">
    <form method="get">
        <div class="row m-b-sm m-t-sm">
            <div class="col-md-6">
                <h4>Subscription</h4>
                @{
                    var items = (await _auth.GetSubscriptionPlansAsync()).OrderBy(c => c.Level).Select(c => new SelectListItem() { Value = c.StripeId.ToString(), Text = c.Name });
                }
                <select class="form-control submit-on-change" asp-for="Subscription" asp-items="items">
                    <option value="">Show All</option>
                </select>
            </div>
            <div class="col-md-6">
                <h4>Search</h4>
                <div class="input-group">
                    <input asp-for="Search" type="text" placeholder="Search" class="form-control">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary"> Search!</button>
                    </span>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="panel-body">
    @if (Model.List.Count > 0)
    {
        foreach (var user in Model.List)
        {
            await Html.RenderPartialAsync("_User_Record", user);
        }
        await Html.RenderPartialAsync("_Pagination");
    }
</div>
