@{
    Layout = "_Layout";
}
@section styles {
    @RenderSection("styles", required: false)
}
@section metas {
    @RenderSection("metas", required: false)
}
<div class="container">
    <div class="py-5">
        <h1>@ViewData["Title"]</h1>
        <p>@Html.Raw(ViewData["SubTitle"])</p>
    </div>
</div>