@{ 
    ViewData["Title"] = "Holding Page";
}
<h2 class="text-danger">No one is here yet...</h2>
<p class="lead">This site is coming soon! Check back for more information.</p>
<p>
    <a asp-action="LockoutModeEntrance" asp-controller="Hood" asp-route-returnUrl="/">View the site with an access token</a>
</p>