@if (User.IsEditorOrBetter())
{
    <link href="https://cdn.jsdelivr.net/npm/hoodcms@4.1.6/css/button.bs3.min.css" rel="stylesheet" />
    <div class="hood-admin-editor dropup">
        <button type="button" id="dropdownMenu2" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="https://cdn.jsdelivr.net/npm/hoodcms@4.1.6/images/hood-square.png" />
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li class="active">
                <a asp-action="Index" asp-controller="Home" asp-area="Admin" class="admin">
                    <i class="fa fa-desktop m-r-xs"></i>HoodCMS Dashboard
                </a>
            </li>
            <li class="divider"></li>
            @if (ViewData["EditUrl"] != null)
            {
                <li>
                    <a href="@ViewData["EditUrl"]" class="admin">
                        <i class="fa fa-edit m-r-xs"></i>Edit...
                    </a>
                </li>
            }
            <li>
                <a asp-action="Index" asp-controller="Manage" class="admin">
                    <i class="fa fa-cogs"></i>Manage Account
                </a>
            </li>
            <li>
                <a asp-action="ChangePassword" asp-controller="Manage" class="admin">
                    <i class="fa fa-lock"></i>Change Password
                </a>
            </li>
            <li class="divider"></li>
            @if (User.IsImpersonating())
            {
                <li>
                    <a asp-action="StopImpersonation" asp-controller="Users" asp-area="Admin" class="admin">
                        <i class="fa fa-desktop m-r-xs"></i>Stop Impersonating
                    </a>
                </li>
                <li class="divider"></li>
            }
            <li>
                <form asp-controller="Account" asp-action="LogOff" asp-area="" method="post" id="adminLogoutForm" class="navbar-right"></form>
                <a href="javascript:document.getElementById('adminLogoutForm').submit()">
                    <i class="fa fa-sign-out"></i>Log out
                </a>
            </li>
        </ul>
    </div>
}
