@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Login Failure";
}
<div class="login-block-header">
    <h2>Problems with your account.</h2>
    <p class="text-info">
        Unfortunately we had problems talking to your account provider, and could not verify your account. 
        Therefore we ask you to try to log in via a different route. Try another account or register for a local account
        on this site.
    </p>
</div>
