@model Subscription
@{
    ViewBag.Title = "Edit " + Model.Name;
}
@section breadcrumbs {
    <ol class="breadcrumb">
        <li>
            <a href="/admin">Home</a>
        </li>
        <li>
            <a asp-action="Index" asp-route-area="Admin">
                <i class="fa fa-building m-r-xs"></i>
                Subscriptions
            </a>
        </li>
        <li class="active">
            <strong>@ViewBag.Title</strong>
        </li>
    </ol>
}
@if (Model.SaveMessage.IsSet())
{
    @Html.BootstrapAlert(Model.SaveMessage, Model.MessageType);
}
<form method="post">
    <div class="row">
        <div class="col-md-8">
            @{ await Html.RenderPartialAsync("_Editor_Subscription", Model); }
        </div>
        <div class="col-md-4">
            <div class="panel-body">
                <h4 class="font-bold text-center">
                    <span>@Model.Name</span>
                </h4>
                <p class="no-margin">
                    <button type="submit" class="btn btn-success btn-block m-t-md"><i class="fa fa-save m-r-xs"></i> Save Subscription</button>
                </p>
            </div>
        </div>
    </div>
</form>