@{
    ViewData["Title"] = "Access denied";
    Layout = "_LoginLayout";
}
<div class="header">
    <h2 class="text-danger">Access Denied</h2>
    <div class="alert alert-danger">
        You do not have permission to access this.
    </div>
</div>
