@model ForgotPasswordViewModel
@{

    ViewData["Title"] = "Forgotten your password?";
}
<div class="header">
    <h2>@ViewData["Title"]</h2>
</div>
<form asp-controller="Account" asp-action="ForgotPassword" method="post" role="form">
    <div asp-validation-summary="All" class="validation-summary"></div>
    <div class="form-group">
        <div class="floating-label">
            <input asp-for="Email" class="form-control" placeholder="Email address" />
            <label asp-for="Email"></label>
        </div>
    </div>    
    <p><button type="submit" class="btn btn-block btn-success">Find my account...</button></p>
</form>
