@{

    ViewData["Title"] = "Forgotten Password";
}
<div class="header">
    <h2>@ViewData["Title"]</h2>
    <div class="alert alert-success">
        Please check your email to reset your password.
    </div>
</div>
<p>
    <a asp-action="Login" class="btn btn-block btn-outline-dark">Return to log in...</a>
</p>
