@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Reset password";
}
<div class="header">
    <h2>Reset password</h2>
    <div class="alert alert-success">
        Your password has been reset.
    </div>
    <p>
        <a class="btn btn-outline-dark btn-block" asp-controller="Account" asp-action="Login">Return to login</a>
    </p>
</div>
