@model ExternalLoginViewModel
@{
    ViewData["Title"] = "Complete Registration";
}
<div class="header">
    <h2>Complete Registration</h2>
    <p>Associate your @ViewData["LoginProvider"] account.</p>
</div>
<div class="alert alert-info">
    <p>
        <strong>You've successfully authenticated with <strong>@ViewData["LoginProvider"]</strong>.</strong>
    </p>
    <p class="m-0">
        Please enter an email address for this site below and click the Register button to finish
        logging in.
    </p>
</div>
<form asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <div class="floating-label">
            <input asp-for="Email" class="form-control" placeholder="Email Address" />
            <label asp-for="Email"></label>
        </div>
    </div>    
    <p>
        <button type="submit" class="btn btn-block btn-success">Register</button>
    </p>
</form>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
