@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Locked out";
}
<div class="login-block-header">
    <h2>Problems with your account.</h2>
    <p class="text-info">
        Unfortunately this account has been locked out, please try again later.
    </p>
</div>
