@model VerifyCodeViewModel
@{
    ViewData["Title"] = "Verify";
}
<div class="header">
    <h2>@ViewData["Title"].</h2>
    <div class="alert alert-info">@ViewData["Status"]</div>
</div>
<form asp-controller="Account" asp-action="VerifyCode" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="Provider" type="hidden" />
    <input asp-for="RememberMe" type="hidden" />
    <div class="form-group">
        <div class="floating-label">
            <input asp-for="Code" class="form-control" />
            <label asp-for="Code" class=""></label>
        </div>
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div>
            <input asp-for="RememberBrowser" />
            <label asp-for="RememberBrowser"></label>
        </div>
    </div>
    <p>
        <button type="submit" class="btn btn-success btn-block">Submit</button>
    </p>
</form>
