.colorpicker-component {
    width: 100%;
}

.colorpicker-element .input-group-addon,
.colorpicker-element .add-on {
    position: relative;
    width: 41px;
    padding: 0;
    overflow: hidden;
    background-image: url(https://cdn.jsdelivr.net/npm/hoodcms@4.1.2/images/transparent.png);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.colorpicker-element .input-group-addon i,
.colorpicker-element .add-on i {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 41px;
    height: 100%;
    vertical-align: text-top;
    cursor: pointer;
}
