@use 'sass:math';
.media-list {
    padding-top: $grid-gutter-width;
    padding-right: math.div($grid-gutter-width, 2);
    padding-left: math.div($grid-gutter-width, 2);
    background-color: $gray-200;
    border-radius: $border-radius;
    figure.attach-media-select {
        cursor: pointer;
    }
    .thumbnail {
        display: block;
        padding: $thumbnail-padding;
        margin-bottom: $grid-gutter-width;
        overflow: hidden;
        line-height: $line-height-base;
        background-color: $thumbnail-bg;
        border: 0;
        border-radius: $thumbnail-border-radius;
        @include transition(border .2s ease-in-out);
        &:hover {
            background-color: #f6f6f6;
        }
        >img,
        >.img,
        a>img {
            width: auto !important;
            max-width: none !important;
            margin-top: -$thumbnail-padding;
            margin-right: -$thumbnail-padding;
            margin-bottom: $thumbnail-padding;
            margin-left: -$thumbnail-padding;
        }
        // Image captions
        .caption {
            padding: math.div($grid-gutter-width, 2);
        }
    }
    .k-loading-mask {
        position: relative;
        display: block;
        width: auto !important;
        padding: math.div($grid-gutter-width, 2) $grid-gutter-width;
        margin: math.div($grid-gutter-width, 2);
        margin-top: 0;
        margin-bottom: $grid-gutter-width;
        color: #000;
        background: lighten($primary, 40%);
        border: 1px solid $primary;
        border-radius: $border-radius;
    }
    &::before,
    &::after {
        display: table;
        content: " ";
    }
    &::after {
        clear: both;
    }
}

span.no-items {
    display: inline-block;
    padding: 7px 6px;
    font-size: 12px;
    font-weight: bold;
}

.directories {
    .nav-pills {
        >li {
            >a {
                background-color: #ccc;
                border-radius: $nav-pills-border-radius;
                &:hover,
                &:focus {
                    color: black;
                    background-color: #bbb;
                }
            }
            &.active>a {
                color: white;
                background-color: $primary;
                &:hover,
                &:focus {
                    color: white;
                    background-color: darken($primary, 10%);
                }
            }
        }
    }
}