
$sidebar-width: 250px;
$sidebar-link-color: #a7b1c2;
$grid-gutter-width: 24px;
$font-size-base: .9rem;
$body-bg: #f9fbfd;
$body-color: #171818;
$primary: #000;

// Cards
$card-border-color: #efefef;
$card-cap-bg: white;
$card-border-radius: 7px;

$input-height: auto;
$input-padding-y: .75rem;
$input-padding-x: .75rem;

