.form-group {
    label {
        font-weight: $font-weight-bold;
    }

    &.image-editor {
        figure {
            margin: 0;
            border: 3px solid white;
            box-shadow: 0 0 3px rgba($black, .5);
        }
    }

    .color-picker {
        position: relative;

        &::before {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 0;
            display: block;
            content: "";
            background: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path fill="white" d="M1,0H2V1H1V0ZM0,1H1V2H0V1Z"/><path fill="gray" d="M0,0H1V1H0V0ZM1,1H2V2H1V1Z"/></svg>');
            background-size: .5em;
            border-radius: .15em;
        }
    }
}

.field-validation-error {
    text-align: center;
    color: $red;
    font-size: $font-size-sm;
    padding: 0.25rem !important;
    display: block !important;
}

.form-select,
.form-control {
    &.input-validation-error {
        border-color: $red;
    }

    &.valid {
        border-color: $green;
    }
}

.validation-summary {
    position: relative;
    padding: 1rem;
    display: none;
    border-radius: $border-radius;

    &.validation-summary-errors {
        border: 1px solid $danger;
        background-color: $red-100;
        color: $red-700;
        display: block;
    }

    &.validation-summary-valid {
        display: none;
    }

    ul {
        margin-bottom: 0;
        padding-left: 1rem;
    }
}
