.hood-image,
.img {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    img {
        display: none !important;
    }

    &.loading {
        i {
            position: absolute;
            top: 50%;
            @include transform(translateY(-50%));
        }

        &::before {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            content: "";
            background-color: rgba(255, 255, 255, .5);
        }
    }

    &.contain {
        background-size: contain;
    }

    &.auto {
        background-size: auto;
    }

    &.img-xxs {
        width: 1.5rem;
        height: 1.5rem;
    }

    &.img-xs {
        width: 3.25rem;
        height: 3.25rem;
    }

    &.img-sm {
        width: 5rem;
        height: 5rem;
    }

    &.img-md {
        width: 10rem;
        height: 10rem;
    }

    &.img-lg {
        width: 20rem;
        height: 20rem;
    }

    &.img-xl {
        width: 40rem;
        height: 40rem;
    }

    &.img-full {
        display: block;
        width: 100%;
    }

    &.img-square,
    &.img-standard,
    &.img-wide,
    &.img-mobile-card {
        &::after {
            /* 16:9 ratio */
            display: block;
            padding-top: 100%;
            content: "";
            background-size: contain;
        }
    }

    &.img-standard {
        &::after {
            padding-top: 33%;

            /* tall */
        }
    }

    &.img-wide {
        &::after {
            padding-top: 56.25%;

            /* 16:9 ratio */
        }
    }


    &.img-mobile-card {
        &::after {
            padding-top: 151.3%;

            /* tall */
        }
    }

    &.img-circle {
        border-radius: 50%;
    }
}

.post-content,
#post-content {

    &::before,
    &::after {
        display: table;
        content: " ";
    }

    &::after {
        clear: both;
    }

    img {
        max-width: 100%;
    }
}

img.user-image {
    display: block;
    max-width: 100%;

    &.full {
        width: 100%;
    }

    &.left {
        margin: 0 auto;
        margin-left: 0;
    }

    &.center {
        margin: 0 auto;
    }

    &.right {
        margin: 0 auto;
        margin-right: 0;
    }

    &.inline {
        display: inline-block;
        vertical-align: middle;

        &.top {
            vertical-align: top;
        }

        &.bottom {
            vertical-align: top;
        }
    }
}

.bg-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background-size: cover;
    backface-visibility: hidden;
    backface-visibility: hidden;

    img {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        min-width: 100%;
        min-height: 100%;
    }
}
