.nav-pills {
    &.nav-buttons {
        .nav-link {
            margin-bottom: .2rem;
            background: $gray-200;
            border-radius: .25rem;

            &.active {
                color: white;
                background: $primary;
            }
        }
    }
}
.dropdown-menu {
    .dropdown-item {
        padding: .5rem 2rem;
        padding-left: 1.5rem;

        i {
            padding: .5rem;
            padding-left: 0;
        }
    }

    a {
        cursor: pointer;
    }
}
