.validation-summary {
    position: relative;
    padding: 1rem;
    font-weight: $font-weight-bold;
    border: 1px solid $red;

    &.validation-summary-valid {
        display: none;
    }

    &.validation-summary-errors {
    }

    ul {
        padding: 0;
        margin: 0;

        li {
            padding: 3px;
            margin: 0;
            text-align: center;
            list-style-type: none;
        }
    }
}
