<ul class="nav nav-pills nav-stacked">
    <li class="@ManageNavPages.IndexNavClass(ViewContext)"><a asp-action="Index" asp-controller="Account">Profile</a></li>
    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext)"><a asp-action="ChangePassword" asp-controller="Account">Password</a></li>
    <li class="@ManageNavPages.DeleteAccountNavClass(ViewContext)"><a asp-action="Delete" asp-controller="Account">Delete Account</a></li>
</ul>

