@model IntegrationSettings
@{
    ViewData["Title"] = "Integration Settings";
    Layout = "_SettingsLayout";
}
@section buttons {
    <a asp-action="ResetIntegrations" class="btn btn-danger warning-alert" data-warning="This will completely reset these settings to their default state, are you sure!?"><i class="fa fa-refresh"></i> Reset to Default</a>
}
@section description {
<p class="no-margin">
    Choose what other services are used with your site from a selection of other plugins and APIs.
</p>
}
<div class="tabs-container">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#plugins">Plugins</a></li>
    </ul>
    <div class="tab-content">
        <div id="plugins" class="tab-pane active">
            <div class="panel-body">
                <strong>Site Plugins</strong>
                <p>
                    Turn on or off site features such as comments by <a href="http://www.disqus.com/">Disqus</a> or chat by <a href="http://www.unbeatable.com/">Unbeatable</a>.
                </p>
                <hr />
                <h5>Google API</h5>
                <div class="form-group">
                    <div class="checkbox">
                        <input asp-for="EnableGoogleMaps" class="styled">
                        <label asp-for="EnableGoogleMaps"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <input asp-for="EnableGoogleGeocoding" class="styled">
                        <label asp-for="EnableGoogleGeocoding"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" asp-for="GoogleMapsApiKey"></label>
                    <div>
                        <input asp-for="GoogleMapsApiKey" class="form-control">
                    </div>
                </div>
                <hr />
                <h5>Google Recaptcha (Invisible)</h5>
                <div class="form-group">
                    <div class="checkbox">
                        <input asp-for="EnableGoogleRecaptcha" class="styled">
                        <label asp-for="EnableGoogleRecaptcha"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" asp-for="GoogleRecaptchaSiteKey"></label>
                    <div>
                        <input asp-for="GoogleRecaptchaSiteKey" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" asp-for="GoogleRecaptchaSecretKey"></label>
                    <div>
                        <input asp-for="GoogleRecaptchaSecretKey" class="form-control">
                    </div>
                </div>
                <hr />
                <h5>Mailchimp API</h5>
                <div class="form-group">
                    <div class="checkbox">
                        <input asp-for="EnableMailchimp" class="styled">
                        <label asp-for="EnableMailchimp"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" asp-for="MailchimpApiKey"></label>
                    <div>
                        <input asp-for="MailchimpApiKey" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" asp-for="MailchimpUserListId"></label>
                    <div>
                        <input asp-for="MailchimpUserListId" class="form-control">
                    </div>
                </div>
                <hr />
                <h5>Loader Animation</h5>
                <div class="form-group">
                    <div class="checkbox">
                        <input asp-for="LoadingAnimation" class="styled">
                        <label asp-for="LoadingAnimation"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" asp-for="LoadingAnimationType"></label>
                    <div>
                        <select asp-for="LoadingAnimationType" class="form-control">
                            <option value="loader-inner ball-pulse">ball-pulse</option>
                            <option value="loader-inner ball-clip-rotate-pulse">ball-clip-rotate-pulse</option>
                            <option value="loader-inner square-spin">square-spin</option>
                            <option value="loader-inner ball-clip-rotate-multiple">ball-clip-rotate-multiple</option>
                            <option value="loader-inner ball-pulse-rise">ball-pulse-rise</option>
                            <option value="loader-inner ball-rotate">ball-rotate</option>
                            <option value="loader-inner cube-transition">cube-transition</option>
                            <option value="loader-inner ball-zig-zag">ball-zig-zag</option>
                            <option value="loader-inner ball-zig-zag-deflect">ball-zig-zag-deflect</option>
                            <option value="loader-inner ball-triangle-path">ball-triangle-path</option>
                            <option value="loader-inner ball-scale">ball-scale</option>
                            <option value="loader-inner line-scale">line-scale</option>
                            <option value="loader-inner line-scale-party">line-scale-party</option>
                            <option value="loader-inner ball-scale-multiple">ball-scale-multiple</option>
                            <option value="loader-inner ball-pulse-sync">ball-pulse-sync</option>
                            <option value="loader-inner ball-beat">ball-beat</option>
                            <option value="loader-inner line-scale-pulse-out">line-scale-pulse-out</option>
                            <option value="loader-inner line-scale-pulse-out-rapid">line-scale-pulse-out-rapid</option>
                            <option value="loader-inner ball-scale-ripple">ball-scale-ripple</option>
                            <option value="loader-inner ball-scale-ripple-multiple">ball-scale-ripple-multiple</option>
                            <option value="loader-inner ball-spin-fade-loader">ball-spin-fade-loader</option>
                            <option value="loader-inner line-spin-fade-loader">line-spin-fade-loader</option>
                            <option value="loader-inner triangle-skew-spin">triangle-skew-spin</option>
                            <option value="loader-inner pacman">pacman</option>
                            <option value="loader-inner ball-grid-beat">ball-grid-beat</option>
                            <option value="loader-inner semi-circle-spin">semi-circle-spin</option>
                        </select>
                    </div>
                </div>
                <hr />
                <h5>Hood CDN</h5>
                <div class="form-group">
                    <div class="checkbox">
                        <input asp-for="UseCDN" class="styled">
                        <label asp-for="UseCDN"></label>
                    </div>
                </div>
                <hr />
                <h5>Twitter</h5>
                <div class="form-group">
                    <div class="checkbox">
                        <input asp-for="EnableTwitter" class="styled">
                        <label asp-for="EnableTwitter"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" asp-for="TwitterId"></label>
                    <div>
                        <input asp-for="TwitterId" class="form-control">
                    </div>
                </div>
                <hr />
                <h5>Disqus</h5>
                <div class="form-group">
                    <div class="checkbox">
                        <input asp-for="EnableDisqus" class="styled">
                        <label asp-for="EnableDisqus"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" asp-for="DisqusId"></label>
                    <div>
                        <input asp-for="DisqusId" class="form-control">
                    </div>
                </div>
                <hr />
                <h5>Chat</h5>
                <div class="form-group">
                    <div class="checkbox">
                        <input asp-for="EnableChat" class="styled">
                        <label asp-for="EnableChat"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" asp-for="ChatCode"></label>
                    <div>
                        <textarea asp-for="ChatCode" class="form-control"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
