@model IntegrationSettings
@{
    ViewData["Title"] = "Integrations";
    Layout = "_Layout_Settings";
}
@section buttons {
    @if (User.IsAdminOrBetter())
    {
        <a asp-action="ResetIntegrations" class="btn btn-danger warning-alert" data-warning="This will completely reset these settings to their default state, are you sure!?"><i class="fa fa-refresh"></i> Reset to Default</a>
    }
}
<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" role="tablist" id="page-tabs">
            <li class="nav-item">
                <a class="nav-link active" id="google-tab" data-toggle="tab" href="#google" role="tab" aria-controls="google" aria-selected="false">
                    Google API
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="plugins-tab" data-toggle="tab" href="#plugins" role="tab" aria-controls="plugins" aria-selected="false">
                    Other Plugins
                </a>
            </li>
        </ul>
    </div>
    <div class="card-body p-4">
        <div class="tab-content">
            <div id="google" class="tab-pane in active" role="tabpanel" aria-labelledby="google-tab">
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input asp-for="EnableGoogleMaps" class="custom-control-input">
                        <label asp-for="EnableGoogleMaps" class="custom-control-label"></label>
                    </div>
                    <small asp-for="EnableGoogleMaps"></small>
                </div>
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input asp-for="EnableGoogleGeocoding" class="custom-control-input">
                        <label asp-for="EnableGoogleGeocoding" class="custom-control-label"></label>
                    </div>
                    <small asp-for="EnableGoogleGeocoding"></small>
                </div>
                <div class="form-group floating-label">
                    <label asp-for="GoogleMapsApiKey"></label>
                    <input asp-for="GoogleMapsApiKey" class="form-control">
                    <small asp-for="GoogleMapsApiKey"></small>
                </div>
                <hr class="mt-4 mb-4" />
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input asp-for="EnableGoogleRecaptcha" class="custom-control-input">
                        <label asp-for="EnableGoogleRecaptcha" class="custom-control-label"></label>
                    </div>
                    <small asp-for="EnableGoogleRecaptcha"></small>
                </div>
                <div class="form-group floating-label">
                    <label asp-for="GoogleRecaptchaSiteKey"></label>
                    <input asp-for="GoogleRecaptchaSiteKey" class="form-control">
                    <small asp-for="GoogleRecaptchaSiteKey"></small>
                </div>
                <div class="form-group floating-label">
                    <label asp-for="GoogleRecaptchaSecretKey"></label>
                    <input asp-for="GoogleRecaptchaSecretKey" class="form-control">
                    <small asp-for="GoogleRecaptchaSecretKey"></small>
                </div>
            </div>
            <div id="plugins" class="tab-pane" role="tabpanel" aria-labelledby="contact-tab">
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input asp-for="EnableMailchimp" class="custom-control-input">
                        <label asp-for="EnableMailchimp" class="custom-control-label"></label>
                    </div>
                    <small asp-for="EnableMailchimp"></small>
                </div>
                <div class="form-group floating-label">
                    <label asp-for="MailchimpApiKey"></label>
                    <input asp-for="MailchimpApiKey" class="form-control">
                    <small asp-for="MailchimpApiKey"></small>
                </div>
                <div class="form-group floating-label">
                    <label asp-for="MailchimpUserListId"></label>
                    <input asp-for="MailchimpUserListId" class="form-control">
                    <small asp-for="MailchimpUserListId"></small>
                </div>
                <hr class="mt-4 mb-4" />
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input asp-for="EnableTwitter" class="custom-control-input">
                        <label asp-for="EnableTwitter" class="custom-control-label"></label>
                    </div>
                    <small asp-for="EnableTwitter"></small>
                </div>
                <div class="form-group floating-label">
                    <label asp-for="TwitterId"></label>
                    <input asp-for="TwitterId" class="form-control">
                    <small asp-for="TwitterId"></small>
                </div>
                <hr />
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input asp-for="DisqusId" class="custom-control-input">
                        <label asp-for="DisqusId" class="custom-control-label"></label>
                    </div>
                    <small asp-for="DisqusId"></small>
                </div>
                <div class="form-group floating-label">
                    <label asp-for="DisqusId"></label>
                    <input asp-for="DisqusId" class="form-control">
                    <small asp-for="DisqusId"></small>
                </div>
                <hr />
                <h5>Chat</h5>
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input asp-for="EnableChat" class="custom-control-input">
                        <label asp-for="EnableChat" class="custom-control-label"></label>
                    </div>
                    <small asp-for="EnableChat"></small>
                </div>
                <div class="form-group floating-label">
                    <label asp-for="ChatCode"></label>
                    <textarea asp-for="ChatCode" class="form-control"></textarea>
                    <small asp-for="ChatCode"></small>
                </div>
            </div>
        </div>
    </div>
</div>
