@model Log
@if (Model.EntityId.IsSet())
{
    switch (Model.EntityType)
    {
        case nameof(ApiKey):
            <div class="form-group">
                <label class="col-sm-4 control-label">Api Key</label>
                <div class="col-sm-6">
                    <p class="form-control-static">
                        <a asp-action="ShowKey" asp-controller="Api" asp-route-id="@Model.EntityId">
                            Show key
                        </a>
                    </p>
                </div>
            </div>
            break;
        case nameof(ApiEvent):
            <div class="form-group">
                <label class="col-sm-4 control-label">Api Event</label>
                <div class="col-sm-6">
                    <p class="form-control-static">
                        <a asp-action="ShowEvent" asp-controller="Api" asp-route-id="@Model.EntityId">
                            Show Event
                        </a>
                    </p>
                </div>
            </div>
            break;
    }
}
