@model LogListModel
@{
    Layout = null;
}
<p class="text-center">Last refreshed at: @DateTime.Now.ToShortDateString() at @DateTime.Now.ToLongTimeString()</p>
<div class="row">
    <div class="col-sm-12">
        @if (Model.List.Count > 0)
        {
            @foreach (var lot in Model.List)
            {
                await Html.RenderPartialAsync("_LogListTemplate", lot);
            }
            <div class="text-center m-t-md">
                @{ await Html.RenderPartialAsync("_LogPagination"); }
            </div>
        }
        else
        {
            <div class="alert alert-info">
                <p class="text-center m-t-xs m-b-lg">There are no logs to view yet, logs will appear once users are using the system.</p>
            </div>
        }
    </div>
</div>
