@{
    Layout = "_BasicLayout";
    ViewData["SubTitle"] = ViewData["Title"];
    ViewData["Title"] = "Manage your account";
}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            @RenderSection("avatar", required: false)
            @await Html.PartialAsync("_ManageNav")
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>
@section Scripts {
    @RenderSection("Scripts", required: false)
}

