@model ContentCategory
@inject ContentCategoryCache _categories
@{
    Layout = null;
    var formAction = Url.Action("EditCategory");
    if (Model.Id == 0)
    {
        formAction = Url.Action("CreateCategory");
    }
}
<div class="modal fade modal-right media-blade" id="content-category-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-blade" role="document">
        <form id="content-categories-edit-form" action="@formAction" asp-antiforgery="true" autocomplete="off" class="modal-content">
            <div class="modal-header bg-dark text-white">
                <div>
                @if (Model.Id == 0)
                {
                    <h5 class="modal-title">
                        Add a category
                    </h5>
                    <p class="m-0 text-muted">
                        <i class="fa fa-plus-circle mr-2"></i>  Create a new category to group your content together
                    </p>
                }
                else
                {
                    <h5 class="modal-title">
                        Edit '@Model.DisplayName''
                    </h5>
                    <p class="m-0 text-muted">
                        <i class="fa fa-user-plus mr-2"></i> Edit and save the category. All content in the category will remain.
                    </p>
                }
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input asp-for="Id" type="hidden" />
                <input asp-for="ContentType" type="hidden" />
                <div class="form-group floating-label">
                    <input asp-for="DisplayName" class="form-control" />
                    <label asp-for="DisplayName" class="control-label"></label>
                </div>
                <div class="form-group floating-label">
                    <input asp-for="Slug" class="form-control" />
                    <label asp-for="Slug" class="control-label"></label>
                </div>
                <div class="form-group floating-label">
                    <select asp-for="ParentCategoryId" class="form-control">
                        <option>No Parent</option>
                        @_categories.CategorySelectOptions(Model.Categories, Model.ParentCategoryId)
                    </select>
                    <label asp-for="ParentCategoryId" class="control-label"></label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="content-categories-edit-submit" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal" aria-label="Close"><i class="fa fa-ban"></i> Cancel</button>
            </div>
        </form>
    </div>
</div>
