@model EditContentModel
@{
    Layout = null;
}
<div class="wrapper-content">
    <div class="designer">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <form method="post" id="content-blade-form" data-id="@Model.Content.Id">
                    <input type="hidden" id="Id" name="Id" value="@Model.Content.Id" />
                    <label for="Slug" class="control-label">Preview size</label>
                    <div>
                        <select id="preview-size" class="form-control m-b-sm">
                            <option>Full Size</option>
                            <option value="iphone5">iPhone 5</option>
                            <option value="iphone6">iPhone 6</option>
                            <option value="ipad-portrait">iPad Portrait</option>
                            <option value="ipad-landscape">iPad Landscape</option>
                            <option value="laptop">Laptop Small</option>
                            <option value="full">Laptop Large</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="ibox-content">
                <iframe class="designer-window" id="designer-window" src="@Url.Action("Show", "Content", new { area = "", id = Model.Content.Id, editMode = true })"></iframe>
            </div>
        </div>
    </div>
</div>
