@model ContentModel
<input type="hidden" asp-for="PageIndex" />
<input type="hidden" asp-for="PageSize" />
@if (Model.ContentType.ShowCategories)
{
    <div id="content-categories-list" class="hood-inline-list" data-url="@Url.Action("Categories")" data-complete="$.hood.Content.Lists.Categories.Loaded">
        <partial name="_List_Categories" />
    </div>
}
<div class="card mb-3">
    <div class="card-header position-relative" id="content-search-panel-heading">
        <p class="card-title m-0 font-weight-bold">
            <a class="stretched-link text-dark text-decoration-none" data-toggle="collapse" data-target="#content-search-panel" href="#content-search-panel" aria-expanded="true" aria-controls="content-search-panel">
                Search Filters
                <i class="fe fe-arrow-up mt-1"></i>
            </a>
        </p>
    </div>
    <div class="card-body collapse show" aria-labelledby="content-search-panel-heading" id="content-search-panel">
        <div class="form-group floating-label">
            <label asp-for="Order"></label>
            <select class="form-control refresh-on-change" asp-for="Order">
                <option value="PublishDesc">Recently Published</option>
                <option value="Publish">Published Date (Oldest-Newest)</option>
                <option value="DateDesc">Newest First</option>
                <option value="Date">Oldest First</option>
                <option value="Title">By Title (A-Z)</option>
                <option value="TitleDesc">By Title (Z-A)</option>
            </select>
            <small asp-for="Order"></small>
        </div>
        <div class="form-group floating-label">
            <label asp-for="Search"></label>
            <input asp-for="Search" type="text" placeholder="Search" class="form-control">
            <small asp-for="Search"></small>
        </div>
        <button type="submit" class="btn btn-success btn-block"> Search</button>
    </div>
</div>
