@model EditContentModel
@{
    Layout = null;
}
@if (Model.Content.Categories?.Count > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Category</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (ContentCategory media in Model.Content.Categories.Select(c => c.Category))
            {
                <tr>
                    <td>@media.DisplayName</td>
                    <td class="text-right"><a class="btn btn-xs btn-danger hood-inline-task" asp-action="RemoveCategory" asp-route-category="@media.DisplayName" data-complete="$.hood.Inline.Refresh('.categories')">Delete</a></td>
                </tr>
            }
        </tbody>
   </table>
}
else
{
    <p>No categories set...</p>
}