@model ContentCategory
@inject ContentCategoryCache _categories
@{
    Layout = null;
}
<div class="sidebar-container" id="content-field-observable" data-id="@Model.Id">
    <div class="sidebar-title">
        <button type="button" class="close close-blade"><span>&times;</span></button>
        <h3><i class="fa fa-thumb-tack"></i> Edit Category.</h3>
        <small><i class="fa fa-plus-circle"></i> Edit the '@Model.DisplayName' category.</small>
    </div>
    <form id="edit-content-category-form">
        <input asp-for="Id" type="hidden" />
        <input asp-for="ContentType" type="hidden" />
        <div class="blade-field">
            <label asp-for="DisplayName" class="control-label"></label>
            <div>
                <input asp-for="DisplayName" class="form-control" />
            </div>
        </div>
        <div class="blade-field">
            <label asp-for="Slug" class="control-label"></label>
            <div>
                <input asp-for="Slug" class="form-control" />
            </div>
        </div>
        <div class="blade-field">
            <label asp-for="ParentCategoryId" class="control-label"></label>
            <div>
                <select asp-for="ParentCategoryId" class="form-control">
                    <option>No Parent</option>
                    @_categories.CategorySelectOptions(Model.Categories, Model.ParentCategoryId.ToString())
                </select>
            </div>
        </div>
        <div class="blade-field">
            <button type="button" class="btn btn-primary save-content-category"><i class="fa fa-save"></i> Save</button>
            <button type="button" class="btn btn-default close-blade"><i class="fa fa-ban"></i> Cancel</button>
        </div>
    </form>
</div>
