div.content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: scroll;
    overflow-x: hidden;
    top: 59px;
    padding: $grid-gutter-width / 2;

    @media (min-width:768px) {
        padding: $grid-gutter-width;
    }

    @media (min-width:768px) {
        left: $sidebar-width;
        top: 0;
    }

    @import "content/title";
    @import "content/footer";
    @import "content/breadcrumb";
    @import "content/body";
}
