@model BillingHomeModel
@{
    ViewBag.Title = "Billing";
    ViewBag.SubTitle = "This is the billing area, where customers can see their previous invoices, update their subcsriptions and credit card information.";
}
<alert type="@Model.MessageType" size="Medium" icon="fa-save">@Model.SaveMessage</alert>
<div class="row">
    <div class="col-md-7">
        @if (Model.NextInvoice != null)
        {
            <div class="panel panel-default">
                <div class="panel-heading">Your next payment</div>
                <div class="panel-body">
                    <partial name="_Invoice" model="Model.NextInvoice" />
                </div>
            </div>
        }
        else
        {
            <alert type="Success" icon="fa fa-info-circle">
                You have no upcoming payments...
            </alert>
        }
        @if (Model.Invoices != null && Model.Invoices.Count() != 0)
        {
            <div class="panel panel-default">
                <div class="panel-heading">Your previous invoices</div>
                <div class="panel-body">
                    <div class="accordion">
                        @foreach (Stripe.Invoice invoice in Model.Invoices)
                        {
                            <partial name="_Invoice" model="invoice" />
                        }
                    </div>
                </div>
            </div>
        }
        else
        {
            <alert type="Success" icon="fa fa-info-circle">
                You have no invoices to show...
            </alert>
        }
    </div>
    <div class="col-md-5">
        @if (Model.Subscriptions?.Count > 0)
        {
            <div class="card mb-4">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="m-0">Your Subscriptions</h6>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                        @foreach (var subscription in Model.Subscriptions)
                        {
                            <partial name="_Subscription" model="subscription" />
                        }
                </div>
            </div>
        }
        else
        {
            <alert type="Success" icon="fa fa-info-circle">
                You do not have any active subscriptions.<br />
                <a asp-action="Select" asp-controller="Subscriptions" class="btn btn-xs btn-success"><i class="fa fa-user-plus m-r-xs"></i>Get a package</a>
            </alert>
        }
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h6 class="m-0">Your Cards</h6>
                    </div>
                    <div class="col-auto">
                        <a class="btn btn-sm btn-success pull-right pull-right hood-modal" asp-action="AddCard" data-complete="$.hood.Stripe.PaymentMethods.Add">
                            <i class="fab fa-cc-visa mr-2"></i>
                            Add card
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="payment-method-list" class="hood-inline" data-url="@Url.Action("PaymentMethods")">
                    <alert icon="fa fa-2x fa-cog fa-spin" size="Epic" type="Light" class="text-center mb-0">Loading payment methods...</alert>
                </div>
            </div>
        </div>
    </div>
</div>
