@model EditContentModel
@if (Model.ContentType.BaseName != "Page" && 
     Model.ContentType.BaseName != "Product" && 
     Model.ContentType.BaseName != "Team" && 
     Model.ContentType.BaseName != "Slider" &&
     Model.Content.Metadata.Where(c => c.Name.ToLower().StartsWith("content." + Model.ContentType.BaseName.ToLower() + ".")).Count() > 0)
{ 
    <li class=""><a data-toggle="tab" href="#type" aria-expanded="false"> @Model.ContentType.BaseName Settings</a></li>
}
@if (Model.ContentType.Templates)
{ <li class=""><a data-toggle="tab" href="#template" aria-expanded="false"> Template Settings</a></li> }
@if (Model.ContentType.Gallery)
{ <li class=""><a data-toggle="tab" href="#media" aria-expanded="false"> Images &amp; Media</a></li> }
@if (Model.Content.Metadata.Where(c => c.Name.StartsWith("SEO.")).Count() > 0)
{ <li class=""><a data-toggle="tab" href="#seo" aria-expanded="false"> SEO Settings</a></li>}
@if (Model.Content.Metadata.Where(c => c.Name.StartsWith("Custom.")).Count() > 0)
{ <li class=""><a data-toggle="tab" href="#custom" aria-expanded="false"> Custom Fields</a></li> }
@if (Model.Content.Metadata.Where(c => c.Name.StartsWith("Settings.Image.")).Count() > 0 || Model.Content.Metadata.Where(c => c.Name.StartsWith("Settings.Security.")).Count() > 0)
{ <li class=""><a data-toggle="tab" href="#settings" aria-expanded="false"> Other Settings</a></li> }
