@model PostModel
@if (User.Identity.IsAuthenticated)
{
    <form method="post" id="forum-post-form">
        <fieldset>
            <input asp-for="Post.ReplyId" type="hidden" />
            <input asp-for="Post.Id" type="hidden" />
            <div class="form-group">
                <label class="control-label">Your message</label>
                <div class="">
                    <textarea asp-for="Post.Body" type="text" class="form-control tinymce-public" data-apikey="im5cz6mwvyzb4wnmt2m9uylj2oqrlolmxmow161fioddtgy0"></textarea>
                    <span asp-validation-for="Post.Body"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="text-center">
                    <button type="submit" class="btn btn-primary"><span>Post message</span></button>
                </div>
            </div>
        </fieldset>
    </form>
}
else
{
    <div id="forum-post-form">@Html.BootstrapAlert("Log in to add your message to this topic.", AlertType.Info)</div>
}

