@model TopicModel
<div class="sidebar-widget m-b-lg">
    <h4>Search topics...</h4>
    <hr />
    <form>
        <div class="row">
            <div class="col-xs-8">
                <label for="search" class="hidden">Search</label>
                <input class="form-control" type="text" asp-for="Search" placeholder="Search Here" name="search">
            </div>
            <div class="col-xs-4">
                <button class="btn btn-block" type="submit">Search</button>
            </div>
        </div>
    </form>
</div>
