@{    
    Layout = null;
    var cssClass = Context.Request.Query["class"];
}
<div class="hood-block">
    <div class="hood-block-general tinymce-simple @cssClass">
        <h2>Dummy general content...</h2>
        <p>Dummy general content paragraph.</p>
    </div>
</div>
