@model UserSubscriptionListModel
@{
    ViewBag.Title = "Subscribers";
}
@section buttons {
    <a class="btn btn-success hood-modal" asp-action="Create" data-complete="$.hood.Property.Create">
        <i class="fa fa-user-plus mr-2"></i>
        Create New
    </a>
    <button type="button" class="btn btn-outline-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-ellipsis-h"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-right">
    </div>
}
@if (Model.SaveMessage.IsSet())
{
    <alert type="@Model.MessageType" size="Medium" icon="fa-save">@Model.SaveMessage</alert>;
}
<form class="inline" data-target="#subscriptions-subscribers-list">
    <div class="row">
        <div class="col-lg-8 mb-3">
            <div id="subscriptions-subscribers-list" class="hood-inline-list refresh query" data-url="@Url.Action("SubscribersList")" data-complete="$.hood.Subscriptions.Lists.Subscribers.Loaded">
                <partial name="_List_Subscribers" />
            </div>
        </div>
        <div class="col-lg-4">
            <partial name="_Filters_Subscribers" />
        </div>
    </div>
</form>