@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Forgotten Password";
}
<div class="login-block-header">
    <h2>@ViewData["Title"]</h2>
    <p class="text-info">
        Please check your email to reset your password.
    </p>
</div>
<p><a asp-action="Login" class="btn btn-block">Return to log in...</a></p>
