@{
    ViewData["Title"] = $"Events Layout";
    ViewData["SubTitle"] = "This is the Events Layout - it can be overwritten in your theme directory by copying <code>/Views/Layouts/_EventsLayout.cshtml</code> to match in your themes directory <code>/Themes/{YOURTHEME}/Views/Layouts/_EventsLayout.cshtml</code>";

    Layout = "_BasicLayout";
}
<section class="container">
    @RenderBody()
</section>
