@{
    ViewData["Title"] = $"Forum Layout";
    ViewData["SubTitle"] = "This is the Forum Layout - it can be overwritten in your theme directory by copying <code>/Views/Layouts/_Layout_Forum.cshtml</code> to match in your themes directory <code>/Themes/{YOURTHEME}/Views/Layouts/_Layout_Forum.cshtml</code>";
}
@section styles {
    @RenderSection("styles", required: false)
}
@section metas {
    @RenderSection("metas", required: false)
}
<section class="container">
    @RenderBody()
</section>
